page-transactions {
    img.big-icon {
        display: block;
        width: 100%;
        height: auto;
    }


    // loading animation
    .mini-loader,
    .mini-loader:before,
    .mini-loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
    }
    .mini-loader {
        color: #006599;
        font-size: 10px;
        margin: 80px auto;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .mini-loader:before,
    .mini-loader:after {
        content: '';
        position: absolute;
        top: 0;
    }
    .mini-loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .mini-loader:after {
        left: 3.5em;
    }

    progress-bar .progress-outer {
        border: 0 !important;
        padding: 0 !important;
    }

    progress-bar .progress-inner {
        height: 20px;
        padding: 2px !important;
        min-width: 20px !important;
    }
}
