<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'HISTORY'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!loading">

        <ion-item no-lines>
            <ion-segment [(ngModel)]="display_segment" color="primary">
                <ion-segment-button value="transactions">
                    {{ "TRANSACTIONS" | translate}}
                </ion-segment-button>
                <ion-segment-button value="deposits">
                    {{ "HISTORY.LOCKS" | translate}}
                </ion-segment-button>
            </ion-segment>
        </ion-item>

        <div *ngIf="display_segment=='transactions'">

            <ion-row class="order-selectors">
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <ion-item class="no-padding no-color-border">
                        <ion-label>{{"HISTORY.ASSETS_LIST"|translate}}</ion-label>
                        <ion-select [(ngModel)]="asset" (ionChange)="updateFilters(asset, addresses)">
                            <ion-option *ngFor="let asset of assets" value="{{asset}}">{{asset}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <ion-item class="no-padding no-color-border">
                        <ion-label>{{"HISTORY.ADDRESSES_LIST"|translate}}</ion-label>
                        <ion-select [(ngModel)]="addresses" multiple="true" (ionChange)="updateFilters(asset, addresses)" #selectAddresses>
                            <ion-option *ngIf="!allSelected" [value]="'all'" (ionSelect)="selectAll()">{{"HISTORY.SELECT_ALL"|translate}}</ion-option>
                            <ion-option *ngIf="allSelected" [value]="'none'" (ionSelect)="selectNone()">{{"HISTORY.SELECT_NONE"|translate}}</ion-option>
                            <ion-option *ngFor="let address of allAddresses" [value]="address" [selected]="selected">{{address}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-list [hidden]="!txs.length">

                <div *ngFor="let tx of txs | orderBy: ['confirmed_at', '1']">
                    <tx-item *ngIf="tx && !tx.confirmed_at" [tx]="tx" [hexTx]="''" [status]="'PENDING'" [height]="height" [mode]="'summary'"
                        [addresses]="addresses"></tx-item>
                </div>

                <div *ngFor="let tx of txs | paginate: { itemsPerPage: items_per_page, currentPage: page_tx }">
                    <tx-item *ngIf="tx && tx.confirmed_at" [tx]="tx" [hexTx]="''" [status]="'MINED'" [height]="height" [mode]="'summary'"
                        [addresses]="addresses"></tx-item>
                </div>
            </ion-list>
            <pagination-controls (pageChange)="pageChange($event)" *ngIf="txs && txs.length > items_per_page"></pagination-controls>

            <div [hidden]="txs && txs.length">
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col width-67>
                        <img class="big-icon" [src]="icon" (error)="errorImg($event)">
                    </ion-col>
                    <ion-col></ion-col>
                </ion-row>

                <ion-card-content>
                    <ion-card-title class="center" [translate]="'HISTORY.NO_TXS_YET'"></ion-card-title>
                    <p class="center" [translate]="'HISTORY.NO_TXS_YET_TEXT'">
                    </p>
                </ion-card-content>
            </div>
        </div>

        <div *ngIf="display_segment=='deposits'">
            <ion-row class="order-selectors" [hidden]="frozen_outputs_locked.length < 2 && frozen_outputs_unlocked.length < 2">
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <ion-item class="no-padding no-color-border">
                        <ion-label>{{"HISTORY.ORDER_BY"|translate}}</ion-label>
                        <ion-select [(ngModel)]="order_by">
                            <ion-option value="locked_until">{{"HISTORY.ORDER_BY_UNLOCK_HEIGHT"|translate}}</ion-option>
                            <ion-option value="height">{{"HISTORY.ORDER_BY_HEIGHT"|translate}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                    <ion-item class="no-padding no-color-border">
                        <ion-label>{{"HISTORY.DIRECTION"|translate}}</ion-label>
                        <ion-select [(ngModel)]="direction">
                            <ion-option value="0">{{"HISTORY.DIRECTION_EARLIEST_TOP"|translate}}</ion-option>
                            <ion-option value="1">{{"HISTORY.DIRECTION_LATEST_TOP"|translate}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-list [hidden]="!frozen_outputs_locked.length">
                <h2 class="center">{{"HISTORY.FROZEN_TX"|translate}}</h2>
                <ion-item *ngFor="let output of frozen_outputs_locked | orderBy: [order_by, direction]">
                    <ion-item no-lines>
                        <ion-avatar item-start>
                            <img class="coinlogo" [src]="icon" onerror="this.src='assets/icon/default_mst.png'">
                        </ion-avatar>
                        <h1>{{asset}}</h1>
                        <p *ngFor="let transaction of output.transactions">{{'TRANSACTION'|translate}}: <a href="{{explorerURL(transaction)}}"
                                target="_blank">{{transaction}}</a></p>
                        <p>{{'AMOUNT'|translate}}:
                            <span *ngIf="asset == 'ETP'">{{output.value | format : output.attachment.decimals}}</span>
                            <span *ngIf="asset != 'ETP'">{{output.attenuation_model_param.lock_quantity | format :
                                output.attachment.decimals}}</span>
                        </p>
                        <p>{{'LOCKED_SINCE'|translate}}: {{output.height}} ({{output.confirmed_at*1000 | date :
                            'medium'}})</p>
                        <p>{{'LOCKED_UNTIL'|translate}}: {{output.locked_until}} (~{{((output.locked_until - height) *
                            blocktime * 1000) + current_time |date : 'medium'}})*</p>
                        <p>{{'LOCKED_FOR_BLOCKS'|translate}}: {{asset == 'ETP' ? output.locked_until-output.height :
                            output.attenuation_model_param.lock_period}} {{'BLOCKS'|translate}}</p>
                        <div *ngIf="output.height<= height">
                            <progress-bar *ngIf="height<=output.locked_until && depositProgress(output.height, output.locked_until)>0"
                                [progress]="depositProgress(output.height, output.locked_until)"></progress-bar>
                        </div>
                    </ion-item>
                </ion-item>
            </ion-list>

            <ion-row [hidden]="!frozen_outputs_locked.length">
                <ion-col>
                    <p align="center">{{"HISTORY.UNLOCK_APPROXIMATION_INFORMATION" | translate}}</p>
                </ion-col>
            </ion-row>

            <ion-list [hidden]="!frozen_outputs_unlocked.length">
                <h2 class="center">{{"HISTORY.UNFROZEN_TX"|translate}}</h2>
                <ion-item *ngFor="let output of frozen_outputs_unlocked | orderBy: [order_by, direction] | paginate: { itemsPerPage: items_per_page, currentPage: page_deposit_unlocked }">
                    <ion-item no-lines>
                        <ion-avatar item-start>
                            <img class="coinlogo" [src]="icon" onerror="this.src='assets/icon/default_mst.png'">
                        </ion-avatar>
                        <h1>{{asset}}</h1>
                        <p *ngFor="let transaction of output.transactions">{{'TRANSACTION'|translate}}: <a href="{{explorerURL(transaction)}}"
                                target="_blank">{{transaction}}</a></p>
                        <p>{{'AMOUNT'|translate}}:
                            <span *ngIf="asset == 'ETP'">{{output.value | format : output.attachment.decimals}}</span>
                            <span *ngIf="asset != 'ETP'">{{output.attenuation_model_param.lock_quantity | format :
                                output.attachment.decimals}}</span>
                        </p>
                        <p>{{'LOCKED_SINCE'|translate}}: {{output.height}} ({{output.confirmed_at*1000|date :
                            'medium'}})</p>
                        <p>{{'LOCKED_UNTIL'|translate}}: {{output.locked_until}}</p>
                        <p>{{'LOCKED_FOR_BLOCKS'|translate}}: {{asset == 'ETP' ? output.locked_until-output.height :
                            output.attenuation_model_param.lock_period}} {{'BLOCKS'|translate}}</p>
                        <div *ngIf="output.height<= height">
                            <progress-bar *ngIf="height>output.locked_until" [progress]="100" [color]="'#32db64'"></progress-bar>
                        </div>
                    </ion-item>
                </ion-item>
                <pagination-controls (pageChange)="page_deposit_unlocked = $event" *ngIf="frozen_outputs_unlocked && frozen_outputs_unlocked.length > items_per_page"></pagination-controls>
            </ion-list>

            <div [hidden]="frozen_outputs_unlocked.length || frozen_outputs_locked.length">
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col width-67>
                        <img class="big-icon" [src]="icon" onerror="this.src='assets/icon/default_mst.png'">
                    </ion-col>
                    <ion-col></ion-col>
                </ion-row>

                <ion-card-content>
                    <ion-card-title class="center" [translate]="'HISTORY.NO_LOCK_YET'"></ion-card-title>
                </ion-card-content>
            </div>
        </div>
    </div>
    <div class="mini-loader" *ngIf="loading"></div>
</ion-content>