page-transactions {
    img.big-icon {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    progress-bar .progress-outer {
        border: 0 !important;
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important;
    }

    progress-bar .progress-inner {
        height: 20px;
        padding: 0 !important;
        min-width: 20px !important;
        border-radius: 0 !important;
    }

    .no-padding {
        padding: 0;
    }

    .no-padding .item-cover {
        margin-left: 0 !important;
    }

    .center {
        text-align: center;
    }

    .order-selectors {
        margin-left: 10px;
        margin-right: 10px;
    }
}
