<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{'HISTORY'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!loading">
        <ion-item [hidden]="!txs.length" *ngFor="let tx of txs">
            <!-- <ion-icon name="{{(tx.side=='in')?'arrow-down':'arrow-up'}}" item-start large color="{{(tx.side=='in')?'secondary':'danger'}}"></ion-icon> -->
            <ion-avatar>
                <img class="coinlogo" [src]="'assets/icon/'+asset+'.png'" onerror="this.src='assets/icon/default.png'">
                <h2>{{symbol|translate}}</h2>
            </ion-avatar>
            <h3 *ngIf="tx.quantity>0">{{'AMOUNT'|translate}}: {{formatQuantity((tx.quantity)?tx.quantity:0,tx.asset.decimals)}}</h3>
            <!-- <h3 *ngIf="!tx.quantity">{{'TRANSACTION.INNER_WALLET'|translate}}</h3> -->
            <h3>{{'DATE'|translate}}: {{tx.confirmed_at*1000|date : 'medium'}}</h3>
            <a href="{{explorerURL(tx.hash)}}" target="_blank">{{tx.hash}}</a>
        </ion-item>
    </ion-list>
    <div [hidden]="txs && txs.length" *ngIf="!loading">
        <ion-row>
            <ion-col></ion-col>
            <ion-col width-67>
                <img class="big-icon" [src]="'assets/icon/'+asset+'.png'" onerror="this.src='assets/icon/default.png'">
            </ion-col>
            <ion-col></ion-col>
        </ion-row>

        <ion-card-content>
            <ion-card-title class="center" [translate]="'HISTORY.NO_TXS_YET'"></ion-card-title>
            <p class="center" [translate]="'HISTORY.NO_TXS_YET_TEXT'">
            </p>
        </ion-card-content>
    </div>
    <div class="mini-loader" *ngIf="loading"></div>
</ion-content>
