page-auth-confirm {

    .count-down, .count-down .digital {
        color: black;
        font-size: 16px;
    }

    .count-down {
        font-family: inherit;
    }

    .right-buttons {
        float: right;
        height: 40px;
        margin: 0 !important;
    }

    .right {
        text-align: right;
    }

    ion-card ion-col {
        text-overflow: initial;
        white-space: initial;
    }

    ion-row ion-row {
        padding-bottom: 10px;
    }

    .top-info {
        margin-bottom: 20px;
    }

}
