<ion-header>
    <ion-navbar>
        <ion-title>{{"AUTHENTICATION.TITLE"|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row class="top-info">
        <ion-col>
            <p align="center">
                {{"AUTH.INFORMATION" | translate}}
            </p>
        </ion-col>
    </ion-row>

    <ion-item *ngIf="verifiedToken && !verifiedToken.target">
        <ion-label color="primary" floating>{{"AVATAR" | translate}}</ion-label>
        <ion-select #selectAvatar [(ngModel)]="avatar" name="avatar" multiple="false" okText="{{'OK'|translate}}"
            cancelText="{{'CANCEL'|translate}}" (ionChange)="onAvatarSelectChange(avatar)">
            <ion-option *ngFor="let avatar of avatars" value="{{avatar}}">{{avatar}}</ion-option>
        </ion-select>
    </ion-item>

    <form #signForm="ngForm" *ngIf="verifiedToken && verifiedToken.target" no-lines>

        <h2>{{"AUTH.VERIFY_TITLE" | translate}}</h2>

        <ion-card col-12 col-sm-12 col-md-12 col-lg-6>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-row>
                                <ion-col>{{"AUTH.VERIFY_SOURCE" | translate}}</ion-col>
                                <ion-col class="right">{{verifiedToken.source}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"AUTH.VERIFY_AVATAR" | translate}}</ion-col>
                                <ion-col class="right">{{verifiedToken.target}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"AUTH.VERIFY_HOST" | translate}}</ion-col>
                                <ion-col class="right">{{hostname}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"AUTH.VERIFY_REMAINING_TIME" | translate}}</ion-col>
                                <ion-col class="right">
                                    <countdown [config]="{leftTime: leftTime}">$!m!:$!s!</countdown>
                                </ion-col>
                            </ion-row>
                            <div *ngIf="showDetails">
                                <ion-row>
                                    <ion-col>{{"AUTH.VERIFY_CALLBACK" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedToken.callback}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>{{"AUTH.VERIFY_TIME_OF_REQUEST" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedToken.time*1000|date : 'medium'}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>{{"AUTH.VERIFY_REQUEST_DURATION" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedToken.timeout}}{{"SECONDS" | translate}}</ion-col>
                                </ion-row>
                            </div>
                            <ion-row>
                                <ion-col>
                                    <button type="button" ion-button item-right icon-left class="right-buttons" (click)="showDetails = !showDetails">
                                        <ion-icon *ngIf="!showDetails" name="arrow-down"></ion-icon>
                                        <ion-icon *ngIf="showDetails" name="arrow-up"></ion-icon>
                                        <span *ngIf="!showDetails">{{'SHOW_DETAILS'|translate}}</span>
                                        <span *ngIf="showDetails">{{'HIDE_DETAILS'|translate}}</span>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card>

        <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
            <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
            <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
        </ion-item>
        <br>

        <ion-item *ngIf="sourceSignature == ''">
            <ion-label id="disclaimer-agree-label" text-wrap>{{"AUTH.NO_SIG_AGREE"|translate}}</ion-label>
            <ion-checkbox name="no_sig_agreed" [(ngModel)]="no_sig_agreed" id="no-sig-agree"></ion-checkbox>
        </ion-item>

        <ion-row>
            <ion-col>
                <button type="submit" ion-button full [disabled]="!signForm.form.valid||!validPassword(passphrase)||(sourceSignature == '' && !no_sig_agreed)"
                    (click)="signAndSend(passphrase)" icon-left color="secondary">
                    <ion-icon name="send"></ion-icon>
                    {{'CONFIRM_TX.SIGN_AND_SEND'|translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>

</ion-content>