<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "SIGN_TX" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">

    <form #signTxForm="ngForm" class="padding-bottom">

        <h3>{{"SIGN_TX.PAGE_TITLE" | translate}}</h3>

        <ion-item>
            <ion-label>{{"TX.SELECT_MODE"|translate}}</ion-label>
            <ion-select [(ngModel)]="mode" name="mode" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                <ion-option selected="true" value="default">{{"TX.MODE.DEFAULT"| translate}}</ion-option>
                <ion-option value="satoshi">{{"TX.MODE.SATOSHI"| translate}}</ion-option>
                <ion-option value="hex">{{"TX.MODE.HEX"| translate}}</ion-option>
            </ion-select>
        </ion-item>

        <tx-item *ngIf="displayedTx" [tx]="displayedTx" [hexTx]="hexTx" [mode]="mode" [status]="status" [multisig]="multisig"
            [addresses]="addresses"></tx-item>

        <ion-item *ngIf="!allMyInputs" no-lines class="wrong-input">{{"TX.INPUTS_NOT_ALL_MINE" | translate}}</ion-item>

        <ion-item *ngIf="status != 'SIGNED'" [ngClass]="{'error-border': !validPassword(passphrase)}">
            <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
            <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
        </ion-item>
        <br>
        <ion-item class="toggle-input" *ngIf="multisig.status != 'MULTISIG'">
            <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
            <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
        </ion-item>
        <div *ngIf="showAdvanced || multisig.status == 'MULTISIG'">

            <ion-col *ngIf="status != 'SIGNED'">
                <button ion-button full icon-left [disabled]="!signTxForm.form.valid||!validPassword(passphrase)||(multisig.status == 'MULTISIG' && multisig.selfSigned)" (click)="preview()"
                    color="primary">
                    <ion-icon name="create"></ion-icon>
                    {{"CONFIRM_TX.SIGN_ONLY" | translate}}
                </button>
                <ion-item *ngIf="multisig.status == 'MULTISIG' && multisig.selfSigned" no-lines class="wrong-input">{{"MULTISIG_ALREADY_SIGNED" | translate}}</ion-item>
            </ion-col>

            <div *ngIf="signedTx">
                <br>
                <h4>{{"TRANSACTION_PREVIEW.TEXT_SIGNED"|translate}}</h4>
                <textarea fz-elastic ion-input full class="rawtx" type="text" #copySignedTx value="{{signedTx}}"
                    readonly>{{signedTx}}</textarea>
                <ion-col>
                    <button ion-button full item-right icon-left [ngxClipboard]="copySignedTx">
                        <ion-icon name="copy"></ion-icon>
                        {{'COPY'|translate}}
                    </button>
                </ion-col>
            </div>
        </div>
        <ion-row>
            <ion-col>
                <button *ngIf="status != 'SIGNED'" type="submit" ion-button full icon-left (click)="send()" [disabled]="!signTxForm.form.valid||!validPassword(passphrase)||(multisig.status == 'MULTISIG' && (multisig.selfSigned || multisig.info.m + 1 < multisig.info.n))"
                    color="secondary">
                    <ion-icon name="send"></ion-icon>
                    {{"CONFIRM_TX.SIGN_AND_SEND" | translate}}
                </button>
                <button *ngIf="status == 'SIGNED'" type="submit" ion-button full icon-left (click)="broadcast(decodedTx)"
                    color="secondary">
                    <ion-icon name="send"></ion-icon>
                    {{"CONFIRM_TX.BROADCAST" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>

</ion-content>