<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "SIGN_TX" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">


    <form *ngIf="!decodedTx" #decodeTxForm="ngForm" class="padding-bottom">

        <ion-list>
            <ion-card-content>
                <h4>{{"CONFIRM_TX.TX_TO_SIGN"|translate}}:</h4>
                <ion-textarea fz-elastic [(ngModel)]="input" name="input"></ion-textarea>
            </ion-card-content>
        </ion-list>
        <ion-row>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="decode(input)" [disabled]="!input" color="secondary">
                    <ion-icon disabled="checked" name="cog"></ion-icon>
                    {{"CONFIRM_TX.DECODE" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>

    <form *ngIf="decodedTx" #signTxForm="ngForm" class="padding-bottom">

        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-item>
                        <h1>{{'CONFIRM_TX.TX_SUMMARY'|translate}}</h1>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <h2>{{'CONFIRM_TX.TX_SUMMARY_INPUTS'|translate}}:</h2>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <h2>{{'CONFIRM_TX.TX_SUMMARY_OUTPUTS'|translate}}:</h2>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div *ngFor="let input of decodedTx.inputs">
                            <ion-item *ngIf="input.previous_output.value != 0">
                                <ion-row>
                                    <ion-col *ngIf="input.previous_output.attachment.to_did">{{input.previous_output.attachment.to_did}}</ion-col>
                                    <ion-col *ngIf="!input.previous_output.attachment.to_did">{{input.previous_output.address}}</ion-col>
                                    <ion-col class="right">{{input.previous_output.value | format : 8}} ETP</ion-col>
                                </ion-row>
                            </ion-item>
                            <ion-item *ngIf="input.attachment && input.attachment.asset">
                                <ion-row>
                                    <ion-col *ngIf="input.previous_output.attachment.to_did">{{input.previous_output.attachment.to_did}}</ion-col>
                                    <ion-col *ngIf="!input.previous_output.attachment.to_did">{{input.previous_output.address}}</ion-col>
                                    <ion-col class="right">{{input.previous_output.attachment.quantity | format :
                                        decimals_mst[input.previous_output.attachment.asset]}}
                                        {{input.previous_output.attachment.asset}}
                                    </ion-col>
                                </ion-row>
                            </ion-item>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div *ngFor="let output of decodedTx.outputs">
                            <ion-item *ngIf="output.value != 0">
                                <ion-row>
                                    <ion-col *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</ion-col>
                                    <ion-col *ngIf="!output.attachment.to_did">{{output.address}}</ion-col>
                                    <ion-col class="right">{{output.value | format : 8}} ETP</ion-col>
                                </ion-row>
                            </ion-item>
                            <ion-item *ngIf="output.attachment && output.attachment.asset">
                                <ion-row>
                                    <ion-col *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</ion-col>
                                    <ion-col *ngIf="!output.attachment.to_did">{{output.address}}</ion-col>
                                    <ion-col class="right">{{output.attachment.quantity | format : decimals_mst[output.attachment.asset]}}
                                        {{output.attachment.asset}}</ion-col>
                                </ion-row>
                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

        <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
            <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
            <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
        </ion-item>
        <br>
        <ion-row>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="sign(input)" [disabled]="!input" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"CONFIRM_TX.SIGN" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>


</ion-content>