page-login {
    .login-content {
        ion-row{
            padding-top: 10px;
        }

        .logo-row {
            /* height: 25%; */
            min-height: 120px;
        }

        .logo {
            padding-left: 20px;
            padding-right: 20px;
        }

        .banner {
            margin: 10px auto;
            background:url(../assets/logo.png) no-repeat;
            width: 100%;
            max-width: 240px;
            height: 100px;
            outline: 0;
            background-size: 100%;
        }

        .banner.china{
            background:url(../assets/logo-zh.png) no-repeat;
            background-size: 100%;
        }

        .login-box {
           margin-left: 10px;
           margin-right: 20px;
        }

        .browser-button, .info-text{
            width: 50%;
            margin: 0 auto;
        }

        .info-text.headline{
            margin-top: 20px;
            text-align: center;
        }

        .large-btn {
            padding-top: 22px;
            padding-bottom: 22px;
        }



        @media (max-width: 992px) {
            .browser-button, .info-text {
                width: 100%;
                margin-left: 5px;
                margin-right: 5px;
            }

            img {
                width: auto;
            }
        }

        .google-play-icon {
            margin: 0px 20%;
            width: 60%;
        }

        .download-apk {
          margin: 0px 35%;
          width: 30%;
        }

        .app-store-icon {
            margin: 40px 20%;
            width: 60%;
        }

        h3 {
            text-align: center;

        }
    }

    .account-btn {
        text-transform: initial;
    }
}
