<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Metaverse Lightwallet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content">
    <ion-row class="logo-row">
        <ion-col class="logo">
            <div class="banner"></div>
        </ion-col>
    </ion-row>
    <div class="login-box">
        <div class="info-text">
            <div style="text-align: center;">{{version()}}
                <span style="text-align: center;" id="label-network" value="mainnet" *ngIf="globals.network=='mainnet'" [translate]="'MAINNET'"></span>
                <span style="text-align: center;" id="label-network" value="testnet" *ngIf="globals.network=='testnet'" [translate]="'TESTNET'"></span>
            </div>
        </div>
        <ion-row class="browser-button">
            <ion-segment [(ngModel)]="network" (ngModelChange)="switchNetwork($event)" color="primary" id="network-switch">
                <ion-segment-button id="network-switch-option-mainnet" value="mainnet" [translate]="'MAINNET'">
                </ion-segment-button>
                <ion-segment-button id="network-switch-option-testnet" value="testnet" [translate]="'TESTNET'">
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row class="browser-button">
            <button ion-button class="large-btn" block full icon-left (click)="GenerateKeyPage();" id="create-wallet-button">
                <ion-icon name="add"></ion-icon>
                {{"CREATE_NEW_WALLET_BUTTON"|translate}}
            </button>
        </ion-row>
        <ion-row *ngIf="!platform.is('mobile')" class="browser-button">
            <button ion-button class="large-btn" block full icon-left (click)="ImportMnemonicPage();" id="create-wallet-frombackup-button">
                <ion-icon name="download"></ion-icon>
                {{"CREATE_FROM_BACKUP_WORDS"|translate}}
            </button>
        </ion-row>
        <ion-row *ngIf="!platform.is('mobile')" class="browser-button">
            <button ion-button full icon-left class="large-btn" id="open-wallet-button" color="secondary" (click)="login()">
                <ion-icon name="download"></ion-icon>
                {{"OPEN_WALLET_FILE"|translate}}
            </button>
        </ion-row>

        <ion-row *ngIf="platform.is('mobile')" class="browser-button">
            <button ion-button full icon-left class="large-btn" id="open-wallet-button" color="secondary" (click)="loginFromMobile()">
                <ion-icon name="qr-scanner"></ion-icon>
                {{"OPEN_FROM_QRCODE"|translate}}
            </button>
        </ion-row>
        <ion-row *ngIf="platform.is('mobile')" class="browser-button">
            <button ion-button class="large-btn" block full icon-left color="secondary" (click)="ImportMnemonicPage();">
                <ion-icon name="list-box"></ion-icon>
                {{"OPEN_FROM_BACKUP_WORDS"|translate}}
            </button>
        </ion-row>
        <ion-row *ngIf="platform.is('mobile')" class="browser-button">
            <button ion-button full icon-left class="large-btn" id="open-howto-mobile-button" color="primary" (click)="howToMobile()">
                <ion-icon name="information-circle"></ion-icon>
                {{"HOW_TO_IMPORT_WALLET_MOBILE"|translate}}
            </button>
        </ion-row>
        <ion-row *ngIf="!platform.is('mobile')" class="info-text">
            <p>{{"LOGIN_MENU_INFO_TEXT"|translate}}</p>
        </ion-row>

    </div>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col>
            <button ion-button block clear icon-left (click)="switchTheme()">
            <ion-icon name="color-palette"></ion-icon>
            {{"THEME_SETTINGS"|translate}}
        </button>
        </ion-col>
        <ion-col>
            <button ion-button block clear icon-left (click)="switchLanguage()">
            <ion-icon name="flag"></ion-icon>
            {{"SWITCH_LANGUAGE"|translate}}
          </button>
        </ion-col>
    </ion-row>
</ion-footer>
