<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'REORDER.TITLE'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-group reorder="true" (ionItemReorder)="$event.applyTo(assetOrder)">
            <ion-item *ngFor="let symbol of assetOrder" [ngClass]="{'hidden-asset':!isVisible(symbol)}">
                <ion-avatar item-start>
                    <img *ngIf="iconsLoaded" class="coinlogo" [src]="icons.MST[symbol]" (error)="errorImg($event, symbol)" [ngClass]="{'default-logo': icon == 'default_mst'}">
                </ion-avatar>
                {{symbol}}
                <ion-icon class="eye-icon" name="eye" *ngIf="isVisible(symbol)" (click)="hide(symbol)"></ion-icon>
                <ion-icon class="eye-icon" name="eye-off" *ngIf="!isVisible(symbol)" (click)="show(symbol)"></ion-icon>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ion-row>
        <ion-col>
            <button type="submit" ion-button full icon-left [disabled]="compareArray(assetOrder, originalAssetOrder) && compareArray(hiddenAsset, originalHiddenAsset)" (click)="save(assetOrder)" color="secondary">
                <ion-icon name="checkmark"></ion-icon>
                {{'APPLY_CHANGES'|translate}}
            </button>
        </ion-col>
        <ion-col>
            <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                <ion-icon name="close"></ion-icon>
                {{'CANCEL'|translate}}
            </button>
        </ion-col>
    </ion-row>
    
</ion-content>