page-etp-bridge {

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

    .card-block {
        padding: 10px;
    }

    .buttons-row {
        padding-top: 20px;
     }

    #swapIcon {
        width: 100%;
        text-align: center;
        font-size: 60px;
        padding-top: 50px;
    }

    #rate {
        text-align: center;
    }

}
