<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "ETP_BRIDGE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">

    <a class="swft-logo" href="https://www.swft.pro" target="_blank">
        <img [src]="'assets/images/swft-logo.png'">
    </a>

    <ion-row class="swft-info">
        <ion-col>
            <p align="center">
                {{"ETP_BRIDGE.INFORMATION" | translate}}
                <a href="https://t.me/SWFTBlockchain" target="_blank">{{"ETP_BRIDGE.INFORMATION_LINK" | translate}}</a>
            </p>
            <p align="center" class="wrong-input">
                {{"ETP_BRIDGE.INFORMATION_WARNING" | translate}}
            </p>
        </ion-col>
    </ion-row>

    <h3>{{"ETP_BRIDGE.CREATE_ORDER" | translate}}</h3>
    <p>{{"ETP_BRIDGE.CREATE_ORDER_DESCRIPTION" | translate}}</p>

    <div class="mini-loader" *ngIf="loadingPair"></div>

    <h4 *ngIf="!loadingPair && !bridgePairs" class="wrong-input center">{{"ETP_BRIDGE.UNABLE_CONNECT_SWFT" | translate}}</h4>

    <form #swapForm="ngForm" *ngIf="!loadingPair && bridgePairs">

        <ion-card class="card-block">
            <ion-row>
                <ion-col col-md-5 col-sm-12 col-12>

                    <ion-item [ngClass]="{'valid-border': true}">
                        <ion-label color="primary" floating>{{"ETP_BRIDGE.FROM_ASSET" | translate}}</ion-label>
                        <ion-select [ngModel]="createOrderParameters.depositSymbol" name="depositSymbol" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" (ngModelChange)="changeDepositSymbol($event)">
                            <ion-option *ngFor="let asset of depositSymbolList" value="{{asset}}">{{asset}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item [ngClass]="{'error-border': !validDepositAmount(depositAmount), 'valid-border': validDepositAmount(depositAmount)}">
                        <ion-label color="primary" floating>{{"ETP_BRIDGE.AMOUNT_SEND" | translate}}</ion-label>
                        <ion-input [(ngModel)]="createOrderParameters.depositAmount" name="depositAmount" type="number" (ngModelChange)="updateReceiveAmount()"></ion-input>
                    </ion-item>
                    <div *ngIf="bridgeRate" no-lines class="advice" [translate]="'ETP_BRIDGE.MIN_MAX_DEPOSIT'" [translateParams]="{min: bridgeRate.depositMin, max: bridgeRate.depositMax, symbol: createOrderParameters.depositSymbol, fee: bridgeRate.depositCoinFeeRate*100}"></div>  

                    <ion-item *ngIf="etpBridgeService.isMetaverseSymbol(createOrderParameters.depositSymbol)" [ngClass]="{'error-border': !validRefundAddress()}">
                        <ion-label color="primary" floating [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: createOrderParameters.depositSymbol}"></ion-label>
                        <ion-select [(ngModel)]="createOrderParameters.refundAddress" name="refundAddress" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                            <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}} - {{addressbalance.balance | format : 8}} ETP</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item *ngIf="!etpBridgeService.isMetaverseSymbol(createOrderParameters.depositSymbol)" [ngClass]="{'error-border': !validRefundAddress()}">
                        <ion-label color="primary" floating [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: createOrderParameters.depositSymbol}"></ion-label>
                        <ion-input [(ngModel)]="createOrderParameters.refundAddress" name="refundAddress" type="text"></ion-input>
                    </ion-item>

                </ion-col>
                <ion-col col-md-2 col-sm-12 col-12>
                    <ion-icon id="swapIcon" name="swap" (click)="switch()"></ion-icon>
                    <div *ngIf="bridgeRate" id="rate" no-lines [translate]="'ETP_BRIDGE.RATE'" [translateParams]="{rate: bridgeRate.instantRate}"></div>
                </ion-col>
                <ion-col col-md-5 col-sm-12 col-12>

                    <ion-item [ngClass]="{'valid-border': true}">
                        <ion-label color="primary" floating>{{"ETP_BRIDGE.TO_ASSET" | translate}}</ion-label>
                        <ion-select [ngModel]="createOrderParameters.receiveSymbol" name="receiveSymbol" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" (ngModelChange)="changeReceiveSymbol($event)">
                            <ion-option value="ETP">ETP</ion-option>
                            <ion-option *ngFor="let asset of bridgePairs['ETP']" value="{{asset}}">{{asset}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item [ngClass]="{'valid-border': true}">
                        <ion-label color="primary" floating>{{"ETP_BRIDGE.AMOUNT_RECEIVE" | translate}}</ion-label>
                        <ion-input [(ngModel)]="createOrderParameters.receiveAmount" name="receiveAmount" type="number" disabled></ion-input>
                    </ion-item>
                    <div *ngIf="bridgeRate" no-lines class="advice" [translate]="'ETP_BRIDGE.RECEIVE_COIN_FEE'" [translateParams]="{fee: bridgeRate.receiveCoinFee, symbol: createOrderParameters.receiveSymbol}"></div>  

                    <ion-item *ngIf="etpBridgeService.isMetaverseSymbol(createOrderParameters.receiveSymbol)" [ngClass]="{'error-border': !validRecipientAddress()}">
                        <ion-label color="primary" floating [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: createOrderParameters.receiveSymbol}"></ion-label>
                        <ion-select [(ngModel)]="createOrderParameters.receiveAddress" name="receiveAddress" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                            <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}} - {{addressbalance.balance | format : 8}} ETP</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item *ngIf="!etpBridgeService.isMetaverseSymbol(createOrderParameters.receiveSymbol)" [ngClass]="{'error-border': !validRecipientAddress()}">
                        <ion-label color="primary" floating [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: createOrderParameters.receiveSymbol}"></ion-label>
                        <ion-input [(ngModel)]="createOrderParameters.receiveAddress" name="receiveAddress" type="text"></ion-input>
                    </ion-item>
                
                </ion-col>
            </ion-row>

            <ion-row class="buttons-row">
                <ion-col>
                    <button type="submit" ion-button full icon-left (click)="createOrder()" color="secondary" [disabled]="!swapForm.form.valid||!validDepositAmount(depositAmount)||!validRefundAddress()||!validRecipientAddress()">
                        <ion-icon disabled="checked" name="send"></ion-icon>
                        {{"SWAP" | translate}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                        <ion-icon name="close"></ion-icon>
                        {{'CANCEL'|translate}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>      

    </form>

    <h3>{{"ETP_BRIDGE.HISTORY_TITLE" | translate}}</h3>
    <p>{{"ETP_BRIDGE.HISTORY_DESCRIPTION" | translate}}</p>

    <ion-card class="card-order-history" *ngFor="let order of orders | orderBy: ['created', '1']">
        <ion-row>
            <ion-col col-md-12 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-md-12 col-sm-12 col-12>
                        <h2>{{order.id}}</h2>
                    </ion-col>
                </ion-row>  
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-sm-6 col-12>{{'ETP_BRIDGE.FROM_ASSET'|translate}}</ion-col>
                    <ion-col col-sm-6 col-12 class="right">{{order.deposit.amount}} {{order.deposit.symbol}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.DEPOSIT_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.deposit.address)}}" target="_blank" class="right">{{order.deposit.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.deposit.address)" class="right">{{order.deposit.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.refund.address)}}" target="_blank" class="right">{{order.receive.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.refund.address)" class="right">{{order.refund.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="order.refund.txid">
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.REFUND_TX'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('tx', order.refund.txid)}}" target="_blank" class="right">{{order.refund.txid}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.refund.txid)" class="right">{{order.refund.txid}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-sm-6 col-12>{{'ETP_BRIDGE.TO_ASSET'|translate}}</ion-col>
                    <ion-col col-sm-6 col-12 class="right">{{order.receive.amount}} {{order.receive.symbol}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: order.receive.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.receive.symbol)" href="{{explorerURL('adr', order.receive.address)}}" target="_blank" class="right">{{order.receive.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.receive.symbol)" (click)="show(order.receive.address)" class="right">{{order.receive.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="order.receive.txid">
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.RECEIVE_TX'" [translateParams]="{symbol: order.receive.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.receive.symbol)" href="{{explorerURL('tx', order.receive.txid)}}" target="_blank" class="right">{{order.receive.txid}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.receive.symbol)" (click)="show(order.receive.txid)" class="right">{{order.receive.txid}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="right">
            <button class="right" ion-button color="primary" item-right icon-left (click)="gotoDetails(order.id)">
                <ion-icon name="send"></ion-icon>
                {{'ETP_BRIDGE.SEE_DETAILS_BUTTON'|translate}}
            </button>
        </ion-row>    
            
    </ion-card>

    <h3>{{"ETP_BRIDGE.IMPORT_ORDER" | translate}}</h3>
    <p>{{"ETP_BRIDGE.IMPORT_ORDER_DESCRIPTION" | translate}}</p>

    <ion-card class="card-block">
        <ion-item [ngClass]="{'error-border':!validId(importFromId), 'valid-border':validId(importFromId)}">
            <ion-label color="primary" floating>{{"ETP_BRIDGE.ORDER_ID"|translate}}</ion-label>
            <ion-input name="importFromId" [(ngModel)]="importFromId"></ion-input>
            <button id="scanButton" *ngIf="isApp" ion-button item-right (click)="scan()">
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
        </ion-item>

        <ion-row class="buttons-row right">
            <button class="right" ion-button color="primary" item-right icon-left (click)="importOrder($event)" [disabled]="!validId(importFromId)">
                <ion-icon name="add"></ion-icon>
                {{'ETP_BRIDGE.IMPORT_ORDER_BUTTON'|translate}}
            </button>
        </ion-row>
    </ion-card>

</ion-content>
