page-etp-bridge {

    .right {
        text-align: right;
        float: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    .card-block, .card-order-history {
        padding: 10px;
        margin-bottom: 40px;
    }

    .buttons-row {
        padding-top: 20px;
     }

    #swapIcon {
        width: 100%;
        text-align: center;
        font-size: 60px;
        padding-top: 50px;
    }

    #rate {
        text-align: center;
    }

    [padding] h3:first-child, [padding] h4:first-child {
        margin-top: 0;
    }

    .col a {
        width: 100%;
    }

    .row {
        margin-bottom: 10px;
    }

    .swft-info {
        width: 100%;
    }

    .swft-logo {
        float: right;
        margin-right: 2%;
        margin-top: 10px;
    }

    .swft-logo img {
        width: 100px;
        height: auto;
    }

    .swft-logo p {
        margin: 0;
        text-align: center;
    }

}
