<ion-card class="manual-copy display-overflow">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row class="hash">
                    <ion-col>
                        <ion-item>
                            <div class="tx-hash">
                                <h2 class="font-mono overflow">
                                    {{output.hash}}
                                </h2>
                            </div>
                            <button id="explorerTxButton" ion-button (click)="checkTx()">
                                <ion-icon name="open"></ion-icon>
                            </button>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="output.confirmed_at">
                        <ion-item class="right timestamp">
                            <h2>{{output.confirmed_at*1000 | date : 'medium'}}</h2>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item class="summaryTxType">
                            {{'VOTE.VOTE_FOR_DELEGATE' | translate}}: {{output.voteAvatar}}
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="right summaryAmount">
                            {{output.attenuation_model_param.lock_quantity | format : output.attachment.decimals}} DNA
                            <div *ngIf="reward" class="default-color fee">{{'VOTE.REWARD' | translate}}: {{reward}} DNA</div>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-row>
                        <ion-col class="noPaddingTopBottom">
                            <p>
                                {{'LOCKED_SINCE'|translate}}: {{output.height}}
                                <br>
                                ({{output.confirmed_at*1000 | date : 'medium'}})
                            </p>
                        </ion-col>
                        <ion-col class="right noPaddingTopBottom">
                            <p>
                                {{'LOCKED_UNTIL'|translate}}: {{output.locked_until}}
                                <br>
                                (~{{((output.locked_until - height) * blocktime * 1000) + current_time |date : 'medium'}})*
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="output.height<=height">
                        <ion-col class="noPaddingTopBottom">
                            <progress-bar *ngIf="height<=output.locked_until && depositProgress(output.height, output.locked_until)>0"
                                [progress]="depositProgress(output.height, output.locked_until)"></progress-bar>
                            <progress-bar *ngIf="height>output.locked_until" [progress]="100" [color]="'#32db64'"></progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>