<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "MULTISIGNATURE_ADD" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item no-lines>
        <ion-segment [(ngModel)]="creation_type" color="primary">
            <ion-segment-button value="new">
                {{ "MULTISIGNATURE_ADD.NEW" | translate}}
            </ion-segment-button>
            <ion-segment-button value="existing">
                {{ "MULTISIGNATURE_ADD.EXISTING" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-item>


    <form *ngIf="creation_type == 'new'" #newAddressForm="ngForm" class="padding-bottom">
        <ion-row>
            <ion-col>
                <p align="center">{{"MULTISIGNATURE_ADD.INFORMATION_NEW" | translate}}</p>
            </ion-col>
        </ion-row>
        <h2>{{"MULTISIGNATURE_ADD.STEP1_TITLE" | translate}}</h2>
        <p>{{"MULTISIGNATURE_ADD.STEP1_EXPLAIN" | translate}}</p>
        <ion-list>
            <ion-item [ngClass]="{'error-border': !validAddress(address)}">
                <ion-label>{{"ETH_TO_MVS.SELECT_AVATAR_OR_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="address" [disabled]="myPublicKey != ''" name="address" multiple="false"
                    (ngModelChange)="onAddressChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                        - {{addressbalance.balance | format : 8}} ETP</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!myPublicKey" [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <ion-row *ngIf="!myPublicKey">
            <ion-col col-12 col-sm-6>
                <button type="submit" ion-button full icon-left (click)="getPublicKey(address)" [disabled]="!validPassword(passphrase)||!validAddress(address)"
                    color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"MULTISIGNATURE_ADD.GET_PUBLICKEY" | translate}}
                </button>
            </ion-col>
            <ion-col col-12 col-sm-6>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>
        <div *ngIf="myPublicKey">
            <ion-card-content>
                <h4>{{"MULTISIGNATURE_ADD.PUBLICKEY"|translate}}:</h4>
                <textarea fz-elastic ion-input full type="text" #copyMyPublicKey value="{{myPublicKey}}" style=""
                    readonly>{{myPublicKey}}</textarea>
            </ion-card-content>
            <ion-row>
                <ion-col col-12 col-sm-6>
                    <button type="submit" ion-button full icon-left [ngxClipboard]="copyMyPublicKey">
                        <ion-icon name="copy"></ion-icon>
                        {{"COPY" | translate}}
                    </button>
                </ion-col>
                <ion-col col-12 col-sm-6>
                    <button ion-button color="danger" full item-right icon-left (click)="myPublicKey = ''">
                        <ion-icon name="refresh"></ion-icon>
                        {{"MULTISIGNATURE_ADD.UPDATE_MY_ADDRESS"|translate}}
                    </button>
                </ion-col>
            </ion-row>
            <h2>{{"MULTISIGNATURE_ADD.STEP2_TITLE" | translate}}</h2>
            <p>{{"MULTISIGNATURE_ADD.STEP2_EXPLAIN" | translate}}</p>
            <ion-card class="card-block" *ngFor="let cosigner of cosigners; let i = index; trackBy:customTrackBy"
                [attr.data-index]="i">
                <ion-row>
                    <ion-col col-6>
                        <h2 class="cosigner-title">{{"COSIGNER"|translate}} {{i+1}}</h2>
                    </ion-col>
                    <ion-col col-6>
                        <button type="button" tabIndex="-1" class="remove-button" ion-button clear icon-left color="primary"
                            (click)="removeCosigner(i)">
                            X
                        </button>
                    </ion-col>
                    <ion-col class="cosigner-publickey">
                        <ion-item [ngClass]="{'error-border':!validPublicKey(cosigners[i], i), 'valid-border':validPublicKey(cosigners[i])}">
                            <ion-label color="primary" floating>{{"COSIGNER_PUBLIC_KEY"|translate}} {{i+1}}</ion-label>
                            <ion-input [(ngModel)]="cosigners[i]" [name]="cosigner + '_' + i" (ngModelChange)="checkPublicKeys()"
                                required></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!validNotMyKey(cosigners[i])" no-lines class="wrong-input">{{"MULTISIGNATURE_ADD.OWN_PUBLICKEY_ALREADY_ADDED" | translate}}</ion-item>
                        <ion-item *ngIf="!validUsedOnceKey(cosigners[i], i)" no-lines class="wrong-input">{{"MULTISIGNATURE_ADD.PUBLIC_KEY_TWICE" | translate}}</ion-item>
                    </ion-col>                    
                </ion-row>
            </ion-card>
            <button *ngIf="cosigners.length < cosignersLimit" type="button" class="right-buttons" ion-button icon-left
                color="primary" (click)="addCosigner()">
                <ion-icon name="add"></ion-icon>
                {{"ADD_COSIGNER" | translate}}
            </button>
            <h2>{{"MULTISIGNATURE_ADD.STEP3_TITLE" | translate}}</h2>
            <ion-list>
                <ion-item [ngClass]="{'error-border': !validnbrSigReq(nbrSigReq)}">
                    <ion-label>{{"MULTISIGNATURE_ADD.NBR_SIGN_REQ"|translate}}</ion-label>
                    <ion-select [(ngModel)]="nbrSigReq" name="nbrSigReq" multiple="false" okText="{{'OK'|translate}}"
                        cancelText="{{'CANCEL'|translate}}">
                        <ion-option *ngFor="let nbrSigReq of nbrSigReqOptions" value="{{nbrSigReq}}">{{nbrSigReq}}</ion-option>
                    </ion-select>
                </ion-item>
                <br>
            </ion-list>
            <h2>{{"MULTISIGNATURE_ADD.STEP4_TITLE" | translate}}</h2>
            <p>{{"MULTISIGNATURE_ADD.STEP4_EXPLAIN" | translate}}</p>
            <ion-row>
                <ion-col>
                    <button type="submit" ion-button full icon-left (click)="getAddress(cosigners, nbrSigReq, myPublicKey, passphrase)"
                        [disabled]="!nbrSigReq" color="secondary">
                        <ion-icon disabled="checked" name="send"></ion-icon>
                        {{"MULTISIGNATURE_ADD.GET_ADDRESS" | translate}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                        <ion-icon name="close"></ion-icon>
                        {{'CANCEL'|translate}}
                    </button>
                </ion-col>
            </ion-row>
            <h2>{{"MULTISIGNATURE_ADD.STEP5_TITLE" | translate}}</h2>
            <p>{{"MULTISIGNATURE_ADD.STEP5_EXPLAIN" | translate}}</p>
        </div>
    </form>

    <form *ngIf="creation_type == 'existing'" #importAddressForm="ngForm" class="padding-bottom">
        <ion-list>
            <ion-item [ngClass]="{'error-border':!validAddress(import_address), 'valid-border':validAddress(import_address)}">
                <ion-label color="primary" floating>{{"IMPORT_MULTISIG_ADDRESS"|translate}}</ion-label>
                <ion-input #importAddressInput name="import_address" [(ngModel)]="import_address" required></ion-input>
                <button id="scanButton" *ngIf="isApp" ion-button item-right (click)="scan()">
                    <ion-icon name="qr-scanner"></ion-icon>
                </button>
            </ion-item>
            <ion-item [ngClass]="{'error-border': !validPassword(passphrase_import)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase_import" type="password" [(ngModel)]="passphrase_import" required></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <ion-row>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="importAddress(import_address, passphrase_import)"
                    [disabled]="!validAddress(import_address) || !validPassword(passphrase_import)" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"MULTISIGNATURE_ADD.IMPORT_ADDRESS" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>