page-multisignature-add {

    .padding-bottom {
        padding-bottom: 20px;
    }

    textarea{
        width:100%;
        border: 0px !important;
        resize: none;
        font-size: 1.8rem;
    }

    h2 {
        margin-left: 16px;
        padding-top: 20px;
    }

    p {
        margin-left: 16px;
    }

    .cosigner-title {
        margin-bottom: 0;
        padding-left: 16px;
        padding-top: 10px;
    }

    .cosigner-title .label-md {
        margin: 0;
    }

    .remove-button {
        float: right;
        margin: 0;
    }

    .cosigner-publickey {
        display: float;
        top: -10px;
    }
}
