<ion-header>
    <ion-navbar>
        <ion-title>{{'PASSWORD'| translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-row class="top-padding">
            <h2 class="center-info">{{"PASSWORD_WARNING"|translate}}</h2>
        </ion-row>
        <ion-row>
            <ion-item class="center-psw" [ngClass]="{'error-border':!passwordValid(password)}">
                <ion-label color="primary" floating>{{'PASSWORD'| translate}}</ion-label>
                <ion-input name="password" type="password" placeholder="" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row class="more-bottom-padding">
            <ion-item class="center-psw" [ngClass]="{'error-border':!passwordRepeatValid(password, password_repeat)}">
                <ion-label color="primary" floating>{{'CONFIRM_PASSWORD'|translate}}</ion-label>
                <ion-input name="password_repeat" type="password" placeholder="" [(ngModel)]="password_repeat"></ion-input>
            </ion-item>
            <ion-item class="center-psw wrong-input" *ngIf="password_repeat && !passwordRepeatValid(password, password_repeat)" no-lines>{{"PASSPHRASE.NOT_MATCH" | translate}}</ion-item>
        </ion-row>

        <ion-row class="button more-bottom-padding" *ngIf="newWallet && !platform.is('mobile')">
            <ion-col>
                <button ion-button full icon-left color="secondary" [disabled]="!complete(password, password_repeat)" (click)="downloadAndReturnLogin(password)">
                    <ion-icon name="download"></ion-icon>
                    {{"PASSPHRASE.DOWNLOAD_FILE"|translate}}
                </button>
            </ion-col>
        </ion-row>

        <ion-row class="more-bottom-padding" *ngIf="!newWallet && !platform.is('mobile')">
            <ion-col col-sm-6 offset-md-1 col-md-5 offset-lg-2 col-lg-4 offset-xl-3 col-xl-3>
                <button ion-button full icon-left color="secondary" [disabled]="!complete(password, password_repeat)" (click)="download(password)">
                    <ion-icon name="download"></ion-icon>
                    {{"PASSPHRASE.DOWNLOAD_FILE"|translate}}
                </button>
            </ion-col>
            <ion-col col-sm-6 col-md-5 col-lg-4 col-xl-3>
                <button type="submit" ion-button full icon-left [disabled]="!passwordValid(password) || !passwordRepeatValid(password, password_repeat)" (click)="encrypt(password)">
                    <ion-icon name="arrow-forward"></ion-icon>
                    {{"IMPORT_WALLET"|translate}}
                </button>
            </ion-col>
        </ion-row>

        <ion-row class="more-bottom-padding" *ngIf="platform.is('mobile')">
            <ion-col>
                <button type="submit" ion-button full icon-left [disabled]="!passwordValid(password) || !passwordRepeatValid(password, password_repeat)" (click)="encrypt(password)">
                    <ion-icon name="arrow-forward"></ion-icon>
                    {{"IMPORT_WALLET"|translate}}
                </button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
