<ion-header>
    <ion-navbar>
        <ion-title>Passphrase</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row class="top-padding">
        <h2 class="center-info">{{"PASSWORD_WARNING"|translate}}</h2>
    </ion-row>
    <ion-row class="top-padding">
        <ion-item class="center-psw">
            <ion-label color="primary" floating>{{'PASSWORD'| translate}}</ion-label>
            <ion-input type="password" placeholder="" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row class="more-bottom-padding">
        <ion-item class="center-psw">
            <ion-label color="primary" floating>{{'CONFIRM_PASSWORD'|translate}}</ion-label>
            <ion-input type="password" placeholder="" [(ngModel)]="password_repeat"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row class="button more-bottom-padding">
        <button *ngIf="!platform.is('mobile')" ion-button full [disabled]="!complete(password, password_repeat)" (click)="encrypt(password)">{{'BUTTON.NEXT'|translate}}</button>
        <button *ngIf="platform.is('mobile')" ion-button full [disabled]="!complete(password, password_repeat)" (click)="encryptMobile(password)">{{'BUTTON.NEXT'|translate}}</button>
    </ion-row>
</ion-content>
