page-qr-code {

    overflow-y: inherit;
    //height: 500px !important;

    ion-content {
        overflow-y: inherit;
        //height: 500px;
    }

    .scroll-content {
        overflow-y: inherit;
        padding-top: 0 !important;
        top: 0;
        padding: 0;
    }

    qr-code img {
        margin-left: 20%;
        height: auto;
        width: 60%;
    }

    ion-card {
        margin: 0 !important;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 100%;
    }

    .card-content {
        padding-bottom: 0;
    }

    textarea {
        //min-width: 300px;
        width:100%;
        border: 0px !important;
        resize: none;
    }
}
