page-qr-code {

    overflow-y: inherit;

    ion-content {
        overflow-y: inherit;
    }

    .scroll-content {
        overflow-y: inherit;
        padding-top: 0 !important;
        top: 0;
        padding: 0;
    }

    qr-code img {
        margin-left: 20%;
        height: auto;
        width: 60%;
    }

    ion-card {
        margin: 0 !important;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
    }

    .card-content {
        padding-bottom: 0;
    }

    textarea {
        //min-width: 300px;
        width:100%;
        border: 0px !important;
        resize: none;
    }

    .fiat {
        color: grey;
        height: 28px;
        min-height: 28px;
    }

    .modal-body {
        height: 100%;
        overflow-y: auto;
    }

}
