<ion-content>
    <ion-card class="modal-body">
        <qr-code [value]="qrcodeValue" [size]="550" class="center"></qr-code>
        <ion-card-content>
            <h3 class="center">
                <textarea fz-elastic ion-input full cols="34" type="text" class="center" readonly>{{address}}</textarea>
            </h3>
        </ion-card-content>
        <ion-item class="toggle-input">
            <ion-label>{{"SCAN.SHOW_ADVANCED"|translate}}</ion-label>
            <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" (ngModelChange)="changeQrcode($event)"></ion-toggle>
        </ion-item>
        <div [@expandCollapse]="showAdvanced" *ngIf="showAdvanced">
            <ion-item class="default-border">
                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                <ion-input #amountInput name="amount" type="number" min="0" [(ngModel)]="amount" (ngModelChange)="changeQrcode($event)" required></ion-input>
            </ion-item>
            <ion-item *ngIf="tickers && tickers[asset] && tickers[asset][base]" no-lines class="fiat">
                ≈{{base}} {{amount*tickers[asset][base].price || 0 | number : '1.0-2'}}
            </ion-item>

            <ion-item class="default-border">
                <ion-label floating>{{"ASSET" | translate}}</ion-label>
                <ion-input name="asset" [(ngModel)]="asset" (ngModelChange)="changeQrcode($event)"></ion-input>
            </ion-item>

            <ion-item class="default-border">
                <ion-label floating>{{"MESSAGE" | translate}}</ion-label>
                <ion-input name="message" [(ngModel)]="message" (ngModelChange)="changeQrcode($event)"></ion-input>
            </ion-item>
            <br>
            <ion-item class="toggle-input">
                <ion-label>{{"SCAN.PARAMS_EDITABLE"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="editable" name="editable" checked="false" (ngModelChange)="changeQrcode($event)"></ion-toggle>
            </ion-item>
            <div no-lines class="advice">{{"SCAN.PARAMS_EDITABLE_TEXT" | translate}}</div>

        </div>
    </ion-card>

</ion-content>