<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "REGISTER_MST" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <ion-row>
        <ion-col>
            <p align="center">{{"MSTS.INFORMATION" | translate}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>
                {{"TOTAL_AVAILABLE_BALANCE" | translate}}:
                <br *ngIf="platform.is('mobile')">{{showBalance | format : decimals}} {{selectedAsset}}
            </p>
            <p *ngIf="addressbalances && addressbalances[issue_address] && addressbalances[issue_address][selectedAsset]">
                {{issuer_name}} {{"AVATAR_AVAILABLE_BALANCE" | translate}}:
                <br *ngIf="platform.is('mobile')">{{addressbalances[issue_address][selectedAsset].available | format :
                decimals}} {{selectedAsset}}
            </p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> 10 ETP</p>
        </ion-col>
    </ion-row>
    <h2 align="center" *ngIf="issuer_name && (!addressbalances || !addressbalances[issue_address] || !addressbalances[issue_address][selectedAsset] || addressbalances[issue_address][selectedAsset].available<1000000000)">{{"ISSUE.NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</h2>
    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">

            <ion-item [ngClass]="{'error-border': !validSymbol(symbol) || symbol_check == 'exist' || symbol_check == 'not_domain_owner' || symbol_check == 'other_avatar_domain_owner', 'warning-border': error_loading_msts || error_loading_certs || symbol_check == 'cant_check_domain'}">
                <ion-label color="primary" floating>{{"ISSUE.SYMBOL"|translate}}</ion-label>
                <ion-input class="uppercase" name="symbol" [(ngModel)]="symbol" (ngModelChange)="symbolChanged($event)"
                    maxlength="63" required></ion-input>
            </ion-item>
            <ion-item *ngIf="symbol_check == 'available'" no-lines class="valid-input">{{"ISSUE.SYMBOL_AVAILABLE" |
                translate}}</ion-item>
            <ion-item *ngIf="symbol_check == 'domain_owner'" no-lines class="valid-input">{{"ISSUE.SYMBOL_DOMAIN_OWNER"
                | translate}}</ion-item>
            <ion-item *ngIf="symbol_check == 'naming_owner'" no-lines class="valid-input">{{"ISSUE.SYMBOL_NAMING_OWNER"
                | translate}}</ion-item>
            <ion-item *ngIf="symbol_check == 'exist'" no-lines class="wrong-input">{{"ISSUE.SYMBOL_ALREADY_EXIST" |
                translate}}</ion-item>
            <ion-item *ngIf="symbol_check == 'not_domain_owner'" no-lines class="wrong-input">{{"ISSUE.SYMBOL_NOT_CERT_OWNER"
                | translate}}</ion-item>
            <ion-item *ngIf="symbol_check == 'other_avatar_domain_owner'" no-lines class="wrong-input">{{"ISSUE.DOMAIN_OWNER_OTHER_MY_AVATARS"
                | translate}}</ion-item>
            <ion-item *ngIf="error_loading_msts" no-lines class="warning-input">{{"ISSUE.SYMBOL_ERROR_LOADING_MSTS" |
                translate}}</ion-item>
            <ion-item *ngIf="error_loading_certs || symbol_check == 'cant_check_domain'" no-lines class="warning-input">{{"ISSUE.SYMBOL_ERROR_LOADING_CERTS"
                | translate}}</ion-item>

            <ion-item [ngClass]="{'error-border':!validMaxSupply(max_supply, asset_decimals)}">
                <ion-label color="primary" floating>{{"ISSUE.MAX_SUPPLY" | translate}}</ion-label>
                <ion-select [(ngModel)]="max_supply" name="max_supply" multiple="false" (ngModelChange)="maxSupplyChanged($event)"
                    okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" required>
                    <ion-option value="1000000">{{1000000 | number : fractionSize}} ({{"ISSUE.ONE_MILLION" |
                        translate}})</ion-option>
                    <ion-option value="10000000">{{10000000 | number : fractionSize}} ({{"ISSUE.TEN_MILLION" |
                        translate}})</ion-option>
                    <ion-option value="100000000">{{100000000 | number : fractionSize}} ({{"ISSUE.ONE_HUNDRED_MILLION"
                        | translate}})</ion-option>
                    <ion-option value="1000000000">{{1000000000 | number : fractionSize}} ({{"ISSUE.ONE_BILLION" |
                        translate}})</ion-option>
                    <ion-option value="10000000000">{{10000000000 | number : fractionSize}} ({{"ISSUE.TEN_BILLION" |
                        translate}})</ion-option>
                    <ion-option value="custom">{{"CUSTOM"| translate}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="max_supply == 'custom'" [ngClass]="{'error-border':!validMaxSupplyCustom(custom_max_supply, asset_decimals)}">
                <ion-label color="primary" floating>{{"ISSUE.MAX_SUPPLY_CUSTOM" | translate}}</ion-label>
                <ion-input name="custom_max_supply" type="tel" min="0" [(ngModel)]="custom_max_supply" (ngModelChange)="maxSupplyChanged($event)"></ion-input>
            </ion-item>
            <ion-item *ngIf="error_too_high_max_supply" no-lines class="wrong-input">{{"ISSUE.MAX_SUPPLY_TOO_HIGH" |
                translate}}</ion-item>
            <br>
            <ion-item no-lines>
                <ion-label color="primary">{{"ISSUE.DECIMALS" | translate}}</ion-label>
                <ion-badge item-end color="primary">{{asset_decimals}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-range min="0" max="8" step="1" pin="true" snaps="true" color="primary" [(ngModel)]="asset_decimals"
                    name="asset_decimals" (ngModelChange)="maxSupplyChanged($event)">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>8</ion-label>
                </ion-range>
            </ion-item>

            <ion-item class="toggle-input">
                <ion-label>{{"ISSUE.SECONDARYISSUE_TYPE" | translate}}</ion-label>
                <ion-toggle [(ngModel)]="secondaryissue" name="secondaryissue" checked="false"></ion-toggle>
            </ion-item>

            <ion-item *ngIf="secondaryissue" no-lines>
                <ion-label color="primary">{{"ISSUE.SECONDARYISSUE_THRESHOLD" | translate}}</ion-label>
                <ion-badge item-end color="primary">{{secondaryissue_threshold}}%</ion-badge>
            </ion-item>
            <ion-item *ngIf="secondaryissue">
                <ion-range min="0" max="100" step="1" pin="true" color="primary" [(ngModel)]="secondaryissue_threshold"
                    name="secondaryissue_threshold" (ionChange)="updateRange()">
                    <ion-label range-left>0%</ion-label>
                    <ion-label range-right>100%</ion-label>
                </ion-range>
            </ion-item>

            <ion-item class="toggle-input">
                <ion-label>{{"MST_MINING.OPTION"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="mining" name="mining"></ion-toggle>
            </ion-item>
            <mining-model-selector *ngIf="mining" (modelChanged)="setMiningModel($event)" [decimals]="asset_decimals"
                [asset]="symbol">
            </mining-model-selector>

            <ion-item [ngClass]="{'error-border':!validName(issuer_name) || !addressbalances || !addressbalances[issue_address] || !addressbalances[issue_address][selectedAsset] || addressbalances[issue_address][selectedAsset].available<1000000000}">
                <ion-label color="primary" floating>{{"ISSUE.ISSUER_NAME" | translate}}</ion-label>
                <ion-select *ngIf="!no_avatar" [(ngModel)]="issuer_name" name="issuer_name" multiple="false" okText="{{'OK'|translate}}"
                    cancelText="{{'CANCEL'|translate}}" (ngModelChange)="issuerChanged($event)">
                    <ion-option *ngFor="let avatar of avatars" value="{{avatar.symbol}}">{{avatar.symbol}}</ion-option>
                </ion-select>
                <ion-input name="no_avatar" *ngIf="no_avatar" [(ngModel)]="no_avatar_placeholder" disabled></ion-input>
            </ion-item>
            <ion-item *ngIf="no_avatar" no-lines class="wrong-input">{{"ISSUE.NO_AVATAR" | translate}}</ion-item>
            <ion-item *ngIf="issuer_name && (!addressbalances || !addressbalances[issue_address] || !addressbalances[issue_address][selectedAsset] || addressbalances[issue_address][selectedAsset].available<1000000000)"
                no-lines class="wrong-input">{{"ISSUE.NOTICE_TRANSACTION_FEE_UNCOVERED" | translate}}</ion-item>

            <ion-item [ngClass]="{'error-border':!validAddress(issue_address)}">
                <ion-label color="primary" floating>{{"ISSUE.ISSUE_ADDRESS" | translate}}</ion-label>
                <ion-input name="issue_address" [(ngModel)]="issue_address" disabled></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validDescription(description)}">
                <ion-label color="primary" floating>{{"ISSUE.DESCRIPTION"|translate}}</ion-label>
                <ion-input name="description" [(ngModel)]="description" maxlength="63" required></ion-input>
            </ion-item>
            <br>
            <ion-item class="toggle-input">
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>

            <div *ngIf="showAdvanced">
                <br>
                <ion-item no-lines>
                    <ion-label color="primary">{{"TRANSFER_FEE_DISTRIBUTION" | translate}}</ion-label>
                </ion-item>
                <div no-lines class="advice">{{"HELP.BOUNTY_FEE" | translate}}</div>
                <ion-item no-lines>
                    <span class="rangeTextLeft">{{"MINERS" | translate}}</span>
                    <span class="right">{{"DEVELOPERS" | translate}}</span>
                </ion-item>
                <ion-item>
                    <ion-range class="bountyFeeRange" min="0" max="80" step="10" snaps="true" color="primary"
                        [(ngModel)]="bounty_fee" name="bounty_fee" (ionChange)="updateRange()">
                        <ion-label range-left>{{(100-bounty_fee)*10/100}} ETP</ion-label>
                        <ion-label range-right class="right">{{bounty_fee*10/100}} ETP</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item class="toggle-input">
                    <ion-label>{{"ASSET_LOCK"|translate}}</ion-label>
                    <ion-toggle [(ngModel)]="lock" name="lock"></ion-toggle>
                </ion-item>
                <attenuation-model-selector *ngIf="lock" (modelChanged)="setAttenuationModel($event)" [quantity]="max_supply == 'custom' ? custom_max_supply : max_supply"
                    [decimals]="asset_decimals" [asset]="symbol">
                </attenuation-model-selector>
            </div>
        </ion-list>

        <ion-row>
            <ion-col>
                <button ion-button full [disabled]="!sendForm.form.valid||!validSymbol(symbol)||symbol_check=='exist'||symbol_check=='not_domain_owner'||symbol_check=='other_avatar_domain_owner'||!validMaxSupply(max_supply, asset_decimals)||(max_supply=='custom' && !validMaxSupplyCustom(custom_max_supply, asset_decimals))||!validDecimals(asset_decimals)||!validName(issuer_name)||!validAddress(issue_address)||!validDescription(description)||(issue_address=='custom' && !validIssueAddress(custom_issue_address))||((!addressbalances || !addressbalances[issue_address] || !addressbalances[issue_address][selectedAsset] || addressbalances[issue_address][selectedAsset].available<1000000000))||(lock && !attenuation_model)||(mining && !mst_mining_model)"
                    (click)="confirm()" icon-left color="secondary">
                    <ion-icon disabled="checked" name="cog"></ion-icon>
                    {{'BUTTON.NEXT' | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>