<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "ASSET_ISSUE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <ion-row>
        <ion-col>
            <p>{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{format(showBalance,decimals)}} {{selectedAsset}}</p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> 10 ETP</p>
        </ion-col>
    </ion-row>
    <h2 align="center" *ngIf="etpBalance<1000000000">{{"ISSUE.NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</h2>
    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">

            <ion-item [ngClass]="{'error-border':!validSymbol(symbol)}">
                <ion-label color="primary" floating>{{"ISSUE.SYMBOL"|translate}}</ion-label>
                <ion-input class="uppercase" name="symbol" [(ngModel)]="symbol" maxlength="63" required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validMaxSupply(max_supply)}">
                <ion-label color="primary" floating>{{"ISSUE.MAX_SUPPLY" | translate}}</ion-label>
                <ion-input name="max_supply" type="number" min="0" [(ngModel)]="max_supply" required></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-item>
                <ion-label color="primary">{{"ISSUE.DECIMALS"|translate}}</ion-label>
                <ion-select [(ngModel)]="asset_decimals" name="asset_decimals" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" required>
                    <ion-option *ngFor="let item of decimalsList" value="{{item}}">{{item}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validName(issuer_name)}">
                <ion-label color="primary" floating>{{"ISSUE.ISSUER_NAME" | translate}}</ion-label>
                <ion-input name="issuer_name" [(ngModel)]="issuer_name" maxlength="63" required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validDescription(description)}">
                <ion-label color="primary" floating>{{"ISSUE.DESCRIPTION"|translate}}</ion-label>
                <ion-input name="description" [(ngModel)]="description" maxlength="63" required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border': false}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>

            <div *ngIf="showAdvanced">
                <br>
                <ion-item>
                    <ion-label>{{"ISSUE.FEE_ADDRESS"|translate}}</ion-label>
                    <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                        <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                        <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.address}} - {{format(addressbalance.balance, decimals)}} {{selectedAsset}}</ion-option>
                    </ion-select>
                </ion-item>
                <br>
                <ion-item>
                  <ion-label>{{"ISSUE.ISSUE_ADDRESS" |translate}}</ion-label>
                  <ion-select [(ngModel)]="issue_address" name="issue_address" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                    <ion-option value="custom">{{"CUSTOM"| translate}}</ion-option>
                    <ion-option *ngFor="let address of addresses" value="{{address}}">{{address}}</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="issue_address == 'custom'" [ngClass]="{'error-border':!validIssueAddress(custom_issue_address)}">
                  <ion-label floating>{{"ISSUE.CUSTOM_ISSUE_ADDRESS" | translate}}</ion-label>
                  <ion-input name="custom_issue_address" [(ngModel)]="custom_issue_address" (ngModelChange)="customIssueAddressChanged($event)"></ion-input>
                </ion-item>
                <button ion-button full [disabled]="!sendForm.form.valid||!validSymbol(symbol)||!validMaxSupply(max_supply)||!validName(issuer_name)||!validDescription(description)||(issue_address=='custom' && !validIssueAddress(custom_issue_address))" (click)="preview()" color="primary">
                    {{"PREVIEW" | translate}}
                </button>
                <div *ngIf="rawtx">
                    <br><br>
                    <h2>{{"TRANSACTION_PREVIEW_TEXT"|translate}}</h2>
                    <p>{{rawtx}}</p>
                    <br><br>
                </div>
            </div>
        </ion-list>


        <ion-row>
            <ion-col>
                <button ion-button full [disabled]="!sendForm.form.valid||!validSymbol(symbol)||!validMaxSupply(max_supply)||!validName(issuer_name)||!validDescription(description)||(issue_address=='custom' && !validIssueAddress(custom_issue_address))" (click)="confirm()" icon-left color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"ISSUE.CREATE" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                <ion-icon name="cancel"></ion-icon>
                {{'CANCEL'|translate}}
            </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
