<ion-card class="card-block">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item class="grid-info">
                    <ion-avatar item-start>
                        <img class="coinlogo" [src]="icon">
                    </ion-avatar>
                    <h1 class="symbol">ETP</h1>
                    <h2 class="balances balance-text">
                        <div class="balance-field-fiat">
                            {{"ACCOUNT.TOTAL"|translate}}
                        </div>
                        <div class="balance-field">
                            {{"ACCOUNT.UNCONFIRMED"|translate}}
                        </div>
                        <div class="balance-field">
                            {{"ACCOUNT.FROZEN"|translate}}
                        </div>
                    </h2>
                    <h2 class="balances">
                        <div class="balance-field-fiat">
                            <div>{{balance.available + (balance.unconfirmed ? balance.unconfirmed : 0) + balance.frozen
                                | format : balance.decimals}}</div>
                            <div *ngIf="tickers!==undefined" class="fiat">
                                ≈{{base}} {{(balance.available + (balance.unconfirmed ? balance.unconfirmed : 0) +
                                balance.frozen)/100000000*tickers[base].price | number : '1.0-2'}}
                            </div>
                        </div>
                        <div class="balance-field">
                            <div>{{(balance.unconfirmed ? balance.unconfirmed : 0) | format : balance.decimals}}</div>
                        </div>
                        <div class="balance-field">
                            <div class="frozen-balance">
                                {{balance.frozen | format : balance.decimals}}
                            </div>
                        </div>
                    </h2>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
<ion-row col-12 class="row-buttons">
    <ion-col col-4>
        <button ion-button full clear color="secondary" icon-left (click)="gotoReceive()">
            <ion-icon name="download"></ion-icon>{{ "RECEIVE" | translate }}
        </button>
    </ion-col>
    <ion-col col-4>
        <button ion-button full clear color="danger" icon-left (click)="gotoTransfer()">
            <ion-icon name="send"></ion-icon>{{ "SEND" | translate }}
        </button>
    </ion-col>
    <ion-col col-4>
        <button ion-button full clear color="primary" icon-left (click)="gotoTransactions()">
            <ion-icon name="time"></ion-icon>{{ "HISTORY" | translate }}
        </button>
    </ion-col>
</ion-row>