<ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-avatar item-start>
                        <img class="coinlogo" [src]="'assets/icon/ETP.png'">
                    </ion-avatar>
                    <ion-label>
                        <ion-row>
                            <ion-col size="6">
                                <h1 class="symbol">ETP</h1>
                            </ion-col>
                            <!--ion-col>{{"ACCOUNT.TOTAL"|translate}}</ion-col-->
                            <ion-col class="ion-text-right" size="3">
                                    {{balance.available + balance.frozen | format : balance.decimals}}
                                    <div class="ion-text-right" *ngIf="tickers!==undefined && tickers[base]">
                                        ≈{{base}}
                                        {{(balance.available + balance.frozen)/100000000*tickers[base].price | number : '1.0-2'}}
                                    </div>
                            </ion-col>
                            <!--ion-col>{{"ACCOUNT.FROZEN"|translate}}</ion-col-->
                            <ion-col class="ion-text-right" size="3">
                                {{balance.frozen | format : balance.decimals}}
                                <div class="ion-text-right" *ngIf="tickers!==undefined && tickers[base]" class="fiat">
                                    ≈{{base}} {{(balance.frozen)/100000000*tickers[base].price | number : '1.0-2'}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--ion-grid no-padding class="button-row">
        <ion-row>
            <ion-col>
                <ion-button expand="full" fill="clear" color="secondary" icon-lef [routerLink]="['addresses','ETP']" t>
                    <ion-icon name="download"></ion-icon>{{ "ACCOUNT.BUTTON.RECEIVE" | translate }}
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full" fill="clear" color="danger" icon-left [routerLink]="['send', 'ETP', 'single']">
                    <ion-icon name="send"></ion-icon>{{ "ACCOUNT.BUTTON.SEND" | translate }}
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full" fill="clear" color="primary" icon-left [routerLink]="['history', 'ETP']">
                    <ion-icon name="time"></ion-icon>{{ "ACCOUNT.BUTTON.HISTORY" | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid-->
</ion-card>