<ion-header>
    <ion-navbar>
        <ion-title>{{"AVATARS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="no-avatar" *ngIf="no_avatar">{{"AVATARS.NO_AVATARS" | translate}}</div>
    <ion-card class="avatar-card" *ngFor="let avatar of avatars">
        <h2>{{avatar.symbol}}</h2>
        {{avatar.address}}
    </ion-card>
    <button ion-button icon-left color="primary" icon-left (click)="create()">
        <ion-icon name="person-add"></ion-icon>
        {{"AVATARS.CREATE_AVATAR_BTN" | translate}}
    </button>
</ion-content>
