page-auth {

    .count-down, .count-down .digital {
        color: black;
        font-size: 16px;
    }

    .count-down {
        font-family: inherit;
    }

    .right-buttons {
        float: right;
        height: 40px;
        margin: 0 !important;
    }

    .right {
        text-align: right;
    }

    ion-card ion-col {
        text-overflow: initial;
        white-space: initial;
    }

    ion-row ion-row {
        padding-bottom: 10px;
    }

    .center-text {
        text-align: center;
        width: 100%;
    }

    .pic-description2 {
        background:url(../assets/images/mobile_import_2.jpeg) no-repeat;
        background-size: 100%;
    }

    .mobile-import-image {
        width: 200px;
        height: 170px;
        margin: 0 auto;
    }

    #manual-enter-mobile-button {
        margin-bottom: 40px;
    }

}
