page-auth {

    .center-text {
        text-align: center;
        width: 100%;
    }

    .pic-description2 {
        background:url(../assets/images/mobile_import_2.jpeg) no-repeat;
        background-size: 100%;
    }

    .mobile-import-image {
        width: 200px;
        height: 170px;
        margin: 0 auto;
    }

}
