<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "ETP_BRIDGE_DETAILS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="mini-loader" *ngIf="!order"></div>

    <ion-card class="card-order-history manual-copy" *ngIf="order">
        <ion-row>
            <ion-col col-md-12 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-md-12 col-sm-12 col-12>
                        <h1 (click)="show(order.id)">{{order.id}}</h1>
                        <div class="status" [ngClass]="{'valid-input': order.status == 'wait_receive_confirm' || order.status == 'receive_complete', 'warning-input': order.status == 'wait_deposit_send' || order.status == 'wait_exchange_push' || order.status == 'wait_exchange_return' || order.status == 'wait_refund_send' || order.status == 'wait_refund_confirm' || order.status == 'wait_receive_send', 'wrong-input': order.status == 'timeout' || order.status == 'fail'}">
                            {{"ETP_BRIDGE.STATUS." + order.status|translate}}
                        </div>
                        <h3>
                            {{"ETP_BRIDGE.STATUS_DESCRIPTION." + order.status|translate}}
                        </h3>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-sm-6 col-12>{{'ETP_BRIDGE.FROM_ASSET'|translate}}</ion-col>
                    <ion-col col-sm-6 col-12 class="right">{{order.deposit.amount}} {{order.deposit.symbol}}</ion-col>                  
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.DEPOSIT_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                        <div no-lines *ngIf="order.status == 'wait_deposit_send'" class="smallAdvice" [translate]="'ETP_BRIDGE.DEPOSIT_ADDRESS_ADVICE'" [translateParams]="{amount: order.deposit.amount, symbol: order.deposit.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.deposit.address)}}" target="_blank" class="right">{{order.deposit.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.deposit.address)" class="right">{{order.deposit.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                        <div no-lines class="smallAdvice" [translate]="'ETP_BRIDGE.REFUND_ADDRESS_ADVICE'" [translateParams]="{symbol: order.deposit.symbol}"></div>  
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.refund.address)}}" target="_blank" class="right">{{order.refund.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.refund.address)" class="right">{{order.refund.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="order.refund.txid">
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.REFUND_TX'" [translateParams]="{symbol: order.deposit.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('tx', order.refund.txid)}}" target="_blank" class="right">{{order.refund.txid}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.refund.txid)" class="right">{{order.refund.txid}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-row>
                    <ion-col col-sm-6 col-12>{{'ETP_BRIDGE.TO_ASSET'|translate}}</ion-col>
                    <ion-col col-sm-6 col-12 class="right">{{order.receive.amount}} {{order.receive.symbol}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: order.receive.symbol}"></div>
                        <div no-lines class="smallAdvice" [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS_ADVICE'" [translateParams]="{symbol: order.receive.symbol}"></div>  
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.receive.symbol)" href="{{explorerURL('adr', order.receive.address)}}" target="_blank" class="right">{{order.receive.address}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.receive.symbol)" (click)="show(order.receive.address)" class="right">{{order.receive.address}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="order.receive.txid">
                    <ion-col col-sm-6 col-12>
                        <div [translate]="'ETP_BRIDGE.RECEIVE_TX'" [translateParams]="{symbol: order.receive.symbol}"></div>
                    </ion-col>
                    <ion-col col-sm-6 col-12>
                        <h4 class="break-words">
                            <a *ngIf="etpBridgeService.isMetaverseSymbol(order.receive.symbol)" href="{{explorerURL('tx', order.receive.txid)}}" target="_blank" class="right">{{order.receive.txid}}</a>
                            <a *ngIf="!etpBridgeService.isMetaverseSymbol(order.receive.symbol)" (click)="show(order.receive.txid)" class="right">{{order.receive.txid}}</a>
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="buttons-row" *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol) && order.status == 'wait_deposit_send'">
            <ion-col>

            </ion-col>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="gotoAssetTransfer(order.deposit.symbol, order.deposit.address, order.deposit.amount)" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"DEPOSIT" | translate}}
                </button>
            </ion-col>
        </ion-row>
    </ion-card>      

</ion-content>
