<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "ETP_BRIDGE_DETAILS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="mini-loader" *ngIf="!order"></div>

    <ion-card class="card-order-history" *ngIf="order">
        <ion-row>
            <ion-col col-md-12 col-sm-12 col-12>
                <ion-item>
                    <h1>{{order.id}}</h1>
                    <h2 *ngIf="order.status == 'wait_deposit_send'">{{"ETP_BRIDGE.STATUS_WAIT_DEPOSIT_SEND"|translate}}</h2>
                    <h2 *ngIf="order.status == 'wait_exchange'">{{"ETP_BRIDGE.STATUS_WAIT_EXCHANGE"|translate}}</h2>
                    <h2 *ngIf="order.status == 'timeout'">{{"ETP_BRIDGE.STATUS_TIMEOUT"|translate}}</h2>
                    <h2 *ngIf="order.status == 'fail'">{{"ETP_BRIDGE.STATUS_FAIL"|translate}}</h2>                
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-item>
                    <h4>
                        {{'ETP_BRIDGE.FROM_ASSET'|translate}}
                        <span class="right">{{order.deposit.amount}} {{order.deposit.symbol}}</span>
                    </h4>  
                    <h4>
                        <span [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></span>
                        <span class="right">{{order.refund.address}}</span>
                    </h4>
                </ion-item>
            </ion-col>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-item>
                    <h4>
                        {{'ETP_BRIDGE.TO_ASSET'|translate}}
                        <span class="right">{{order.receive.amount}} {{order.receive.symbol}}</span>
                    </h4>
                    <h4>
                        <span [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: order.receive.symbol}"></span>
                        <span class="right">{{order.receive.address}}</span>
                    </h4>
                </ion-item>
            </ion-col>
        </ion-row> 
    </ion-card>      

</ion-content>
