<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ "ETP_BRIDGE_DETAILS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="mini-loader" *ngIf="!order"></div>

    <ion-card class="card-order-history manual-copy" *ngIf="order">
        <ion-row>
            <ion-col col-md-12 col-sm-12 col-12>
                <ion-item>
                    <h1 (click)="show(order.id)">{{order.id}}</h1>
                    <h2>{{"ETP_BRIDGE.STATUS_" + order.status|translate}}</h2>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-item>
                    <h4>
                        {{'ETP_BRIDGE.FROM_ASSET'|translate}}
                        <span class="right">{{order.deposit.amount}} {{order.deposit.symbol}}</span>
                    </h4>
                    <h4>
                        <span [translate]="'ETP_BRIDGE.DEPOSIT_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></span>
                        <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.deposit.address)}}" target="_blank" class="right">{{order.deposit.address}}</a>
                        <span *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.deposit.address)" class="right">{{order.deposit.address}}</span>
                    </h4>
                    <div no-lines class="smallAdvice" [translate]="'ETP_BRIDGE.DEPOSIT_ADDRESS_ADVICE'" [translateParams]="{amount: order.deposit.amount, symbol: order.deposit.symbol}"></div>  
                    <br>
                    <h4>
                        <span [translate]="'ETP_BRIDGE.REFUND_ADDRESS'" [translateParams]="{symbol: order.deposit.symbol}"></span>
                        <a *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" href="{{explorerURL('adr', order.refund.address)}}" target="_blank" class="right">{{order.refund.address}}</a>
                        <span *ngIf="!etpBridgeService.isMetaverseSymbol(order.deposit.symbol)" (click)="show(order.refund.address)" class="right">{{order.refund.address}}</span>
                    </h4>
                    <div no-lines class="smallAdvice" [translate]="'ETP_BRIDGE.REFUND_ADDRESS_ADVICE'" [translateParams]="{symbol: order.deposit.symbol}"></div>  
                </ion-item>
            </ion-col>
            <ion-col col-md-6 col-sm-12 col-12>
                <ion-item>
                    <h4>
                        {{'ETP_BRIDGE.TO_ASSET'|translate}}
                        <span class="right">{{order.receive.amount}} {{order.receive.symbol}}</span>
                    </h4>
                    <h4>
                        <span [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS'" [translateParams]="{symbol: order.receive.symbol}"></span>
                        <a *ngIf="etpBridgeService.isMetaverseSymbol(order.receive.symbol)" href="{{explorerURL('adr', order.receive.address)}}" target="_blank" class="right">{{order.receive.address}}</a>
                        <span *ngIf="!etpBridgeService.isMetaverseSymbol(order.receive.symbol)" (click)="show(order.receive.address)" class="right">{{order.receive.address}}</span>
                    </h4>
                    <div no-lines class="smallAdvice" [translate]="'ETP_BRIDGE.RECEIVE_ADDRESS_ADVICE'" [translateParams]="{symbol: order.receive.symbol}"></div>  
                </ion-item>
            </ion-col>
        </ion-row> 
        <ion-row class="buttons-row" *ngIf="etpBridgeService.isMetaverseSymbol(order.deposit.symbol) && order.status == 'wait_deposit_send'">
            <ion-col>

            </ion-col>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="gotoAssetTransfer(order.deposit.symbol, order.deposit.address, order.deposit.amount)" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"DEPOSIT" | translate}}
                </button>
            </ion-col>
        </ion-row>
    </ion-card>      

</ion-content>
