<ion-list>

    <ion-item [ngClass]="{'error-border':!validInitial(initial), 'valid-border': validInitial(initial)}">
        <ion-label color="primary" floating>{{"MST_MINING.INITIAL_REWARD" | translate}}</ion-label>
        <ion-input name="initial" type="number" [(ngModel)]="initial" min="0" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <div no-lines class="advice">{{"HELP.MST_MINING_INITIAL" | translate}}</div>
    
    <ion-item [ngClass]="{'error-border':!validInterval(interval), 'valid-border': validInterval(interval)}">
        <ion-label color="primary" floating>{{"MST_MINING.INTERVAL" | translate}}</ion-label>
        <ion-input name="interval" type="number" min="0" step="1" [(ngModel)]="interval" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <div no-lines class="advice">{{"HELP.MST_MINING_INTERVAL" | translate}}</div>
    <div *ngIf="type == 'recurrent'" no-lines class="advice">{{"HELP.ASSET_LOCK_NBR_PERIOD" | translate}}</div>

    <ion-item no-lines>
        <ion-label color="primary">{{"MST_MINING.BASE" | translate}}</ion-label>
        <ion-badge item-end color="primary">{{basePercent}}%</ion-badge>
    </ion-item>
    <ion-item>
        <ion-range min="0" max="100" step="1" pin="true" snaps="true" color="primary" [(ngModel)]="basePercent" name="basePercent" (ngModelChange)="inputChange($event)" (ionChange)="updateRange()">
            <ion-label range-left>0%</ion-label>
            <ion-label range-right>100%</ion-label>
        </ion-range>
    </ion-item>
    <div no-lines class="advice">{{"HELP.MST_MINING_BASE" | translate}}</div>

</ion-list>
