<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="ADVANCED.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="./multisig">
      <ion-icon name="people"></ion-icon>
      <ion-label>
        <h1 translate="MULTISIG.TITLE"></h1>
        <p translate="MULTISIG.SUBTITLE"></p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="./certificates">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>
        <h1 translate="CERTIFICATES.TITLE"></h1>
        <p translate="CERTIFICATES.SUBTITLE"></p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="./decode">
      <ion-icon name="pencil"></ion-icon>
      <ion-label>
        <h1 translate="DECODE.TITLE"></h1>
        <p translate="DECODE.SUBTITLE"></p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="./burn">
      <ion-icon name="flame"></ion-icon>
      <ion-label>
        <h1 translate="BURN.TITLE"></h1>
        <p translate="BURN.SUBTITLE"></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
