.icon {
    max-width: 30px;
}

ion-card-content {
    text-align: left;
}

.card-ios {
    margin-left: 0;
    margin-right: 0;
}

.avatar-logo {
    width: 18px;
    display: inline-block;
}

.address-text {
    border: 0px !important;
    resize: none;
    padding-top: 10px;
    margin-right: 10px;
}

.copy-btn, .qrcode-btn {
    height: 30px;
}

.address {
    margin: 0;
}