.coinlogo {
    width: 28px;
    margin-right: 20px;
    margin-top: 4px;
}

ion-card-content {
    text-align: left;
}

.card-ios {
    margin-left: 0;
    margin-right: 0;
}

.avatar-logo {
    width: 18px;
    display: inline-block;
}

.address-text {
    border: 0px !important;
    resize: none;
    padding-top: 10px;
    margin-right: 10px;
}

.copy-btn {
    top: -12px;
    position: absolute;
}

.qrcode-btn {
    height: 30px;
}

.address {
    margin: 0;
}

.symbol {
    display: inline-block;
}

ion-card-content {
    padding-left: 0;
}

.create-avatar-btn {
    left: -12px;
    position: relative;
    height: 24px;
}

ion-card {
    margin: 0;
}