<ion-header>
  <ion-toolbar>
    <ion-title translate="LOGIN.TITLE"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="6" offset-lg="3">

        <ion-row class="logo-row">
          <ion-col class="logo">
            <div class="banner"></div>
          </ion-col>
        </ion-row>

        <div class="info-text">
          <div style="text-align: center;">{{appService.version}}
            <span style="text-align: center;" id="label-network" value="mainnet" *ngIf="metaverse.network=='mainnet'"
              [translate]="'MAINNET'"></span>
            <span style="text-align: center;" id="label-network" value="testnet" *ngIf="metaverse.network=='testnet'"
              [translate]="'TESTNET'"></span>
          </div>
        </div>

        <ion-segment [(ngModel)]="network" (ionChange)="setNetwork($event)" color="primary" id="network-switch">
          <ion-segment-button id="network-switch-option-mainnet" value="mainnet" [translate]="'MAINNET'">
          </ion-segment-button>
          <ion-segment-button id="network-switch-option-testnet" value="testnet" [translate]="'TESTNET'">
          </ion-segment-button>
        </ion-segment>

        <ion-button expand="full" icon-left *ngFor="let account of saved_accounts" (click)="loginViaAccount(account)">
          <ion-icon name="contact"></ion-icon>
          {{account.name}}
        </ion-button>

        <ion-button expand="full" routerLink="/login/create" icon-left>
          <ion-icon name="add"></ion-icon>
          {{"LOGIN.BUTTON.CREATE_NEW_WALLET"|translate}}
        </ion-button>

        <ion-button routerLink="/login/import-backup" expand="full" icon-left>
          <ion-icon name="download"></ion-icon>
          <span [translate]="!platform.is('mobile') ? 'LOGIN.BUTTON.CREATE_FROM_BACKUP_WORDS' : 'OPEN_FROM_BACKUP_WORDS'"></span>
        </ion-button>

        <ion-button *ngIf="!platform.is('mobile')" routerLink="/login/open-file" expand="full" icon-left color="secondary">
          <ion-icon name="download"></ion-icon>
          {{"LOGIN.BUTTON.OPEN_WALLET_FILE"|translate}}
        </ion-button>

        <ion-button *ngIf="isApp" expand="full" icon-left color="secondary" routerLink="/login/scan">
          <ion-icon name="qr-scanner"></ion-icon>
          {{"LOGIN.BUTTON.OPEN_FROM_QRCODE"|translate}}
        </ion-button>

        <ion-button *ngIf="isApp" expand="full" icon-left color="primary" routerLink="/login/how-to-import">
          <ion-icon name="information-circle"></ion-icon>
          {{"LOGIN.BUTTON.HOW_TO_IMPORT_WALLET_MOBILE"|translate}}
        </ion-button>

        <p *ngIf="!platform.is('mobile')">{{"LOGIN.INFO_TEXT_BROWSER"|translate}}</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="full" fill="clear" icon-left (click)="switchTheme()">
        <ion-icon name="color-palette"></ion-icon>
        {{"LOGIN.BUTTON.THEME_SETTINGS"|translate}}
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill="clear" icon-left routerLink="/settings/language">
        <ion-icon name="flag"></ion-icon>
        {{"LOGIN.BUTTON.SWITCH_LANGUAGE"|translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>