<ion-header>
  <ion-toolbar>
    <ion-title translate="LOGIN.TITLE"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="6" offset-lg="3">

        <ion-row class="logo-row">
          <ion-col class="logo">
            <div class="banner"></div>
          </ion-col>
        </ion-row>

        <div class="info-text">
          <div class="center">{{appService.version}}
            <span id="label-network" value="mainnet" *ngIf="network=='mainnet'" translate="MAINNET"></span>
            <span id="label-network" value="testnet" *ngIf="network=='testnet'" translate="TESTNET"></span>
          </div>
        </div>

        <ion-segment [(ngModel)]="network" (ionChange)="setNetwork($event)" color="primary" id="network-switch">
          <ion-segment-button id="network-switch-option-mainnet" value="mainnet" translate="MAINNET"></ion-segment-button>
          <ion-segment-button id="network-switch-option-testnet" value="testnet" translate="TESTNET"></ion-segment-button>
        </ion-segment>

        <ng-container *ngFor="let account of saved_accounts">
          <ion-button expand="full" class="account-btn" *ngIf="account.network == network" (click)="loginViaAccount(account)">
            <ion-icon slot="start" name="contact"></ion-icon>
            {{account.name}}
          </ion-button>
        </ng-container>

        <ion-button expand="full" routerLink="/login/create" icon-left>
          <ion-icon slot="start" name="add"></ion-icon>
          <span translate="LOGIN.BUTTON.CREATE_NEW_WALLET"></span>
        </ion-button>

        <ion-button routerLink="/login/import-backup" expand="full" icon-left>
          <ion-icon slot="start" name="download"></ion-icon>
          <span [translate]="!platform.is('mobile') ? 'LOGIN.BUTTON.CREATE_FROM_BACKUP_WORDS' : 'OPEN_FROM_BACKUP_WORDS'"></span>
        </ion-button>

        <ion-button *ngIf="!platform.is('mobile')" routerLink="/login/open-file" expand="full" icon-left color="secondary">
          <ion-icon slot="start" name="download"></ion-icon>
          <span translate="LOGIN.BUTTON.OPEN_WALLET_FILE"></span>
        </ion-button>

        <ion-button routerLink="/login/xpub" expand="full" icon-left color="secondary">
          <ion-icon slot="start" name="eye"></ion-icon>
          <span translate="LOGIN.BUTTON.OPEN_WALLET_VIEW_ONLY"></span>
        </ion-button>

        <ion-button *ngIf="isApp" expand="full" icon-left color="secondary" routerLink="/login/scan">
          <ion-icon slot="start" name="qr-scanner"></ion-icon>
          <span translate="LOGIN.BUTTON.OPEN_FROM_QRCODE"></span>
        </ion-button>

        <ion-button *ngIf="isApp" expand="full" icon-left color="primary" routerLink="/login/how-to-import">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          <span translate="LOGIN.BUTTON.HOW_TO_IMPORT_WALLET_MOBILE"></span>
        </ion-button>

        <p *ngIf="!platform.is('mobile')" translate="LOGIN.INFO_TEXT_BROWSER"></p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>