<ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col class="logo" size="4" offset="4">
        <img src="/assets/logo.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12" size-lg="6" offset-lg="3">


        <ion-segment [(ngModel)]="network" (ionChange)="setNetwork($event)" color="primary" id="network-switch">
          <ion-segment-button id="network-switch-option-mainnet" value="mainnet" translate="MAINNET">
          </ion-segment-button>
          <ion-segment-button id="network-switch-option-testnet" value="testnet" translate="TESTNET">
          </ion-segment-button>
        </ion-segment>

        <ion-row class="logo-row">
          <ion-col class="logo">
            <div class="banner"></div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3" offset-md="3">
        <ion-card routerLink="/login/create">
          <ion-grid>
            <ion-row>
              <ion-col class="vhcenter" size="2">
                <ion-icon name="add-outline" class="icon"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>
                    Create New
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Enter the new reality by creating your own Metaverse Blockchain wallet.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card routerLink="/login/open">
          <ion-grid>
            <ion-row>
              <ion-col class="vhcenter" size="2">
                <ion-icon name="log-in-outline" class="icon"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>
                    Open Existing
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  If you already have a Metaverse wallet you can access it here
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div class="info-text center">
    <span> version: {{appService.version}} </span>
    <span *ngIf="appService.ci_number"> build: <a
        href="https://travis-ci.org/github/mvs-org/lightwallet/builds/{{appService.ci_link}}">{{appService.ci_number}}</a>
    </span>
    <span> network: {{network}}</span>
  </div>
</ion-footer>