.vhcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 48px;
}

ion-card {
    height: 100%;
}

.logo img {
    margin-top: 28px;
    width: 100%;
}