<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "DNA.LOCK" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">

    <div>
        <div *ngIf="isLoading" class="mini-loader"></div>
        <div *ngIf="!isLoading">
            <p align="center" class="wrong-input">{{"DNA.NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
            <ion-row>
                <ion-col>
                    <p class="available">{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{formatTokenWithoutSymbol(balance.available)}} {{asset}}</p>
                </ion-col>
                <ion-col>
                    <p class="right">{{"FEE"|translate}}: <br *ngIf="platform.is('mobile')">{{formatToken(fee) + ' + ' + formatToken(pricePerKbyte) + ' / KB'}}</p>
                </ion-col>
            </ion-row>
            <form style="padding-bottom: 0;">
                <ion-list style="padding-bottom: 0;">
                    <div style="position: relative;">
                        <ion-item [ngClass]="{'error-border':!validAmount(amount)}">
                            <ion-label color="primary" floating>{{"DNA.LOCK_AMOUNT"|translate}}</ion-label>
                            <ion-input name="amount" placeholder="" [(ngModel)]="amount"></ion-input>
                        </ion-item>
                        <button class="amount-set" (click)="setAmountAll()" ion-button color="primary">{{"DNA.SEND_AMOUNT_ALL"|translate}}</button>
                    </div>
                    <ion-item *ngIf="amount && !validAmount(amount)" no-lines class="wrong-input">{{"DNA.LOCK_AMOUNT_NO_MATCH" | translate}}</ion-item>
                    <br>

                    <ion-item [ngClass]="{'error-border':!selectedPeriod}">
                        <ion-label>{{"锁仓几期"|translate}}</ion-label>
                        <ion-select [(ngModel)]="selectedPeriod" name="selectedPeriod" multiple="false"
                                    okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" (ngModelChange)="changePeriod($event)">
                            <ng-container *ngFor="let period of ['1', '2', '3']">
                                <ion-option value="{{period}}">
                                    {{period}}
                                </ion-option>
                            </ng-container>
                        </ion-select>
                    </ion-item>

                    <ion-item [ngClass]="{'error-border':!validPassword(password)}">
                        <ion-label color="primary" floating>{{"PASSWORD"|translate}}</ion-label>
                        <ion-input name="password" type="password" placeholder="" [(ngModel)]="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="password && !validPassword(password)" no-lines class="wrong-input">{{"DNA.PASSWORD_NO_MATCH" | translate}}</ion-item>

                    <br>
                </ion-list>
                <p align="center" class="wrong-input">{{"DNA.NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
                <br>
                <ion-row class="padding-bottom">
                    <ion-col>
                        <button type="submit" ion-button full icon-left [disabled]="!validPassword(password)" (click)="send(password)" color="secondary">
                            <ion-icon disabled="checked" name="checkmark"></ion-icon>
                            {{'BUTTON.OK'|translate}}
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                            <ion-icon name="close"></ion-icon>
                            {{'CANCEL'|translate}}
                        </button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>

</ion-content>