etp-card {

    width: 100%;

    .asset-container {
       max-width: 100%;
    }

    @media (min-width: 825px) {
        .asset-container {
            max-width: 50%;
        }
     }

    @media (min-width: 1310px) {
        .asset-container {
            max-width: 33.33%;
        }
    }

    @media (min-width: 1700px) {
        .asset-container {
            max-width: 25%;
        }
    }

    ion-list-header ion-reorder{
        display: none !important;
    }

    ion-label.label-md{
        margin: 0px;
    }
    .item-md{
        padding-left: 0px;
    }

    ion-item ion-row{
        position: relative;
    }

    ion-item.item-ios{
        padding-left: 0px;
    }
    .item-ios.item-block .item-inner{
        padding-right: 0px;
    }
    .label-ios{
        margin: 0px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 400px;
    }
    ion-list-header.item-md{
        padding-left: 10px;
    }
    ion-col button.button-full{
        padding: 0px;
    }

    .spread-out {
        .scroll-content {
            max-width: 100% !important;
            border-color: transparent;
        }
    }

    //Browser
    .card-md{
        padding: 10px 20px;
    }

    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    .deposit-button {
      margin: 0;
      padding: 0;
    }

    .row-buttons {
      position: absolute;
      bottom: 20px;
      left: -1px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .card-block {
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 50px;
    }

    .offlineIcon {
      color: red;
      padding-right: 10px;
    }


    .block-iPhone {
      line-height: 8;
      font-size: 14px;
    }

    .csdLogoDefault {
      //filter: invert(100%);
      filter: brightness(0.50);
    }

    .fiat {
        color: grey;
    }

    .balances {
        display: inline-block;
        width: auto;
    }

    .balance-text {
        margin-right: 10px;
    }

    .balance-field {
        height: 40px;
        top: 0;
    }

    .symbol {
        padding-bottom: 5px;
    }

}
