<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/advanced/multisig"></ion-back-button>
    </ion-buttons>
    <ion-title translate="MULTISIG.ADD.HEADLINE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item lines="none">
      <ion-segment [(ngModel)]="creation_type" color="primary">
        <ion-segment-button value="new" translate="MULTISIG.ADD.NEW"></ion-segment-button>
        <ion-segment-button value="existing" translate="MULTISIG.ADD.EXISTING"></ion-segment-button>
      </ion-segment>
    </ion-item>

    <form *ngIf="creation_type == 'new'" #newAddressForm="ngForm" class="padding-bottom"
      (ngSubmit)="getAddress(cosigners, nbrSigReq, myPublicKey, passphrase)">
      <ion-row>
        <ion-col>
          <p align="center" translate="MULTISIG.ADD.INFORMATION"></p>
        </ion-col>
      </ion-row>
      <h2 translate="MULTISIG.ADD.STEP1_TITLE"></h2>
      <p translate="MULTISIG.ADD.STEP1_EXPLAIN"></p>
      <ion-list>
        <ion-item [ngClass]="{'error-border': !validAddress(address)}">
          <ion-label color="primary" translate="MULTISIG.ADD.SELECT_AVATAR_OR_ADDRESS"></ion-label>
          <ion-select [(ngModel)]="address" [disabled]="myPublicKey != ''" name="address" multiple="false"
            (ngModelChange)="onAddressChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
            <ion-select-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">
              {{addressbalance.identifier}}
              - {{addressbalance.balance | format : 8}} ETP</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!myPublicKey" [ngClass]="{'error-border': !validPassword(passphrase)}">
          <ion-label color="primary" position="floating" translate="GLOBAL.PASSWORD"></ion-label>
          <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
        </ion-item>
        <br>
      </ion-list>
      <ion-row *ngIf="!myPublicKey">
        <ion-col size="12" size-sm="6">
          <ion-button color="danger" expand="full" routerLink="/account/advanced/multisig" routerDirection="back">
            <ion-icon slot="start" name="close"></ion-icon>
            <span translate="GLOBAL.CANCEL"></span>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-button type="submit" expand="full" (click)="getPublicKey(address)"
            [disabled]="!validPassword(passphrase)||!validAddress(address)" color="secondary">
            <ion-icon slot="start" disabled="checked" name="send"></ion-icon>
            <span translate="MULTISIG.ADD.GET_PUBLICKEY"></span>
          </ion-button>
        </ion-col>
      </ion-row>
      <div *ngIf="myPublicKey">
        <h4 translate="MULTISIG.ADD.YOUR_PUBLICKEY"></h4>
        <ion-row>
          <ion-item lines="none" class="manual-copy breakwords">{{myPublicKey}}</ion-item>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-sm="6">
            <ion-button type="submit" expand="full" ngxClipboard [cbContent]="myPublicKey">
              <ion-icon slot="start" name="copy"></ion-icon>
              <span translate="GLOBAL.COPY"></span>
            </ion-button>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <ion-button color="danger" expand="full" (click)="myPublicKey = ''">
              <ion-icon slot="start" name="refresh"></ion-icon>
              <span translate="MULTISIG.ADD.UPDATE_MY_ADDRESS"></span>
            </ion-button>
          </ion-col>
        </ion-row>
        <h2 translate="MULTISIG.ADD.STEP2_TITLE"></h2>
        <p translate="MULTISIG.ADD.STEP2_EXPLAIN"></p>
        <ion-card class="card-block" *ngFor="let cosigner of cosigners; let i = index; trackBy:customTrackBy"
          [attr.data-index]="i">
          <ion-row>
            <ion-col size="6">
              <h2 class="cosigner-title" translate="MULTISIG.ADD.COSIGNER" [translateParams]="{index: i+1}"></h2>
            </ion-col>
            <ion-col size="6" class="right">
              <ion-button tabIndex="-1" class="remove-button" fill="clear" color="primary" (click)="removeCosigner(i)">
                X
              </ion-button>
            </ion-col>
            <ion-col class="cosigner-publickey">
              <ion-item
                [ngClass]="{'error-border':!validPublicKey(cosigners[i], i), 'valid-border':validPublicKey(cosigners[i], i)}">
                <ion-label color="primary" position="floating">{{"MULTISIG.ADD.COSIGNER_PUBLIC_KEY"|translate}} {{i+1}}
                </ion-label>
                <ion-input [(ngModel)]="cosigners[i]" [name]="cosigner + '_' + i" (ngModelChange)="checkPublicKeys()"
                  required></ion-input>
              </ion-item>
              <ion-item *ngIf="!validNotMyKey(cosigners[i])" lines="none" class="wrong-input"
                translate="MULTISIG.ADD.OWN_PUBLICKEY_ALREADY_ADDED"></ion-item>
              <ion-item *ngIf="!validUsedOnceKey(cosigners[i], i)" lines="none" class="wrong-input"
                translate="MULTISIG.ADD.PUBLIC_KEY_TWICE"></ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-button *ngIf="cosigners.length < cosignersLimit" class="right-buttons" color="primary"
          (click)="addCosigner()">
          <ion-icon name="add"></ion-icon>
          <span translate="MULTISIG.ADD.ADD_COSIGNER"></span>
        </ion-button>
        <h2 translate="MULTISIG.ADD.STEP3_TITLE"></h2>
        <ion-list>
          <ion-item [ngClass]="{'error-border': !validnbrSigReq(nbrSigReq)}">
            <ion-label translate="MULTISIG.ADD.NBR_SIGN_REQ"></ion-label>
            <ion-select [(ngModel)]="nbrSigReq" name="nbrSigReq" multiple="false" okText="{{'OK'|translate}}"
              cancelText="{{'CANCEL'|translate}}">
              <ion-select-option *ngFor="let nbrSigReq of nbrSigReqOptions" value="{{nbrSigReq}}">{{nbrSigReq}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <br>
        </ion-list>
        <h2 translate="MULTISIG.ADD.STEP4_TITLE"></h2>
        <p translate="MULTISIG.ADD.STEP4_EXPLAIN"></p>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="full" routerLink="/account/advanced/multisig" routerDirection="back">
              <ion-icon slot="start" name="close"></ion-icon>
              <span translate="GLOBAL.CANCEL"></span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" expand="full" [disabled]="!nbrSigReq" color="secondary">
              <ion-icon slot="start" disabled="checked" name="send"></ion-icon>
              <span translate="MULTISIG.ADD.GET_ADDRESS"></span>
            </ion-button>
          </ion-col>
        </ion-row>
        <h2 translate="MULTISIG.ADD.STEP5_TITLE"></h2>
        <p translate="MULTISIG.ADD.STEP5_EXPLAIN"></p>
      </div>
    </form>

    <form *ngIf="creation_type == 'existing'" #importAddressForm="ngForm" class="padding-bottom"
      (ngSubmit)="importAddress(import_address, passphrase_import)">
      <ion-list>
        <ion-item
          [ngClass]="{'error-border':!validAddress(import_address), 'valid-border':validAddress(import_address)}">
          <ion-label color="primary" position="floating" translate="MULTISIG.ADD.IMPORT_MULTISIG_ADDRESS"></ion-label>
          <ion-input #importAddressInput name="import_address" [(ngModel)]="import_address" required></ion-input>
          <ion-button slot="end" id="scanButton" *ngIf="isMobile" (click)="scan()">
            <ion-icon slot="icon-only" name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item [ngClass]="{'error-border': !validPassword(passphrase_import)}">
          <ion-label color="primary" position="floating" translate="GLOBAL.PASSWORD"></ion-label>
          <ion-input name="passphrase_import" type="password" [(ngModel)]="passphrase_import" required></ion-input>
        </ion-item>
        <br>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="full" routerLink="/account/advanced/multisig" routerDirection="back">
            <ion-icon slot="start" name="close"></ion-icon>
            <span translate="GLOBAL.CANCEL"></span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" expand="full"
            [disabled]="!validAddress(import_address) || !validPassword(passphrase_import)" color="secondary">
            <ion-icon slot="start" disabled="checked" name="send"></ion-icon>
            <span translate="MULTISIG.ADD.IMPORT_ADDRESS"></span>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>