<ion-card>
    <ion-grid>
        <ion-row>
            <ion-col col-sm-12 col-md-6>
                <ion-item>
                    <h1>{{plugin.name}}</h1>
                </ion-item>
            </ion-col>
            <ion-col col-sm-12 col-md-6>
                <button class="right-buttons" ion-button clear icon-left color="danger" icon-left (click)="removePlugin(plugin.name)">
                    <ion-icon name="trash"></ion-icon>
                    {{"PLUGIN.REMOVE" | translate}}
                </button>
                <button class="right-buttons" ion-button clear icon-left color="primary" icon-left (click)="checkPlugin(plugin)">
                    <ion-icon name="information-circle"></ion-icon>
                    {{"PLUGIN.INFO" | translate}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
