<ion-card class="manual-copy display-overflow">
    <ion-grid>
        <ion-row *ngIf="status == 'SIGNED' || status == 'UNSIGNED' || status == 'PARTIALLY'">
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <h1>{{'TX.TX_SUMMARY'|translate}}</h1>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="status == 'PENDING' || status == 'MINED'" class="hash">
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <div class="tx-hash">
                                <h2 class="font-mono overflow">
                                    {{tx.hash}}
                                </h2>
                            </div>
                            <button id="explorerTxButton" ion-button (click)="checkTx()">
                                <ion-icon name="open"></ion-icon>
                            </button>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="tx.confirmed_at">
                        <ion-item class="right timestamp">
                            <h2>{{tx.confirmed_at*1000 | date : 'medium'}}</h2>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item class="summaryTxType">
                            {{'TX.TX_TYPE.' + txType | translate}}
                            <div *ngIf="multisig.status == 'NOT_MULTISIG' && (status == 'SIGNED' || status == 'UNSIGNED' || status == 'PARTIALLY')"
                                class="unsigned">
                                {{'TX.SIGN_STATUS.' + status | translate}}
                            </div>
                            <div *ngIf="multisig.status == 'MULTISIG'">
                                <div class="unsigned">{{'MULTISIG_STATUS.MULTISIG' | translate}}</div>
                            </div>
                            <div *ngIf="multisig.status == 'PARTIALLY_MULTISIG'" class="wrong-input">
                                {{'MULTISIG_STATUS.PARTIALLY_MULTISIG' | translate}}
                            </div>
                            <div *ngIf="status == 'PENDING'" class="warning-input">
                                {{'PENDING_CONFIRMATION' | translate}}
                            </div>
                            <div *ngIf="status == 'MINED' && tx.height + globals.min_confirmations > height" class="warning-input">
                                {{'HISTORY.CONFIRMING' | translate}} ({{height - tx.height >= 0 ? height - tx.height : 0}}/{{globals.min_confirmations}})
                            </div>
                            <div *ngIf="status == 'PENDING' || status == 'MINED'">
                                <button class="ion-item" ion-button icon-left (click)="showHideDetails()">
                                    <ion-icon *ngIf="mode == 'summary'" name="arrow-dropdown"></ion-icon>
                                    <span *ngIf="mode == 'summary'">{{'SHOW_DETAILS'|translate}}</span>
                                    <ion-icon *ngIf="mode !== 'summary'" name="arrow-dropup"></ion-icon>
                                    <span *ngIf="mode !== 'summary'">{{'HIDE_DETAILS'|translate}}</span>
                                </button>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="right summaryAmount">
                            <div *ngIf="txType == 'ETP' || txType == 'COINSTAKE'">
                                <div *ngIf="totalPersonalInputs.ETP && totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee > 0"
                                    class="sendAmount">
                                    -{{totalPersonalInputs.ETP - totalPersonalOutputs.ETP | format : 8}} ETP
                                </div>
                                <div *ngIf="!totalPersonalInputs.ETP || totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee < 0"
                                    class="receiveAmount">
                                    +{{totalPersonalOutputs.ETP | format : 8}} ETP
                                </div>
                                <div *ngIf="totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee == 0">
                                    {{'TX.INTRAWALLET' | translate}}
                                </div>
                            </div>
                            <div *ngIf="txType == 'ASSET' || txType == 'ISSUE' || txType == 'MST_MINING'">
                                <div *ngIf="totalPersonalInputs.MST[txTypeValue] && totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] > 0"
                                    class="sendAmount">
                                    -{{totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] |
                                    format : decimalsMst[txTypeValue]}} {{txTypeValue}}
                                </div>
                                <div *ngIf="!totalPersonalInputs.MST[txTypeValue] || totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] < 0"
                                    class="receiveAmount">
                                    +{{totalPersonalOutputs.MST[txTypeValue] | format : decimalsMst[txTypeValue]}}
                                    {{txTypeValue}}
                                </div>
                                <div *ngIf="totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] == 0">
                                    {{'TX.INTRAWALLET' | translate}}
                                </div>
                            </div>
                            <div *ngIf="txType == 'CERT'">
                                {{'TX.TX_TYPE.CERT_TYPE.' + txTypeCert | translate}} {{txTypeValue}}
                            </div>
                            <div *ngIf="txType == 'MIT_REGISTERED' || txType == 'MIT_TRANSFERED' || txType == 'DID_REGISTER' || txType == 'DID_TRANSFER'">
                                {{txTypeValue}}
                            </div>
                            <div *ngIf="txType == 'MST_LOCK' || txType == 'DNA_VOTE'">
                                {{tx.locked_quantity | format : decimalsMst[txTypeValue]}} {{txTypeValue}}
                            </div>
                            <div *ngIf="txType == 'ETP_LOCK' || txType == 'ETP_LOCK_REWARD'">
                                {{tx.locked_quantity | format : 8}} ETP
                            </div>
                            <div *ngIf="txType == 'MINING_REWARD'" class="receiveAmount">
                                +{{totalPersonalOutputs.ETP | format : 8}} ETP
                                <div *ngIf="txTypeValue !== 'ETP'" class="receiveAmount">
                                    +{{totalPersonalOutputs.MST[txTypeValue] | format : decimalsMst[txTypeValue]}} {{txTypeValue}}
                                </div>
                            </div>
                            <div *ngIf="txFee" class="default-color fee">{{'TX.TX_FEE' | translate}}: {{txFee | format : 8}} ETP</div>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <div [@expandCollapse]="this.mode !== 'summary'" *ngIf="this.mode !== 'summary'">

            <ion-row *ngIf="multisig && multisig.status == 'MULTISIG' && (mode == 'default' || mode == 'satoshi')">
                <ion-col col-12 col-md-6>
                    <ion-item>
                        <ion-row *ngIf="multisig.info">
                            <ion-col>
                                {{"MULTISIGNATURE.NBR_PERSON" | translate}}
                            </ion-col>
                            <ion-col class="right">
                                {{multisig.info.n}}
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="multisig.info">
                            <ion-col>
                                {{"MULTISIGNATURE.SIGN_REQ" | translate}}
                            </ion-col>
                            <ion-col class="right">
                                {{multisig.info.m}}
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="multisig.current_nbr_sign">
                            <ion-col>
                                {{"MULTISIGNATURE.CURRENT_NBR_SIGN" | translate}}
                            </ion-col>
                            <ion-col class="right">
                                {{multisig.current_nbr_sign}}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="mode == 'default' || mode == 'satoshi'">
                <ion-col col-12 col-md-6>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-col>{{'TX.INPUTS'|translate}}:</ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <input-item *ngFor="let input of tx.inputs; let i = index" (modelChanged)="inputLoad($event, i)"
                                [input]="input" [decimalsMst]="decimalsMst" [mode]="mode"></input-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-12 col-md-6>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-col>{{'TX.OUTPUTS'|translate}}:</ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <output-item *ngFor="let output of tx.outputs" [output]="output" [decimalsMst]="decimalsMst"
                                [mode]="mode"></output-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="totalInputs.ETP && (mode == 'default' || mode == 'satoshi')">
                <ion-col>
                    <ion-item>
                        <ion-row>
                            <ion-col>
                                {{'TX.TOTAL_INPUTS'|translate}}
                            </ion-col>
                            <ion-col class="right">
                                {{totalInputs.ETP | format : 8}} ETP
                                <div *ngFor="let mst of involvedMst">
                                    {{totalInputs.MST[mst] | format : decimalsMst[mst]}} {{mst}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-row>
                            <ion-col>
                                {{'TX.TOTAL_OUTPUTS'|translate}}
                            </ion-col>
                            <ion-col class="right">
                                {{totalOutputs.ETP | format : 8}} ETP
                                <div *ngFor="let mst of involvedMst">
                                    {{totalOutputs.MST[mst] | format : decimalsMst[mst]}} {{mst}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="mode == 'hex'">
                <textarea fz-elastic ion-input full class="hexTx" type="text" #copyHexTx value="{{hexTx}}" readonly>{{hexTx}}</textarea>
                <button ion-button full item-right icon-left [ngxClipboard]="copyHexTx">
                    <ion-icon name="copy"></ion-icon>
                    {{'COPY'|translate}}
                </button>
            </ion-row>
        </div>
    </ion-grid>
</ion-card>