<ion-card class="manual-copy display-overflow">
    <ion-grid>
        <ion-row>
            <ion-item>
                <h1>{{'TX.TX_SUMMARY'|translate}}</h1>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="summaryTxType">
                    {{'TX.TX_TYPE.' + txType | translate}}
                    <div *ngIf="!tx.inputs[0].script" class="unsigned">
                        {{'TX.UNSIGNED_TX' | translate}}
                    </div>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item class="right summaryAmount">
                    <div *ngIf="txType == 'ETP' || txType == 'COINSTAKE'">
                        <div *ngIf="totalPersonalInputs.ETP && totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee != 0"
                            class="sendAmount">
                            -{{totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee | format : 8}} ETP
                        </div>
                        <div *ngIf="!totalPersonalInputs.ETP" class="receiveAmount">
                            +{{totalPersonalOutputs.ETP | format : 8}} ETP
                        </div>
                        <div *ngIf="totalPersonalInputs.ETP - totalPersonalOutputs.ETP - txFee == 0">
                            {{'TX.INTRAWALLET' | translate}}
                        </div>
                    </div>
                    <div *ngIf="txType == 'ASSET' || txType == 'ISSUE' || txType == 'MST_MINING'">
                        <div *ngIf="totalPersonalInputs.MST[txTypeValue] && totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] != 0"
                            class="sendAmount">
                            -{{totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] | format :
                            decimalsMst[txTypeValue]}} {{txTypeValue}}
                        </div>
                        <div *ngIf="!totalPersonalInputs.MST[txTypeValue]" class="receiveAmount">
                            +{{totalPersonalOutputs.MST[txTypeValue] | format : decimalsMst[txTypeValue]}}
                            {{txTypeValue}}
                        </div>
                        <div *ngIf="totalPersonalInputs.MST[txTypeValue] - totalPersonalOutputs.MST[txTypeValue] == 0">
                            {{'TX.INTRAWALLET' | translate}}
                        </div>
                    </div>
                    <div *ngIf="txType == 'CERT'">
                        {{'TX.TX_TYPE.CERT_TYPE.' + txTypeCert | translate}} {{txTypeValue}}
                    </div>
                    <div *ngIf="txType == 'MIT' || txType == 'DID_REGISTER' || txType == 'DID_TRANSFER'">
                        {{txTypeValue}}
                    </div>
                    <div *ngIf="txType == 'MST_LOCK' || txType == 'ETP_LOCK' || txType == 'ETP_LOCK_REWARD'">
                        {{transaction.locked_quantity | format : decimalsMst[txTypeValue]}} {{txTypeValue}}
                    </div>
                    <div class="fee">{{'TX.TX_FEE' | translate}}: {{txFee | format : 8}} ETP</div>
                </ion-item>
            </ion-col>
            <!--div *ngIf="transaction.locked_until" [translate]="'TX.LOCKED_SINCE_BLOCK'" [translateParams]="{block: transaction.locked_until, time: transaction.confirmed_at*1000 | date : 'medium'}"></div>
            <div *ngIf="transaction.locked_until" [translate]="'TX.LOCKED_UNTIL_BLOCK'" [translateParams]="{block: transaction.locked_until, time: (((transaction.locked_until - height) * blocktime * 1000) + current_time) | date : 'medium'}"></div-->
        </ion-row>
        <ion-row *ngIf="mode == 'advanced' || mode == 'satoshi'">
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-col>{{'TX.INPUTS'|translate}}:</ion-col>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <input-item *ngFor="let input of tx.inputs" [input]="input" [mode]="mode"></input-item>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-col>{{'TX.OUTPUTS'|translate}}:</ion-col>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <output-item *ngFor="let output of tx.outputs" [output]="output" [decimalsMst]="decimalsMst" [mode]="mode"></output-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'advanced' || mode == 'satoshi'">
            <ion-col>
                <ion-item>
                    <ion-row>
                        <ion-col>
                            {{'TX.TOTAL_INPUTS'|translate}}
                        </ion-col>
                        <ion-col class="right">
                            {{totalInputs.ETP | format : 8}} ETP
                            <div *ngFor="let mst of involvedMst">
                                {{totalInputs.MST[mst] | format : decimalsMst[mst]}} {{mst}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-row>
                        <ion-col>
                            {{'TX.TOTAL_OUTPUTS'|translate}}
                        </ion-col>
                        <ion-col class="right">
                            {{totalOutputs.ETP | format : 8}} ETP
                            <div *ngFor="let mst of involvedMst">
                                {{totalOutputs.MST[mst] | format : decimalsMst[mst]}} {{mst}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'hex'">
            <textarea fz-elastic ion-input full class="hexTx" type="text" #copyHexTx value="{{hexTx}}" readonly>{{hexTx}}</textarea>
            <button ion-button full item-right icon-left [ngxClipboard]="copyHexTx">
                <ion-icon name="copy"></ion-icon>
                {{'COPY'|translate}}
            </button>
        </ion-row>
    </ion-grid>
</ion-card>