page-apps {
    .beta-tag {
        color: red;
        font-size: 0.6em;
        position: absolute;
        padding-left: 5px;
    }

    h1, p {
        text-overflow: initial;
        white-space: initial;
    }
}
