<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/portfolio"></ion-back-button>
    </ion-buttons>
    <ion-title translate="SWAP.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-spinner name="dots" *ngIf="!swapInfo"></ion-spinner>

  <p *ngIf="swapInfo && !swapInfo.open" class="center" [translate]="'SWAP.CLOSED'"></p>

  <p *ngIf="swapInfo && swapInfo.open && updateRequired" class="center" [translate]="'SWAP.UPDATE_REQUIRED'" [translateParams]="{requiredVersion: requiredVersion}"></p>

  <div *ngIf="swapInfo && swapInfo.open && !updateRequired">
    <p align="center" translate="SWAP.EXPLANATION"></p>
    <p align="center" class="wrong-input" translate="SWAP.WARNING_RED"></p>
    <p align="center" *ngIf="swapInfo.showWarning" translate="SWAP.WARNING"></p>
    <ion-row>
      <ion-col>
        <p class="available">{{"SEND.AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{showBalance |
          format : decimals}} {{selectedAsset}}</p>
      </ion-col>
      <ion-col>
        <p class="right">{{"SEND_SINGLE.FEE"|translate}}:<br *ngIf="platform.is('mobile')">
          {{fee | format : 8}} ETP</p>
      </ion-col>
    </ion-row>
    <p align="center" *ngIf="etpBalance<fee/100000000" class="wrong-input" translate="SEND.NOTICE_TRANSACTION_FEE_UNCOVERED"></p>

    <form #sendForm="ngForm" (ngSubmit)="send()" (keyup.enter)="send()">
      <ion-list>

        <!--Quantity-->
        <ion-item [ngClass]="{'error-border':!validQuantity(quantity), 'valid-border':validQuantity(quantity)}">
          <ion-label color="primary" position="floating" translate="SEND_SINGLE.AMOUNT"></ion-label>
          <ion-input #quantityInput name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
          <ion-button slot="end" type="button" fill="outline" shape="round" *ngIf="etpBalance>10000" id="sendAll"
            (click)="sendAll()" translate="SEND_SINGLE.BUTTON.SEND_ALL"></ion-button>
        </ion-item>
        <div *ngIf="tickers && tickers[selectedAsset] && tickers[selectedAsset][base]" class="advice">
          ≈{{base}} {{fiatValue(quantity) | number : '1.0-2'}}
        </div>
        <ion-item *ngIf="countDecimals(quantity) > decimals" lines="none" class="wrong-input"
          translate="SEND.TOO_MANY_DECIMALS"></ion-item>
        <br>

        <!--Send from-->
        <ion-item [ngClass]="{'error-border':!validFromAddress(sendFrom)}">
          <ion-label translate="SEND_SINGLE.SEND_FROM"></ion-label>
          <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" (ngModelChange)="onFromAddressChange()"
            okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
            <ion-select-option selected="true" value="auto" translate="SEND_SINGLE.SEND_FROM_AUTO">
            </ion-select-option>
            <ng-container *ngFor="let addressbalance of addressbalances">
              <ion-select-option *ngIf="addressbalance.balance>0" value="{{addressbalance.address}}">
                {{addressbalance.identifier}}
                - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>


        <ion-item *ngIf="!validFromAddress(sendFrom)" lines="none" class="wrong-input"
          translate="SEND_SINGLE.FROM_ADDRESS_NO_ETP"></ion-item>
        <!--br>
        <ion-item class="toggle-input">
          <ion-label translate="SEND_SINGLE.SHOW_ADVANCED"></ion-label>
          <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
        </ion-item>
        <div *ngIf="showAdvanced">
          <ion-item lines="none">
            <ion-label color="primary" translate="SEND_SINGLE.FEE"></ion-label>
            <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
          </ion-item>
          <ion-item>
            <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee">
              <ion-label range-left>{{10000 | format : 8}}</ion-label>
              <ion-label range-right>{{10000000 | format : 8}}</ion-label>
            </ion-range>
          </ion-item>
          <ion-item
            [ngClass]="{'error-border':!validMessageLength(message), 'valid-border': message.length > 0 && validMessageLength(message)}">
            <ion-label position="floating" translate="SEND_SINGLE.MESSAGE"></ion-label>
            <ion-input name="message" [(ngModel)]="message">
            </ion-input>
          </ion-item>
          <div class="advice" translate="SEND_SINGLE.HELP.MESSAGE"></div>
          <ion-item *ngIf="!validMessageLength(message)" lines="none" class="wrong-input"
            translate="SEND_SINGLE.MESSAGE_TOO_LONG"></ion-item>
          <br>
          <ion-item>
            <ion-label translate="SEND_SINGLE.CHANGE_ADDRESS"></ion-label>
            <ion-select [(ngModel)]="changeAddress" name="changeaddress" okText="{{'OK'|translate}}"
              cancelText="{{'CANCEL'|translate}}">
              <ion-select-option selected="true" value="auto" translate="SEND_SINGLE.CHANGE_ADDRESS_AUTO">
              </ion-select-option>
              <ion-select-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">
                {{addressbalance.identifier}}
                - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div-->
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="full" fill="outline" shape="round" (click)="cancel()">
            <ion-icon slot="start" name="close"></ion-icon>
            <span translate="SEND_SINGLE.BUTTON.CANCEL"></span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" expand="full" color="primary" fill="outline" shape="round"
            [disabled]="!validForm()">
            <ion-icon slot="start" disabled="checked" name="cog"></ion-icon>
            <span translate="SEND_SINGLE.BUTTON.NEXT"></span>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>