<ion-header>
    <ion-navbar>
        <ion-title>{{"REGISTER_MIT" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <ion-row>
        <ion-col>
            <p align="center">{{"MITS.INFORMATION" | translate}}</p>
        </ion-col>
    </ion-row>
    <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{fee | format : 8}} ETP</p>
    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">
            <ion-item [ngClass]="{'error-border':!validSymbol(symbol)}">
                <ion-label color="primary" floating>{{"MIT_REGISTER.SYMBOL" | translate}}</ion-label>
                <ion-input name="symbol" [(ngModel)]="symbol" maxlength="63" required></ion-input>
            </ion-item>
            <ion-item *ngIf="list_all_mits.indexOf(symbol) !== -1" no-lines class="wrong-input">{{"MIT_REGISTER.MIT_ALREADY_EXIST" | translate}}</ion-item>
            <ion-item *ngIf="symbol.length > 0 && symbol.length < 3" no-lines class="wrong-input">{{"MIT_REGISTER.MIT_SYMBOL_TOO_SHORT" | translate}}</ion-item>

            <ion-item [ngClass]="{'error-border':!validContent(content)}">
                <ion-label color="primary" floating>{{"MIT_REGISTER.CONTENT" | translate}}</ion-label>
                <ion-input name="content" [(ngModel)]="content" maxlength="252"></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validName(recipient_avatar)}">
                <ion-label color="primary" floating>{{"MIT_REGISTER.AVATAR_NAME" | translate}}</ion-label>
                <ion-select *ngIf="!no_avatar" [(ngModel)]="recipient_avatar" name="recipient_avatar" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" (ngModelChange)="avatarChanged($event)">
                    <ion-option *ngFor="let avatar of avatars" value="{{avatar.symbol}}">{{avatar.symbol}}</ion-option>
                </ion-select>
                <ion-input name="no_avatar" *ngIf="no_avatar" [(ngModel)]="no_avatar_placeholder" disabled></ion-input>
            </ion-item>
            <ion-item *ngIf="no_avatar" no-lines class="wrong-input">{{"MIT_REGISTER.NO_AVATAR" | translate}}</ion-item>

            <ion-item [ngClass]="{'error-border':!validAddress(recipient_address)}">
                <ion-label color="primary" floating>{{"MIT_REGISTER.RECIPIENT_ADDRESS" | translate}}</ion-label>
                <ion-input name="recipient_address" [(ngModel)]="recipient_address" disabled></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
              <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>
            <div *ngIf="showAdvanced">
                <ion-item no-lines>
                    <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                    <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee">
                        <ion-label range-left>{{10000 | format : 8}}</ion-label>
                        <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                    </ion-range>
                </ion-item>
            </div>
        </ion-list>
        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full [disabled]="!sendForm.form.valid||!validSymbol(symbol)||!validContent(content)||!validName(recipient_avatar)||!validAddress(recipient_address)||!validPassword(passphrase)" (click)="create()" icon-left color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"REGISTER_MIT" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                <ion-icon name="cancel"></ion-icon>
                {{"CANCEL" | translate}}
            </button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
