<div [ngClass]="{'personal': output.personal}">
    <ion-item *ngIf="output.attachment.type == 'message'">
        <ion-row>
            <!--Left column-->
            <ion-col>
                <div *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</div>
                <div *ngIf="!output.attachment.to_did">{{output.address}}</div>
            </ion-col>
            <!--Right column-->
            <ion-col class="right txType">
                <div>
                    {{'TX.TYPE.message'|translate}}:
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="right">
                {{output.attachment.content}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi'">
            <ion-col class="script">
                {{output.script}}
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="output.value != 0 || output.attachment.symbol == 'ETP'">
        <ion-row [ngClass]="{'wrong-input': output.script == 'OP_RETURN'}">
            <!--Left column-->
            <ion-col>
                <div *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</div>
                <div *ngIf="!output.attachment.to_did">{{output.address}}</div>
            </ion-col>
            <!--Right column-->
            <ion-col class="right">
                <div>{{output.value | format : 8}} ETP</div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="output.attenuation">
            <ion-col class="script">
                {{'LOCKED_UNTIL'|translate}}: {{output.locked_until}} (~{{((output.locked_until - height) *
                blocktime * 1000) + current_time |date : 'medium'}})
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi'">
            <ion-col class="script">
                {{output.script}}
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="output.attachment && output.attachment.symbol && output.attachment.symbol != 'ETP'">
        <ion-row [ngClass]="{'wrong-input': output.script == 'OP_RETURN'}">
            <!--Left column-->
            <ion-col>
                <div *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</div>
                <div *ngIf="!output.attachment.to_did">{{output.address}}</div>
            </ion-col>
            <!--Right column-->
            <ion-col class="right">
                <div *ngIf="output.attachment.type == 'did-register' || output.attachment.type == 'did-transfer'">
                    <div class="txType">{{'TX.TYPE.' + output.attachment.type | translate}}:</div>{{output.attachment.symbol}}
                </div>
                <div *ngIf="output.attachment.type == 'mit'">
                    <div class="txType">{{'TX.TYPE.MIT.' + output.attachment.status | translate}}:</div>{{output.attachment.symbol}}
                </div>
                <div *ngIf="output.attachment.cert">
                    <div class="txType">{{'TX.TYPE.CERT.' + output.attachment.cert | translate}}:</div>{{output.attachment.symbol}}
                </div>
                <div *ngIf="output.attachment.type != 'did-register' && output.attachment.type != 'did-transfer' && output.attachment.type != 'mit' && !output.attachment.cert">{{output.attachment.quantity
                    | format : decimalsMst[output.attachment.symbol]}} {{output.attachment.symbol}}</div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="output.attenuation">
            <ion-col class="script right">
                {{'LOCKED_UNTIL'|translate}}: {{output.locked_until}} (~{{((output.locked_until - height) *
                blocktime * 1000) + current_time |date : 'medium'}})
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi'">
            <ion-col class="script">
                {{output.script}}
            </ion-col>
        </ion-row>
    </ion-item>
</div>