<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "ETH_BRIDGE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <div class="rightbtc-logo">
        <img [src]="'assets/images/rightbtc-logo.png'">
        <p>{{"TOKEN_DROPLET.POWERED_BY" | translate}}</p>
    </div>
    <ion-item no-lines>
        <ion-segment [(ngModel)]="direction" color="primary">
            <ion-segment-button value="ethtomvs">
                {{ "ETH_TO_MVS" | translate}}
            </ion-segment-button>
            <ion-segment-button value="mvstoeth">
                {{ "MVS_TO_ETH" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-item>

    <form *ngIf="direction == 'ethtomvs'" #sendForm="ngForm">
        <h2>{{"ETH_TO_MVS.LINK_ADDRESSES_TITLE"|translate}}</h2>
        <p>{{"ETH_TO_MVS.LINK_ADDRESSES_EXPLAIN" | translate}}</p>
        <ion-card-content>
            <h4>{{"ETH_TO_MVS.DO_ONLY_ONCE" | translate}}</h4>
        </ion-card-content>
        <h2>{{"ETH_TO_MVS.STEP1_TITLE" | translate}}</h2>
        <p>{{"ETH_TO_MVS.STEP1_EXPLAIN" | translate}}</p>
        <ion-list>
            <ion-item [ngClass]="{'error-border': !validIdentifier(identifier)}">
                <ion-label>{{"ETH_TO_MVS.SELECT_AVATAR_OR_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="identifier" name="identifier" multiple="false" okText="{{'OK'|translate}}"
                    cancelText="{{'CANCEL'|translate}}" (ngModelChange)="registerEthBridge(identifier)">
                    <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.identifier}}">{{addressbalance.identifier}}
                        - {{addressbalance.balance | format : 8}} ETP</ion-option>
                </ion-select>
            </ion-item>
            <ion-card-content *ngIf="data">
                <h4>{{"ETH_TO_MVS.DATA"|translate}}:</h4>
                <textarea fz-elastic ion-input full type="text" #copyData value="{{data}}" readonly>{{data}}</textarea>
                <button col-sm-12 col-md-6 col-lg-3 ion-button full item-right icon-left [ngxClipboard]="copyData">
                    <ion-icon name="copy"></ion-icon>
                    {{'COPY'|translate}}
                </button>
            </ion-card-content>
            <br>
        </ion-list>
        <h2>{{"ETH_TO_MVS.STEP2_TITLE" | translate}}</h2>
        <p>{{"ETH_TO_MVS.STEP2_EXPLAIN" | translate}}</p>
        <h2>{{"ETH_TO_MVS.STEP3_TITLE" | translate}}</h2>
        <p>{{"ETH_TO_MVS.STEP3_EXPLAIN" | translate}}</p>
        <ion-card-content>
            <h4>{{"ETH_TO_MVS.ETPMAP_CONTRACT_ADDRESS" | translate}}</h4>
            <textarea fz-elastic ion-input full type="text" #copyETPMap value="{{ETPMap}}" readonly>{{ETPMap}}</textarea>
            <button col-sm-12 col-md-6 col-lg-3 ion-button full item-right icon-left [ngxClipboard]="copyETPMap">
                <ion-icon name="copy"></ion-icon>
                {{'COPY'|translate}}
            </button>
        </ion-card-content>
        <h2>{{"ETH_TO_MVS.STEP4_TITLE" | translate}}</h2>
        <p>{{"ETH_TO_MVS.STEP4_EXPLAIN" | translate}}</p>
        <ion-card-content>
            <h4>{{"ETH_TO_MVS.SWAP_CENTER_ADDRESS" | translate}}</h4>
            <textarea fz-elastic ion-input full type="text" #copySwapAddress value="{{SwapAddress}}" readonly>{{SwapAddress}}</textarea>
            <button col-sm-12 col-md-6 col-lg-3 ion-button full item-right icon-left [ngxClipboard]="copySwapAddress">
                <ion-icon name="copy"></ion-icon>
                {{'COPY'|translate}}
            </button>
        </ion-card-content>
        <br>
        <p>{{"ETH_TO_MVS.UPDATE_ADDRESS" | translate}}</p>
        <br>
    </form>

    <form *ngIf="direction == 'mvstoeth'" #sendForm="ngForm">
        <h2>{{"MVS_TO_ETH.LINK_ADDRESSES_TITLE"|translate}}</h2>
        <p>{{"MVS_TO_ETH.LINK_ADDRESSES_EXPLAIN" | translate}}</p>
        <h2>{{"MVS_TO_ETH.STEP1_TITLE" | translate}}</h2>
        <p>{{"MVS_TO_ETH.STEP1_EXPLAIN" | translate}}</p>
        <h2>{{"MVS_TO_ETH.STEP2_TITLE" | translate}}</h2>
        <p [translate]="'MVS_TO_ETH.STEP2_EXPLAIN'" [translateParams]="{crosschain_avatar: globals.crosschain_avatar}"></p>
        <h2>{{"MVS_TO_ETH.STEP3_TITLE" | translate}}</h2>
        <p>{{"MVS_TO_ETH.STEP3_EXPLAIN" | translate}}</p>
        <h2>{{"SWAP_MST.LIST_TITLE"|translate}}</h2>
        <p>{{"SWAP_MST.LIST_EXPLAIN" | translate}}</p>
        <p *ngFor="let mst of whitelist" class="mstSwap">
            - {{mst}}
        </p>
    </form>

</ion-content>