page-deposit {
    .error-border,
    ion-item.error-border .item-inner{
        border-bottom-color: red !important;
    }

    .right {
        text-align: right;
    }

    .inline {
       display: inline;
    }

}
