page-deposit {
    .item-md.item-input.error-border .item-inner, .item-md.item-select.error-border .item-inner{
        border-bottom-color: red !important;
        -webkit-box-shadow: inset 0 -1px 0 0 red !important;
        box-shadow: red !important;
    }

    .item-md.item-select .item-inner .ng-touched .item-cover{
        border-bottom-color: #32db64 !important;
        -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
        box-shadow: inset 0 -1px 0 0 #32db64 !important;
        margin-left: 16px;
        border-bottom: 1px solid;
    }

    .right {
        text-align: right;
    }

    .inline {
       display: inline;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

}
