<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{selectedAsset}} {{ "DEPOSIT" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p align="center" *ngIf="etpBalance<fee/100000000">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
    <ion-row>
        <ion-col>
            <p>{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{showBalance | format : decimals}} {{selectedAsset}}</p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{fee | format : 8}} ETP</p>
        </ion-col>
    </ion-row>
    <form #sendForm="ngForm">
        <ion-list>
            <br><br>
            <ion-item [ngClass]="{'error-border': !validLocktime(locktime)}">
                <ion-label color="primary">{{"SELECT_DEPOSIT_OPTION"|translate}}</ion-label>
                <ion-select [(ngModel)]="locktime" name="locktime" multiple="false" (ngModelChange)="onDepositOptionChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}" required>
                    <ion-option *ngFor="let deposit_option of deposit_options" value="{{deposit_option.locktime}}">{{deposit_option.locktime}} {{'BLOCKS'|translate}}, {{'INTEREST_RATE'|translate}}: {{deposit_option.rate*100}}%</ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="info-input" *ngIf="validLocktime(locktime)" no-lines>
                <span [translate]="'DEPOSIT.DURATION_ESTIMATION'" [translateParams]="{blocktime: blocktime, duration_days: duration_days, duration_hours: duration_hours}"></span>
            </ion-item>

            <ion-item [ngClass]="{'error-border':!validQuantity(quantity)}">
                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                <ion-input #quantityInput name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
                <button id="sendAll" ion-button item-right (click)="sendAll()">
                    {{"SEND_ALL_BUTTON"|translate}}
                </button>
            </ion-item>

            <ion-row *ngFor="let deposit_option of deposit_options">
                <ion-item *ngIf="deposit_option.locktime == locktime && quantity > 0">
                    <ion-label color="primary">
                        {{"DEPOSIT_PROFIT" | translate}}:
                        <p class="inline">
                            {{round(deposit_option.rate*quantity)}} ETP
                        </p>
                    </ion-label>
                </ion-item>
            </ion-row>

            <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>

            <br>
            <ion-item>
                <ion-label>{{"SELECT_FROM_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" (ngModelChange)="onFromAddressChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                    <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.address}} - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                </ion-select>
            </ion-item>

            <br>
            <ion-item>
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>

            <div *ngIf="showAdvanced">
                <ion-item no-lines>
                    <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                    <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                </ion-item>

                <ion-item>
                    <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee">
                        <ion-label range-left>{{10000 | format : 8}}</ion-label>
                        <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                    </ion-range>
                </ion-item>

                <ion-item [ngClass]="{'error-border':!validMessageLength(message), 'valid-border': message.length > 0 && validMessageLength(message)}">
                    <ion-label floating>{{"MESSAGE" | translate}}</ion-label>
                    <ion-input name="message" [(ngModel)]="message"></ion-input>
                </ion-item>
                <div no-lines class="advice">{{"HELP.MESSAGE" | translate}}</div>
                <ion-item *ngIf="!validMessageLength(message)" no-lines class="wrong-input">{{"MESSAGE_TOO_LONG" | translate}}</ion-item>

                <br>
                <ion-item>
                    <ion-label>{{"SELECT_RECIPIENT_ADDRESS" |translate}}</ion-label>
                    <ion-select [(ngModel)]="recipient_address" name="recipient_address" multiple="false" (ngModelChange)="onSendToAddressChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                        <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                        <ion-option value="custom">{{"CUSTOM"| translate}}</ion-option>
                        <ion-option *ngFor="let address of addresses" value="{{address}}">{{address}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="recipient_address == 'custom'" [ngClass]="{'error-border':!validrecipient(custom_recipient)}">
                    <ion-label floating>{{"CUSTOM_RECIPIENT_ADDRESS" | translate}}</ion-label>
                    <ion-input #customInput name="custom_recipient" [(ngModel)]="custom_recipient" (ngModelChange)="customRecipientChanged($event)"></ion-input>
                    <button id="scanButton" *ngIf="platform.is('mobile')" ion-button item-right (click)="scan()">
                        <ion-icon name="qr-scanner"></ion-icon>
                    </button>
                </ion-item>
                <button ion-button full [disabled]="!sendForm.form.valid||!validLocktime(locktime)||!validQuantity(quantity)||!validPassword(passphrase)||(recipient_address == 'custom' && !validrecipient(custom_recipient))||!validMessageLength(message)" (click)="preview()" color="primary">
                    {{"PREVIEW" | translate}}
                </button>
                <div *ngIf="rawtx">
                    <br><br>
                    <h2>{{"TRANSACTION_PREVIEW_TEXT" |translate}}</h2>
                    <p class="rawtx">{{rawtx}}</p>
                    <br><br>
                </div>
            </div>
        </ion-list>
        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full icon-left [disabled]="!sendForm.form.valid||!validLocktime(locktime)||!validQuantity(quantity)||!validPassword(passphrase)||(recipient_address == 'custom' && !validrecipient(custom_recipient))||!validMessageLength(message)" (click)="send()" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"SEND" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="cancel"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
