<div>
    <ion-item no-lines *ngIf="!toMany">
        <ion-segment [(ngModel)]="type" color="primary" (ngModelChange)="inputChange($event)">
            <ion-segment-button value="simple">
                {{ "ASSET_LOCK.SIMPLE" | translate}}
            </ion-segment-button>
            <ion-segment-button value="recurrent">
                {{ "ASSET_LOCK.RECURRENT" | translate}}
            </ion-segment-button>
            <ion-segment-button value="custom">
                {{ "ASSET_LOCK.CUSTOM" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-item>

    <ion-list *ngIf="type == 'simple' || type == 'recurrent'">

        <ion-item [ngClass]="{'error-border':!validLocktime(locktime), 'valid-border': validLocktime(locktime)}">
            <ion-label floating>{{"ASSET_LOCK.TOTAL_DURATION" | translate}}</ion-label>
            <ion-input name="locktime" type="number" min="0" step="1" [(ngModel)]="locktime" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <div no-lines class="advice">{{"HELP.ASSET_LOCK_TOTAL_DURATION" | translate}}</div>
        <ion-item class="info-input" *ngIf="validLocktime(locktime)" no-lines>
            <span [translate]="'DEPOSIT.DURATION_ESTIMATION'" [translateParams]="{blocktime: blocktime, duration_days: duration_days, duration_hours: duration_hours}"></span>
        </ion-item>
        
        <ion-item *ngIf="type == 'recurrent'" [ngClass]="{'error-border':!validNbrPeriod(nbrPeriod), 'valid-border': validNbrPeriod(nbrPeriod)}">
            <ion-label floating>{{"ASSET_LOCK.NBR_PERIOD" | translate}}</ion-label>
            <ion-input name="nbrPeriod" type="number" min="0" step="1" [(ngModel)]="nbrPeriod" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <div *ngIf="type == 'recurrent'" no-lines class="advice">{{"HELP.ASSET_LOCK_NBR_PERIOD" | translate}}</div>
        
    </ion-list>

    <ion-list *ngIf="type == 'custom'">

        <ion-row *ngIf="!platform.is('mobile')">
            <input type="file" name="file" id="file" class="inputfile" accept=".csv" (change)="import($event)" />
            <label for="file"> <ion-icon name="document"></ion-icon> {{"IMPORT_FROM_CSV"|translate}}</label>
        </ion-row>
        
        <ion-card class="card-block" *ngFor="let period of periods; let i = index" [attr.data-index]="i">
            <ion-row>
                <ion-col col-6>
                    <h2 class="recipient-title" [translate]="'ASSET_LOCK.PERIOD_NBR'" [translateParams]="{period_nbr: i+1}"></h2>
                </ion-col>
                <ion-col col-6>
                    <button type="button" tabIndex="-1" class="remove-button" ion-button clear icon-left color="primary" (click)="removePeriod(i)">
                        X
                    </button>
                </ion-col>
                <ion-col col-md-6 col-sm-12 col-12>
                    <ion-item [ngClass]="{'error-border': !validLocktime(period.locktime), 'valid-border': validLocktime(period.locktime)}">
                        <ion-label [translate]="'ASSET_LOCK.DURATION_CUSTOM_PERIOD'" [translateParams]="{period_nbr: i+1}" color="primary" floating></ion-label>
                        <ion-input [(ngModel)]="period.locktime" (ngModelChange)="inputChange($event)" [ngModelOptions]="{standalone:true}" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-md-6 col-sm-12 col-12>
                    <ion-item [ngClass]="{'error-border': !validQuantity(period.quanity), 'valid-border': validQuantity(period.quantity)}">
                        <ion-label [translate]="'ASSET_LOCK.AMOUNT_CUSTOM_PERIOD'" [translateParams]="{period_nbr: i+1}" color="primary" floating></ion-label>
                        <ion-input type="number" min="0" [(ngModel)]="period.quantity" (ngModelChange)="inputChange($event)" [ngModelOptions]="{standalone:true}" required></ion-input>
                    </ion-item>
                </ion-col>
                
            </ion-row>
        </ion-card>

        <button *ngIf="!platform.is('mobile')" type="button" class="right-buttons" ion-button icon-left color="secondary" (click)="download()"><ion-icon name="download"></ion-icon> {{"EXPORT_CSV" | translate}}</button>
        <button *ngIf="!platform.is('mobile')" type="button" class="right-buttons" ion-button icon-left color="light" (click)="csvExample()"><ion-icon name="download"></ion-icon> {{"DOWNLOAD_CSV_EXAMPLE" | translate}}</button>
        <button *ngIf="periods.length < periods_nbr_limit" type="button" class="right-buttons" ion-button icon-left color="primary" (click)="addPeriod()">
            <ion-icon name="add"></ion-icon>
            {{"ASSET_LOCK.ADD_PERIOD" | translate}}
        </button>

        <ion-item [ngClass]="{'error-border': !validLocktime(total_locktime)}">
            <ion-label color="primary">
                {{"ASSET_LOCK.TOTAL_DURATION" | translate}}:
                <p class="inline">
                    {{total_locktime}} {{"BLOCKS" | translate}}
                </p>
            </ion-label>
        </ion-item>
        <br>
            
        <ion-item [ngClass]="{'error-border': total_quantity > quantity}">
            <ion-label color="primary">
                {{"TOTAL_TO_SEND" | translate}}:
                <p class="inline uppercase">
                    {{total_quantity}} {{asset}}
                </p>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="total_quantity > quantity" no-lines class="wrong-input">{{"ASSET_LOCK.TOTAL_MORE_SEND" | translate}}</ion-item>
        <br>    

    </ion-list>
</div>
