<ion-header>
    <ion-navbar>
        <ion-title>{{'RECEIVE'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="spread-out">
    <ion-grid>
        <ion-row>
        </ion-row>
        <ion-row>
            <ion-col class="col-margin receive-col">
                <ion-card class="card-margin">
                    <ion-item>
                        <h1 class="center">{{selectedAsset}}</h1>
                    </ion-item>
                    <div>
                        <qr-code [value]="address" [size]="550" class="center"></qr-code>
                    </div>
                    <ion-card-content>
                        <h3 class="center"><textarea ion-input full type="text" #copy value="{{address}}" class="center" style="" readonly>{{address}}</textarea></h3>
                    </ion-card-content>
                    <ion-row>
                        <button ion-button full item-right icon-left [ngxClipboard]="copy">
                            <ion-icon name="copy"></ion-icon>
                            {{'COPY'|translate}}
                        </button>
                    </ion-row>
                </ion-card>
            </ion-col>
            <ion-col class="receive-col">
                <ion-item>
                    <ion-segment [(ngModel)]="displayType" color="primary">
                        <ion-segment-button value="ETP">
                            ETP
                        </ion-segment-button>
                        <ion-segment-button *ngIf="selectedAsset != 'ETP'" value="asset">
                            {{selectedAsset}}
                        </ion-segment-button>
                        <ion-segment-button value="MST">
                            MST
                        </ion-segment-button>
                    </ion-segment>
                </ion-item>
                <ion-card *ngFor="let address of addresses" (click)="show(address)" class="font-mono">
                    <ion-card-content>
                        <h3 *ngIf="addressBalancesObject[address] && addressBalancesObject[address].AVATAR">
                            <img class="avatar-logo" [src]="'assets/icon/default_avatar.png'">
                            <span>{{addressBalancesObject[address].AVATAR}}</span>
                        </h3>
                        <h3>{{address}}</h3>
                        <p *ngIf="displayType == 'asset'"><b>{{selectedAsset}}: </b>{{(addressBalancesObject[address] && addressBalancesObject[address]['MST'] && addressBalancesObject[address]['MST'][selectedAsset])?format(addressBalancesObject[address]['MST'][selectedAsset].available,addressBalancesObject[address]['MST'][selectedAsset].decimals):0}}</p>
                        <p *ngIf="displayType == 'ETP'">
                          <b>ETP: </b>{{(addressBalancesObject[address] && addressBalancesObject[address].ETP )?format(addressBalancesObject[address].ETP.available,addressBalancesObject[address].ETP.decimals):0}}
                          <span class="right"><b>{{'ACCOUNT.FROZEN'|translate}}: </b>{{(addressBalancesObject[address] && addressBalancesObject[address].ETP )?format(addressBalancesObject[address].ETP.frozen,addressBalancesObject[address].ETP.decimals):0}}</span>
                        </p>
                        <ng-container *ngIf="displayType == 'MST'">
                            <p *ngFor="let balance of addressbalances[address]">
                                <b>{{balance.name}}: </b> {{format(balance.available, balance.decimals)}}
                            </p>
                            <p *ngIf="!addressbalances[address] || (addressbalances[address] && addressbalances[address].length == 0)">{{'RECEIVE.ADDRESS_NO_MST'|translate}}</p>
                        </ng-container>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <button ion-button full (click)="addAddress()">{{"GENERATE_ADDRESSES.CHANGE_ADDRESS_NUMBER" | translate}}</button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
