page-receive {

    .card-margin {
        margin-top: 55px;
    }

    .icon {
        max-width: 30px;
    }

    ion-card-content {
        text-align: left;
    }

    .right {
        float: right;
    }

    .card-ios {
        margin-left: 0;
        margin-right: 0;
    }

    .avatar-logo {
        width: 18px;
        display: inline-block;
    }


        .modal-wrapper {
            height: 500px !important;
        }
}
