page-receive {

    qr-code img{
        margin-left: 20%;
        height: auto;
        width: 60%;
    }

    ion-card {
        min-width: 300px;
    }

    .card-margin {
        margin-top: 55px;

    }

    .icon {
        max-width: 30px;
    }

    textarea{
        //min-width: 300px;
        width:100%;
        border: 0px !important;
        resize: none;
    }

    ion-card-content {
        text-align: left;
    }

    .right {
        float: right;
    }

    .card-ios {
        margin-left: 0;
        margin-right: 0;
    }

    .avatar-logo {
        width: 18px;
        display: inline-block;
    }
}


@media (min-width: 1079px) {
    .col-margin {
        margin-right: 54px;
    }
}

@media (max-width: 670px) {
    .receive-col {
        -webkit-flex-basis: auto !important;
    }
}
