<p (click)="show_content = !show_content">
  {{transaction | json}}
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{transaction.hash}}</ion-card-title>
      <ion-card-subtitle>{{transaction.confirmed_at*1000|date : 'medium'}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content *ngIf="show_content">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div  *ngFor="let input of transaction.inputs">
              <ion-item *ngIf="input.value != 0 || input.address == ''">
                <div *ngIf="input.address !== ''">{{input.address}}</div>
                <div *ngIf="input.address == ''">{{'TX.INPUT_COINBASE'|translate}}</div>

                <div class="right">{{input.value | format : 8}} ETP</div>
              </ion-item>
              <ion-item *ngIf="input.attachment.symbol != 'ETP'">
                <div *ngIf="input.attachment.type == 'did-register' || input.attachment.type == 'did-transfer' || input.attachment.type == 'mit'">{{'TX.TYPE_' + input.attachment.type | translate}}: {{input.attachment.symbol}}</div>
                <div *ngIf="input.attachment.cert">{{'TX.TYPE_ASSET_CERT_' + input.attachment.cert | translate}}: {{input.attachment.symbol}}</div>
                <div *ngIf="input.attachment.type != 'did-register' && input.attachment.type != 'did-transfer' && input.attachment.type != 'mit' && !input.attachment.cert">{{input.attachment.quantity | format:input.attachment.decimals}} {{input.attachment.symbol}}</div>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="6">
            <ion-item *ngFor="let output of transaction.outputs">
                <ion-item *ngIf="output.value != 0 || output.attachment.symbol == 'ETP'">
                  <div>{{output.address}}</div>
                  <div class="right">{{input.value | format : 8}} ETP</div>
                </ion-item>
                <ion-item *ngIf="output.attachment.symbol != 'ETP'">
                  <div *ngIf="output.attachment.to_did">{{output.attachment.to_did}}</div>
                  <div *ngIf="!output.attachment.to_did">{{output.address}}</div>
                  <div class="right" *ngIf="output.attachment.type == 'message'" class="txType">{{'TX.TYPE_MESSAGE'|translate}}</div>
                  <div class="right" *ngIf="output.attachment.type != 'message' || output.value != 0">{{output.value | numberFormat:8}} ETP</div>
                  <div class="right" *ngIf="output.unlock_block">{{'TX.FROZEN_UNTIL_BLOCK'|translate}} {{output.unlock_block}}</div>
                </ion-item>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</p>
