<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "EXPORT_MASTER_PUBLIC_KEY.HEADLINE" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p align="center" class="wrong-input">
    {{"EXPORT_MASTER_PUBLIC_KEY.WARNING" | translate}}
  </p>
  <ion-list *ngIf="!xpub">
    <ion-item>
      <ion-label color="primary" floating>{{"PASSWORD"|translate}}</ion-label>
      <ion-input ion-input type="text" [(ngModel)]="passphrase"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="export(this.passphrase)">{{ "EXPORT_MASTER_PUBLIC_KEY.BUTTON" | translate}}</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="xpub">
    <ion-item>
      <textarea ion-input full type="text" #xpubElement [value]="xpub" readonly>{{xpub}}</textarea>
    </ion-item>
    <ion-item>
      <button ion-button full [ngxClipboard]="xpubElement">
        <ion-icon name="copy"></ion-icon>
        {{'COPY'|translate}}
      </button>
    </ion-item>
  </ion-list>
</ion-content>