<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'SETTINGS'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-row>
        <button ion-item (click)="reset()" style="white-space: normal;">
            <ion-icon name="refresh" item-start></ion-icon>
            <h1 [translate]="'SETTINGS.RESYNC_BUTTON'"></h1>
            <p [translate]="'SETTINGS.RESYNC_TEXT'" style="white-space: normal;"></p>
        </button>
      </ion-row>
      <ion-row *ngIf="network == 'testnet'">
          <button ion-item (click)="plugins()" style="white-space: normal;">
              <ion-icon name="cube" item-start></ion-icon>
              <h1 [translate]="'SETTINGS.PLUGINS'"></h1>
              <p [translate]="'SETTINGS.PLUGINS_TEXT'" style="white-space: normal;"></p>
          </button>
      </ion-row>
      <ion-row *ngIf="!platform.is('mobile')" >
        <button ion-item (click)="ExportWalletPage();" style="white-space: normal;">
            <ion-icon name="phone-portrait" item-start></ion-icon>
            <h1 [translate]="'SETTINGS.SHOW_QRCODE_BUTTON'"></h1>
            <p [translate]="'SETTINGS.SHOW_QRCODE_TEXT'" style="white-space: normal;"></p>
        </button>
      </ion-row>
      <ion-row>
          <button ion-item (click)="base()" style="white-space: normal;">
              <ion-icon name="logo-usd" item-start></ion-icon>
              <h1 [translate]="'SETTINGS.BASE_CURRENCY'"></h1>
              <p [translate]="'SETTINGS.BASE_CURRENCY_TEXT'" style="white-space: normal;"></p>
          </button>
      </ion-row>
      <ion-row *ngIf="!platform.is('mobile')">
        <button ion-item (click)="logout()" style="white-space: normal;">
            <ion-icon name="log-out" item-start></ion-icon>
            <h1 [translate]="'LOGOUT'"></h1>
            <p [translate]="'LOGOUT_TEXT'" style="white-space: normal;"></p>
        </button>
      </ion-row>
      <ion-row *ngIf="platform.is('mobile')">
        <button *ngIf="platform.is('mobile')" ion-item (click)="logoutMobile()" style="white-space: normal;">
            <ion-icon name="log-out" item-start></ion-icon>
            <h1 [translate]="'LOGOUT'"></h1>
            <p [translate]="'LOGOUT_TEXT'" style="white-space: normal;"></p>
        </button>
      </ion-row>
    </ion-list>
</ion-content>
