<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="MST.TITLE"></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account/mst/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Toolbar-->
<ion-content>
  <ion-toolbar>
    <ion-item>
      <h2 translate="MENU.MENUS"></h2>
    </ion-item>
    <ion-buttons slot="end" *ngIf="status == 'default'">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="shuffle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="status == 'reorder'">
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!--MST-->
  <ion-reorder-group *ngIf="balancesKeys?.length; else noMst" (ionItemReorder)="reorderMst($event)" id="reorderMst">
    <div *ngFor="let asset of balancesKeys; let i = index">
      <ion-item>
        <ion-label>{{asset}}</ion-label>

        <ion-buttons slot="end" *ngIf="status == 'delete'">
          <ion-button>
            <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </div>
  </ion-reorder-group>

  <ng-template #noMst>
    <p translate="NO_MST"></p>
  </ng-template>


  <!--ion-grid>
    <ion-row *ngIf="balances!=undefined">
      <ng-container *ngFor="let asset of balancesKeys">
        <ion-col *ngIf="balances.MST[asset]!==undefined" class="asset-container" size="12" size-md="4">
          <mst-card [balance]="balances.MST[asset]" [symbol]="asset" [icon]="icons.MST[asset]"
            [swap]="whitelist.indexOf(asset) > -1" [tickers]="tickers[asset]" [base]="base"></mst-card>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <br>
      <ion-col>
        <ion-button col-12 offset-sm-6 col-sm-6 offset-md-8 col-md-4 offset-lg-10 col-lg-2 ion-button icon-left item-end
          (click)="reorder()">
          <ion-icon name="reorder"></ion-icon>
          {{'REORDER'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid-->
</ion-content>
