.coinlogo {
    width: 28px;
    margin-right: 20px;
}

.empty-space-header-edit {
    width: 212px;
}

.empty-space-header-default {
    width: 20px;
}

.empty-space-button {
    width: 48px;
}

.empty-space-header-all {
    width: 80px;
}