<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="MST.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center spread-out">
  <ion-grid>
    <ion-row *ngIf="balances!=undefined">
      <ng-container *ngFor="let asset of balancesKeys">
        <ion-col *ngIf="balances.MST[asset]!==undefined" class="asset-container" size="12" size-md="4">
          <mst-card [balance]="balances.MST[asset]" [symbol]="asset" [theme]="theme" [icon]="icons.MST[asset]"
            [swap]="whitelist.indexOf(asset) > -1" [tickers]="tickers[asset]" [base]="base"></mst-card>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <br>
      <ion-col>
        <ion-button col-12 offset-sm-6 col-sm-6 offset-md-8 col-md-4 offset-lg-10 col-lg-2 ion-button icon-left item-end
          (click)="reorder()">
          <ion-icon name="reorder"></ion-icon>
          {{'REORDER'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
