<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "BURN" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <p align="center" *ngIf="balances['ETP'] && balances['ETP'].available<fee/100000000" class="wrong-input">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
    <ion-row>
        <ion-col>
            <p *ngIf="balances[selectedAsset]" class="available">{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{balances[selectedAsset].available |
                format : decimals}} {{selectedAsset}}</p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')">
                {{fee | format : 8}} ETP</p>
        </ion-col>
    </ion-row>

    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">
            <ion-item [ngClass]="{'error-border':!validFromAddress(sendFrom)}">
                <ion-label>{{"BURN.SELECT_ASSET"|translate}}</ion-label>
                <ion-select *ngIf="balances" [(ngModel)]="selectedAsset" name="selectedAsset" multiple="false" okText="{{'OK'|translate}}"
                    cancelText="{{'CANCEL'|translate}}" (ngModelChange)="onSelectedAssetChange($event)">
                    <ion-option value="ETP">ETP</ion-option>
                    <ng-container *ngFor="let asset of assetsList">
                        <ion-option *ngIf="balances[asset].available>0 && asset != 'ETP'" value="{{asset}}">{{asset}}</ion-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validQuantity(quantity)}">
                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                <ion-input #quantityInput name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
            </ion-item>
            <ion-item *ngIf="countDecimals(quantity) > decimals" no-lines class="wrong-input">{{"SEND.TOO_MANY_DECIMALS" | translate}}</ion-item>
            <br>
            <ion-item [ngClass]="{'error-border':!validFromAddress(sendFrom)}">
                <ion-label>{{"SELECT_FROM_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                    <ng-container *ngFor="let addressbalance of addressbalances">
                        <ion-option *ngIf="addressbalance.balance>0" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                            - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!validFromAddress(sendFrom)" no-lines class="wrong-input">{{"TRANSFER.FROM_ADDRESS_NO_ETP"
                | translate}}</ion-item>
            <br>
            <ion-item class="toggle-input">
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>
            <div *ngIf="showAdvanced">
                <ion-item no-lines>
                    <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                    <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee"
                        (ionChange)="updateRange()">
                        <ion-label range-left>{{10000 | format : 8}}</ion-label>
                        <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item [ngClass]="{'error-border':!validMessageLength(message), 'valid-border': message.length > 0 && validMessageLength(message)}">
                    <ion-label floating>{{"MESSAGE" | translate}}</ion-label>
                    <ion-input name="message" [(ngModel)]="message"></ion-input>
                </ion-item>
                <div no-lines class="advice">{{"HELP.MESSAGE" | translate}}</div>
                <ion-item *ngIf="!validMessageLength(message)" no-lines class="wrong-input">{{"MESSAGE_TOO_LONG" |
                    translate}}</ion-item>
                <br>
                <ion-item>
                    <ion-label>{{"SELECT_CHANGE_ADDRESS"|translate}}</ion-label>
                    <ion-select [(ngModel)]="changeAddress" name="changeaddress" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                        <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                        <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                            - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-list>
        <ion-row class="padding-bottom">
            <ion-col>
                <button type="submit" ion-button full icon-left [disabled]="!sendForm.form.valid||!validQuantity(quantity)||!validMessageLength(message)||!validFromAddress(sendFrom)"
                    (click)="confirm()" color="secondary">
                    <ion-icon disabled="checked" name="cog"></ion-icon>
                    {{'BUTTON.NEXT'|translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>