<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXPORT_ACCOUNT'|translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h2 class="pageHeadline">{{"EXPORT.HEADLINE"|translate}}</h2>
    <p>{{"EXPORT.INTRODUCTION"|translate}}</p>
    <p>{{"EXPORT.TEXT"|translate}}</p>
    <p>{{"EXPORT.REMINDER_LOGOUT"|translate}}</p>
    <ion-item>
        <ion-label text-wrap>{{"DISCLAIMER.READ_AND_AGREE"|translate}}</ion-label>
        <ion-checkbox [(ngModel)]="disclaimer_agreed"></ion-checkbox>
    </ion-item>
    <form *ngIf="disclaimer_agreed" #importForm="ngForm" no-lines>
        <br>
        <ion-row offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6>
            <ion-col class="btn-col" *ngIf="hasSeed">
                <button ion-button icon-left full id="open-wallet-button" color="danger" (click)="exportWallet()">
                    <ion-icon name="contact"></ion-icon>
                    {{"IMPORT.SHOW_FULL_WALLET_QRCODE_BUTTON"|translate}}
                </button>
            </ion-col>
            <ion-col class="btn-col" *ngIf="hasXpub">
                <button ion-button icon-left full id="open-view-only-wallet-button" (click)="exportViewOnlyWallet()">
                    <ion-icon name="eye"></ion-icon>
                    {{"IMPORT.SHOW_VIEW_ONLY_QRCODE_BUTTON"|translate}}
                </button>
            </ion-col>
        </ion-row>
        <div>
            <br>
            <qr-code class="center" *ngIf="showQRCode" [value]="connectcode" [size]="300" class="center"></qr-code>
        </div>
    </form>
</ion-content>
