<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXPORT_ACCOUNT'|translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h2>{{"DISCLAIMER.HEADLINE"|translate}}</h2>
    <p>{{"DISCLAIMER.INTRODUCTION"|translate}}</p>
    <p>{{"DISCLAIMER.LIST_INTRODUCTION"|translate}}</p>
    <ol>
        <li>{{"DISCLAIMER.LIST_ITEM_1"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_2"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_3"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_4"|translate}}</li>
    </ol>
    <ion-item>
        <ion-label text-wrap>{{"DISCLAIMER.READ_AND_AGREE"|translate}}</ion-label>
        <ion-checkbox [(ngModel)]="disclaimer_agreed"></ion-checkbox>
    </ion-item>
    <form *ngIf="disclaimer_agreed" (ngSubmit)="gencode()" #importForm="ngForm" no-lines>
        <ion-row>
            <button offset-md-4 col-md-4 ion-button full icon-left class="large-btn" id="open-wallet-button" color="danger" (click)="showQRCode = true">
                <ion-icon name="qr-scanner"></ion-icon>
                {{"IMPORT.SHOW_QRCODE_BUTTON"|translate}}
            </button>
        </ion-row>
        <div>
            <qr-code class="center" *ngIf="showQRCode" [value]="connectcode" [size]="300" class="center"></qr-code>
        </div>
    </form>
</ion-content>
