.coinlogo {
    width: 28px;
    margin-right: 20px;
}

.right-buttons {
    margin-right: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 630px) {
    .right-buttons {
        margin-right: 0;
        margin-left: 0;
    }
}

.inside-line {
    width: 100%;
}

ion-card {
    margin: 0;
}