
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'ACCOUNT.TITLE'|translate}} 
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content class="center spread-out">
    <ion-list lines="none" *ngIf="!syncing||balances!=undefined">
        <ion-grid>
            <ion-row>
                <ng-container class="asset-container">
                    <ion-col class="asset-container">
                        <etp-card *ngIf="balances!=undefined" [balance]="balances.ETP" [icon]="'assets/icon/ETP.png'" [tickers]="tickers.ETP" [base]="base"></etp-card>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
