page-buy-etp {

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

}
