<ion-content padding class="center">
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="6" offset-lg="3">
                <ion-row class="top-message">
                    <ion-col>
                        <h1 translate="LOADING.TITLE"></h1>
                    </ion-col>
                </ion-row>

                <ion-row class="logo-row">
                    <ion-col class="logo">
                        <div class="banner"></div>
                    </ion-col>
                </ion-row>

                <div *ngIf="!showRestartOption" class="mini-loader"></div>

                {{progress$|async}}%
                <ion-progress-bar color="primary" [value]="(progress$|async)/100"></ion-progress-bar>

                <h4 *ngIf="(progress$|async) != 100" translate="LOADING.CURRENT_HEIGHT"
                    [translateParams]="{height: metaverseService.lastTxHeight$|async}"></h4>
                <h4 class="valid-input" *ngIf="(progress$|async) == 100" translate="LOADING.COMPLETE"></h4>

                <p class="wrong-input" *ngIf="showRestartOption" translate="LOADING.STOPPED"></p>
                <ion-row *ngIf="showRestartOption" class="padding-bottom">
                    <ion-col>
                        <ion-button color="danger" (click)="cancel()">
                            <ion-icon slot="start" name="close"></ion-icon>
                            <span translate="LOADING.TO_LOGIN"></span>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button type="submit" (click)="updateBalances()" color="primary">
                            <ion-icon slot="start" name="retry"></ion-icon>
                            <span translate="LOADING.RETRY"></span>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>