<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/info"></ion-back-button>
    </ion-buttons>
    <ion-title translate="LEGAL_DISCLAIMER.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-sm="8">
      <br>
      <p translate="LEGAL_DISCLAIMER.BRIEF_EXPLAIN"></p>
      <p translate="LEGAL_DISCLAIMER.WARNING"></p>
      <p translate="LEGAL_DISCLAIMER.I_TITLE"></p>
      <p translate="LEGAL_DISCLAIMER.I_INFO"></p>
      <p translate="LEGAL_DISCLAIMER.I_INFO_2"></p>
      <p translate="LEGAL_DISCLAIMER.II_TITLE"></p>
      <p translate="LEGAL_DISCLAIMER.II_INFO_1"></p>
      <p translate="LEGAL_DISCLAIMER.II_INFO_2"></p>
      <p translate="LEGAL_DISCLAIMER.II_INFO_3"></p>
      <p translate="LEGAL_DISCLAIMER.III_TITLE"></p>
      <p translate="LEGAL_DISCLAIMER.III_INFO"></p>
      <p translate="LEGAL_DISCLAIMER.FOOTER"></p>
    </ion-col>
  </ion-row>

</ion-content>