<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/info"></ion-back-button>
    </ion-buttons>
    <ion-title translate="LEGAL_DISCLAIMER.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>{{"LEGAL_DISCLAIMER.BRIEF_EXPLAIN" | translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.WARNING"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.I_TITLE"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.I_INFO"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.I_INFO_2"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.II_TITLE"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.II_INFO_1"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.II_INFO_2"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.II_INFO_3"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.III_TITLE"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.III_INFO"|translate}}</p>
    <p>{{"LEGAL_DISCLAIMER.FOOTER"|translate}}</p>

</ion-content>
