// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alert-md .alert-wrapper, .alert-ios .alert-wrapper {
    max-width: none;
}

.scroll-content {
    padding-bottom: 0 !important;
    top: -5px;
    padding-top: 21px !important;
}

.item.error-border .item-inner{
    border-bottom-color: red !important;
    -webkit-box-shadow: inset 0 -1px 0 0 red !important;
    box-shadow: red !important;
}

.wrong-input{
    color: red;
}

.warning{
    color: orange;
}

.item.item-select:not(.error-border):not(.no-color-border) .item-inner .ng-valid .item-cover{
    border-bottom-color: #32db64 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
    box-shadow: inset 0 -1px 0 0 #32db64 !important;
    margin-left: 16px;
    border-bottom: 1px solid;
}

.item.item-input.valid-border .item-inner{
    border-bottom-color: #32db64 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
    box-shadow: inset 0 -1px 0 0 #32db64 !important;
}

.valid-input{
    color: #32db64;
}

.advice {
    font-size: 1.2rem;
    color: rgb(148, 148, 148);
    padding-left: 16px;
    margin-top: 10px;
}

.alert-sub-title{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.rawtx {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.manual-copy {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.valid-input ion-label, .wrong-input ion-label, .info-input ion-label{
    text-overflow: initial;
    white-space: initial;
}

.small-label{
    min-height: 22px;
    height: 22px;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info-input {
    min-height: 0;
}

.info-input ion-label {
    margin-top: 10px;
    margin-bottom: 0;
}


// loading animation
.mini-loader,
.mini-loader:before,
.mini-loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.mini-loader {
    color: #006599;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.mini-loader:before,
.mini-loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.mini-loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.mini-loader:after {
    left: 3.5em;
}


// ███▄    █  ▒█████   ▄████▄  ▄▄▄█████▓ ██▓ ██▓     █    ██ ▒██   ██▒
// ██ ▀█   █ ▒██▒  ██▒▒██▀ ▀█  ▓  ██▒ ▓▒▓██▒▓██▒     ██  ▓██▒▒▒ █ █ ▒░
// ▓██  ▀█ ██▒▒██░  ██▒▒▓█    ▄ ▒ ▓██░ ▒░▒██▒▒██░    ▓██  ▒██░░░  █   ░
// ▓██▒  ▐▌██▒▒██   ██░▒▓▓▄ ▄██▒░ ▓██▓ ░ ░██░▒██░    ▓▓█  ░██░ ░ █ █ ▒
// ▒██░   ▓██░░ ████▓▒░▒ ▓███▀ ░  ▒██▒ ░ ░██░░██████▒▒▒█████▓ ▒██▒ ▒██▒
// ░ ▒░   ▒ ▒ ░ ▒░▒░▒░ ░ ░▒ ▒  ░  ▒ ░░   ░▓  ░ ▒░▓  ░░▒▓▒ ▒ ▒ ▒▒ ░ ░▓ ░
// ░ ░░   ░ ▒░  ░ ▒ ▒░   ░  ▒       ░     ▒ ░░ ░ ▒  ░░░▒░ ░ ░ ░░   ░▒ ░
// ░   ░ ░ ░ ░ ░ ▒  ░          ░       ▒ ░  ░ ░    ░░░ ░ ░  ░    ░
// ░     ░ ░  ░ ░                ░      ░  ░   ░      ░    ░

.theme-noctilux{
  .wrong-input div{
      color: red !important;
  }
  background-color: #383838;
    .content{
        background-color: #202020;
    }
    .item-md,
    .bar-button,
    h1,h2, h3, h4, p, li,
    ion-card-title,ion-item,button
    .toolbar-title{
        background: transparent;
        color: white;
    }
    .toolbar-background, ion-footer {
        background-color: #383838;
        .item-md,h1,h2, h3, h4, p {
            background-color: #383838;
        }
    }

    .item-ios {
        background-color: transparent !important;
        color: white;
    }

    page-login .banner {
        margin: 20px auto !important;
        background:url(../assets/logo1.png) no-repeat !important;
        width: 100% !important;
        max-width: 334px !important;
        height: 80px !important;
        outline: 0 !important;
        background-size: 100% !important;
    }

    ion-alert ion-backdrop{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    p,div {
        color: #949494;
    }

    .progress-inner {
        color: #202020;
    }

    .alert-md{
        .alert-wrapper{
            background: rgba(50,50,50,0.8);
        }
        .alert-message, .alert-wrapper{
            color: white;
            overflow-y: hidden;
        }
    }

    .alert-md [aria-checked=false]{
        .alert-radio-label{
          color: #949494;
        }
    }

    textarea {
        background-color: #383838
    }

    ion-card {
        background: #383838;
        .item-md,h1,h2, h3, h4, p {
            background-color: #383838;
        }
    }
}



// ▄████▄▓██   ██▓ ▄▄▄▄   ▓█████  ██▀███   ██▓███   █    ██  ███▄    █  ██ ▄█▀
// ▒██▀ ▀█ ▒██  ██▒▓█████▄ ▓█   ▀ ▓██ ▒ ██▒▓██░  ██▒ ██  ▓██▒ ██ ▀█   █  ██▄█▒
// ▒▓█    ▄ ▒██ ██░▒██▒ ▄██▒███   ▓██ ░▄█ ▒▓██░ ██▓▒▓██  ▒██░▓██  ▀█ ██▒▓███▄░
// ▒▓▓▄ ▄██▒░ ▐██▓░▒██░█▀  ▒▓█  ▄ ▒██▀▀█▄  ▒██▄█▓▒ ▒▓▓█  ░██░▓██▒  ▐▌██▒▓██ █▄
// ▒ ▓███▀ ░░ ██▒▓░░▓█  ▀█▓░▒████▒░██▓ ▒██▒▒██▒ ░  ░▒▒█████▓ ▒██░   ▓██░▒██▒ █▄
// ░ ░▒ ▒  ░ ██▒▒▒ ░▒▓███▀▒░░ ▒░ ░░ ▒▓ ░▒▓░▒▓▒░ ░  ░░▒▓▒ ▒ ▒ ░ ▒░   ▒ ▒ ▒ ▒▒ ▓▒
// ░  ▒  ▓██ ░▒░ ▒░▒   ░  ░ ░  ░  ░▒ ░ ▒░░▒ ░     ░░▒░ ░ ░ ░ ░░   ░ ▒░░ ░▒ ▒░
// ░       ▒ ▒ ░░   ░    ░    ░     ░░   ░ ░░        ░░░ ░ ░    ░   ░ ░ ░ ░░ ░
// ░ ░     ░ ░      ░         ░  ░   ░                 ░              ░ ░  ░
// ░       ░ ░           ░

.theme-cyberpunk{
    .content{
        background-color: #000000;
        color: dcdccc;
    }
    .item-md,
    .bar-button,
    h1,h2, h3, h4,
    ion-card-title,ion-item,button
    .toolbar-title{
        background: transparent;
        color: #ff1493;
        h3 {
            color: white;
        }
        p {
            color: #fffafa;
        }
    }
    .toolbar-background, ion-footer {
        background-color: #383838;
        .item-md,h1,h2, h3, h4, p {
            background-color: #383838;
        }

    }

    .item-ios {
        background-color: transparent !important;
        color: #ff1493;
    }

    ion-alert ion-backdrop{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .alert-md{
        .alert-wrapper{
            background: rgba(50,50,50,0.8);
        }
        .alert-message, .alert-wrapper{
            color: white;
            overflow-y: hidden;
        }
    }

    textarea {
        background-color: #383838
    }

    ion-card {
        background: #383838;
        .item-md,h1,h2, h3, h4, p {
            background-color: #383838;
        }
    }
}


// ██████  ▒█████   ██▓    ▄▄▄       ██▀███
// ▒██    ▒ ▒██▒  ██▒▓██▒   ▒████▄    ▓██ ▒ ██▒
// ░ ▓██▄   ▒██░  ██▒▒██░   ▒██  ▀█▄  ▓██ ░▄█ ▒
// ▒   ██▒▒██   ██░▒██░   ░██▄▄▄▄██ ▒██▀▀█▄
// ▒██████▒▒░ ████▓▒░░██████▒▓█   ▓██▒░██▓ ▒██▒
// ▒ ▒▓▒ ▒ ░░ ▒░▒░▒░ ░ ▒░▓  ░▒▒   ▓▒█░░ ▒▓ ░▒▓░
// ░ ░▒  ░ ░  ░ ▒ ▒░ ░ ░ ▒  ░ ▒   ▒▒ ░  ░▒ ░ ▒░
// ░  ░  ░  ░ ░ ░ ▒    ░ ░    ░   ▒     ░░   ░
// ░      ░ ░      ░  ░     ░  ░   ░

.theme-solarized{
    .content{
        background-color: #073642;
        color: white;
    }
    .item-md,
    .bar-button,
    h1,h2, h3, h4,
    ion-card-title,ion-item,button
    .toolbar-title{
        background: transparent;
        color: #586e75;
    }
    .toolbar-background, ion-footer {
        background-color: #002b36;
        .item-md,h1,h2, h3, h4, p {
            background-color: #002b36;
        }

    }

    .item-ios {
        background-color: transparent !important;
        color: #586e75;
    }

    ion-alert ion-backdrop{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    p,div {
        color: #0f8082;
    }

    .progress-inner {
        color: #073642;
    }

    .alert-md{
        .alert-wrapper{
            background: rgba(0,43,54,0.8);
        }
        .alert-message, .alert-wrapper{
            color: white;
            overflow-y: hidden;
        }
    }

    .alert-md [aria-checked=false]{
        .alert-radio-label{
          color: #0f8082;
        }
    }


    page-login .banner {
        margin: 20px auto !important;
        background:url(../assets/logo1.png) no-repeat !important;
        width: 100% !important;
        max-width: 334px !important;
        height: 80px !important;
        outline: 0 !important;
        background-size: 100% !important;
    }

    textarea {
        background-color: #002b36;
        color: #fff;
    }

    ion-card {
        background: #002b36;
        .item-md,h1,h2, h3, h4, p {
            background-color: #002b36;
        }
    }
}



.theme-puppy{
    .item-md,
    .bar-button,
    h1,h2, h3, h4,
    ion-card-title,ion-item,button
    .toolbar-title{
        background: transparent;
    }
    .toolbar-background, ion-footer {
        background-color: pink;
        .item-md,h1,h2, h3, h4, p {
            background-color: pink;
        }
    }

    .item-ios {
        background-color: transparent !important;
        color: black;
    }

    .button-md, page-import-wallet .inputfile + label{
        background-color: pink !important;
    }
    .button-md-secondary{
        background-color: lightblue !important;
    }
    .button-clear-md{
        color: white;
    }

    .ios .button{
        color: white;
    }

    ion-card {
        background: pink;
        .item-md,h1,h2, h3, h4, p,textarea {
            background-color: pink;
        }
    }
}



.toolbar-md {
    min-height: 70px;
}

.center {
    text-align: center;
}
.platform-ios.platform-cordova:not(.fullscreen) {
    // margin-top: 20px;
}

ion-list-header{
    padding-top: 20px;
}

.card-md{
    margin: 8px 0px 8px 0px;
    width: calc(100%);
}

.font-mono{
    font-family: monospace;
}


[icon-left] ion-icon, [icon-start] ion-icon{
    line-height: 1;
}

// Global Browser Style settings
@media (min-width: 1079px) {
    .scroll-content {
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1500px !important;
        margin: auto;
        overflow-y: auto;
    }

    .menu-inner .scroll-content{
        padding: 0px 0px 0px 0px;
        overflow-y: hidden;
    }

}



/* iOS */
.ios .scroll-content {
    padding-top: 5px !important;
}

.ios .scroll-content .pageHeadline {
    padding-top: 15px;
}

.ios .alert-title {
    color: black;
}

/*Top header iOS*/
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
  padding-top: calc(16px + 20px);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-title {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  height: calc(44px + 20px);
  height: calc(44px + constant(safe-area-inset-top));
  height: calc(44px + env(safe-area-inset-top));
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}

@media only screen and (max-width: 767px) {
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: calc(20px + 4px);
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
    padding-top: calc(16px + 20px);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    height: calc(44px + 20px);
    height: calc(44px + constant(safe-area-inset-top));
    height: calc(44px + env(safe-area-inset-top));
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
}

/*Footer iOS*/
.footer-ios{
    padding-bottom: calc(constant(safe-area-inset-bottom) + 4px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 4px);
    min-height: calc(44px + constant(safe-area-inset-bottom));
    min-height: calc(44px + env(safe-area-inset-bottom));
}
