<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">
        {{'MENU'|translate}}
        <div *ngIf="isLogged && walletHasEtp && walletHasDna" class="menu-set-wallet">
          <ion-row *ngIf="isEtp()">
            <ion-col>
              <button class="wallet-change" ion-button color="primary" block full style="height: 24px;">ETP</button>
            </ion-col>
            <ion-col>
              <button class="wallet-change" menuClose ion-button color="dark" block outline (click)="setWalletType('dna')" style="height: 24px;">DNA</button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isDna()">
            <ion-col>
              <button class="wallet-change" menuClose ion-button color="dark" block outline (click)="setWalletType('etp')" style="height: 24px;">ETP</button>
            </ion-col>
            <ion-col>
              <button class="wallet-change" ion-button color="primary" block full style="height: 24px;">DNA</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
        <ion-icon *ngIf="p.icon && p.icon != 'bitident'" name="{{p.icon}}"></ion-icon>
        <img class="menu-icon" *ngIf="p.icon == 'bitident'" [src]="'assets/icon/bitident.png'">
        {{p.caption}}
        <span *ngIf="p.beta" class="beta-tag">New</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
