<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'MENU'|translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
        <ion-icon *ngIf="p.icon && p.icon != 'bitident'" name="{{p.icon}}"></ion-icon>
        <img class="menu-icon" *ngIf="p.icon == 'bitident'" [src]="'assets/icon/bitident.png'">
        {{p.caption}}
        <span *ngIf="p.beta" class="beta-tag">New</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
