page-generate-key {


    .title-text-padding {
        margin-top: 70px;
    }

    ion-row {
        padding-bottom: 10px;
    }

    .card-content {
        padding-bottom: 0;
    }

    .card-content h1{
        color: red !important;
    }

    .button {
        max-width: 500px;
        margin: auto ;
    }

    .more-bottom-padding {
        padding-bottom: 80px;
    }

}
