<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/bitident"></ion-back-button>
    </ion-buttons>
    <ion-title translate="BITIDENT.HOWTO.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p class="pic-description1 mobile-import-image"></p>
    <p translate="BITIDENT.HOWTO.STEP1"></p>
    <p class="pic-description2 mobile-import-image"></p>
    <p translate="BITIDENT.HOWTO.STEP2"></p>
    <p class="pic-description3 mobile-import-image"></p>
    <p translate="BITIDENT.HOWTO.STEP3"></p>
  </ion-grid>
</ion-content>