<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/bitident"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"BITIDENT.HOWTO.TITLE"| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="pic-description1 mobile-import-image"></p>
  <p>{{"BITIDENT.HOWTO.STEP1"| translate}}</p>
  <p class="pic-description2 mobile-import-image"></p>
  <p>{{"BITIDENT.HOWTO.STEP2"| translate}}</p>
  <p class="pic-description3 mobile-import-image"></p>
  <p>{{"BITIDENT.HOWTO.STEP3"| translate}}</p>
</ion-content>