.coinLogoHeader {
    width: 28px;
}

.no-mst-info {
    margin-top: 10px;
}

#distributionChart{
    width: 320px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
}

#balancesChart{
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    min-width: 500px;
}