.coinLogoHeader {
    width: 28px;
}

.coinLogoTitleDetails {
    width: 28px;
}

#explorerTxButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.no-mst-info {
    margin-top: 10px;
}

.card-block-stakelist {
    padding-bottom: 20px;
}