<ion-header>
    <ion-navbar>
        <ion-title>{{"TRANSFER_MIT" | translate}}</ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding style="padding-bottom: 0;">
    <p align="center" *ngIf="etpBalance<fee">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{fee | format : 8}} ETP</p>

    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">
            <ion-item [ngClass]="{'error-border':!validAvatar(recipient_avatar)}">
                <ion-label color="primary" floating>{{"RECIPIENT_AVATAR"|translate}}</ion-label>
                <ion-input #recipientAvatarInput name="recipient_avatar" [(ngModel)]="recipient_avatar" (ngModelChange)="recipientAvatarChanged($event)" required></ion-input>
            </ion-item>
            <ion-item class="info-input" *ngIf="recipient_address" no-lines>
                <span [translate]="'AVATAR_RECIPIENT_ADDRESS'" [translateParams]="{address: recipient_address, last_update: recipient_address_last_update*1000|date : 'medium'}"></span>
            </ion-item>

            <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
              <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>
            <div *ngIf="showAdvanced">
                <ion-item no-lines>
                    <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                    <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee">
                        <ion-label range-left>{{10000 | format : 8}}</ion-label>
                        <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                    </ion-range>
                </ion-item>
            </div>
        </ion-list>
        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full [disabled]="!sendForm.form.valid||!validrecipient(recipient_address)||!validAvatar(recipient_avatar)||!validPassword(passphrase)" (click)="send()" icon-left color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"TRANSFER_MIT" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                <ion-icon name="cancel"></ion-icon>
                {{"CANCEL" | translate}}
            </button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
