<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login/open"></ion-back-button>
        </ion-buttons>
        <ion-title translate="XPUB.TITLE"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="6" offset-lg="3">
                <form #loginAccountForm="ngForm">
                    <ion-row>
                        <ion-col>
                            <p align="center" translate="XPUB.INFORMATION"></p>
                        </ion-col>
                    </ion-row>
                    <ion-item class="center-psw" [ngClass]="{'error-border':xpub && !validXpub, 'valid-border':validXpub}">
                        <ion-label color="primary" position="floating" translate="XPUB.PUBLIC_KEY"></ion-label>
                        <ion-input name="xpub" type="text" [(ngModel)]="xpub" (ngModelChange)="xpubValid(xpub)">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="xpub && !validXpub" lines="none" class="wrong-input center-psw">{{"XPUB.INVALID_XPUB" | translate}}
                    </ion-item>
                    <ion-item *ngIf="xpub && validXpub" lines="none" class="valid-input center-psw" translate="XPUB.VALID_XPUB" [translateParams]="{address: addresses[0]}"></ion-item>

                    <div class="next-button more-top-padding">
                        <ion-button expand="full" [disabled]="!validXpub" (click)="login(xpub)">
                            <ion-icon slot="start" name="arrow-forward"></ion-icon>
                            <span translate="XPUB.BUTTON.NEXT"></span>
                        </ion-button>
                    </div>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
