<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="CERTIFICATES.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <p align="center" translate="CERTIFICATES.INFORMATION"></p>
    </ion-col>
  </ion-row>
  <div *ngIf="certificates else loading">
    <div class="noCert" *ngIf="noCert" translate="CERTIFICATES.NO_CERTIFICATE"></div>

    <ion-list *ngIf="certificates">
      <ion-item *ngFor="let certificate of certificates">
        <ion-label>
          <b>{{certificate.attachment.symbol}}</b>
          <div>{{certificate.attachment.owner}}</div>
          <div>{{certificate.attachment.cert}}</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>

</ion-content>