<div [ngClass]="{'personal': input.personal}">
    <ion-item *ngIf="input.previous_output.value != 0 || input.previous_output.address == ''">
        <ion-row>
            <!--Left column-->
            <ion-col [ngClass]="{'align-small-button-container': input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
                <div *ngIf="input.previous_output.address !== ''">{{input.previous_output.address}}</div>
                <div *ngIf="input.previous_output.hash === '0000000000000000000000000000000000000000000000000000000000000000'">{{'TX.INPUT_COINBASE'|translate}}</div>
                <div *ngIf="input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'" class="align-small-button">
                    {{'FOREIGN_INPUT'|translate}}
                    <button class="item-button" ion-button clear color="dark" (click)="loadForeignInput()">
                        <ion-icon name="eye"></ion-icon>
                    </button>
                </div>
            </ion-col>
            <!--Right column-->
            <ion-col class="right">
                <div *ngIf="input.previous_output.value">{{input.previous_output.value | format : 8}} ETP</div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi'" [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
            <ion-col>
                <div class="script">{{'HASH'|translate}}: {{input.previous_output.hash}}</div>
                <div class="script align-small-button" *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                    {{'INDEX'|translate}}: {{input.previous_output.index}}
                    <button class="item-button" ion-button clear color="dark" (click)="checkInput()">
                        <ion-icon name="open"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
            <ion-col class="script">
                {{input.previous_output.script}}
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="input.previous_output.attachment && input.previous_output.attachment.symbol && input.previous_output.attachment.symbol != 'ETP'">
        <ion-row>
            <!--Left column-->
            <ion-col>
                {{input.previous_output.address}}
            </ion-col>
            <!--Right column-->
            <ion-col class="right">
                <div *ngIf="input.previous_output.attachment.type == 'did-register' || input.previous_output.attachment.type == 'did-transfer'">
                    <div class="txType">{{'TX.TYPE.' + input.previous_output.attachment.type | translate}}:</div>{{input.previous_output.attachment.symbol}}
                </div>
                <div *ngIf="input.previous_output.attachment.type == 'mit'">
                    <div class="txType">{{'TX.TYPE.MIT.' + input.previous_output.attachment.status | translate}}:</div>{{input.previous_output.attachment.symbol}}
                </div>
                <div *ngIf="input.previous_output.attachment.cert">
                    <div class="txType">{{'TX.TYPE.CERT.' + input.previous_output.attachment.cert | translate}}:</div>{{input.previous_output.attachment.symbol}}
                </div>
                <div *ngIf="input.previous_output.attachment.type != 'did-register' && input.previous_output.attachment.type != 'did-transfer' && input.previous_output.attachment.type != 'mit' && !input.previous_output.attachment.cert">
                    {{input.previous_output.attachment.quantity | format : decimalsMst[input.previous_output.attachment.symbol]}}
                    {{input.previous_output.attachment.symbol}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi'" [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
            <ion-col>
                <div class="script">{{'HASH'|translate}}: {{input.previous_output.hash}}</div>
                <div class="script align-small-button" *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                    {{'INDEX'|translate}}: {{input.previous_output.index}}
                    <button class="item-button" ion-button clear color="dark" (click)="checkInput()">
                        <ion-icon name="open"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
            <ion-col class="script">
                {{input.previous_output.script}}
            </ion-col>
        </ion-row>
    </ion-item>
</div>