<div *ngIf="input.previous_output.value != 0 || input.previous_output.address == ''">
    <ion-row [ngClass]="{'personal': input.personal}">
        <!--Left column-->
        <ion-col [ngClass]="{'align-small-button-container': input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
            <ion-item lines="none" *ngIf="input.previous_output.address !== ''">
                <span>{{input.previous_output.address}}</span>
            </ion-item>
            <ion-item lines="none" *ngIf="input.previous_output.hash === '0000000000000000000000000000000000000000000000000000000000000000'">
                <span translate="TX.INPUT_COINBASE"></span>
            </ion-item>
            <ion-item lines="none" *ngIf="input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'" class="align-small-button">
                <span translate="TX.FOREIGN_INPUT"></span>
                <ion-button fill="clear" color="primary" (click)="loadForeignInput()">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
        <!--Right column-->
        <ion-col>
            <ion-item class="right" lines="none" *ngIf="input.previous_output.value">
                <span>{{input.previous_output.value | format : 8}} ETP</span>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi'" [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
        <ion-col>
            <ion-item lines="none" class="script">
                <span>{{'TX.INPUT_HASH'|translate}}: {{input.previous_output.hash}}</span>
            </ion-item>
            <ion-item lines="none" class="script align-small-button" *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                <span>{{'TX.INPUT_INDEX'|translate}}: {{input.previous_output.index}}</span>
                <ion-button fill="clear" color="primary" (click)="checkInput()">
                    <ion-icon slot="icon-only" name="open"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
        <ion-col>
            <ion-item class="script" lines="none">
                <span>{{input.previous_output.script}}</span>
            </ion-item>
        </ion-col>
    </ion-row>
</div>

<div *ngIf="input.previous_output.attachment && input.previous_output.attachment.symbol && input.previous_output.attachment.symbol != 'ETP'">
    <ion-row [ngClass]="{'personal': input.personal}">
        <!--Left column-->
        <ion-col>
            <ion-item lines="none">
                <span>{{input.previous_output.address}}</span>
            </ion-item>
        </ion-col>
        <!--Right column-->
        <ion-col>
            <ion-item class="right" lines="none" *ngIf="input.previous_output.attachment.type == 'did-register' || input.previous_output.attachment.type == 'did-transfer'">
                <span class="txType">{{'TX.TYPE.' + input.previous_output.attachment.type | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </ion-item>
            <ion-item class="right" lines="none" *ngIf="input.previous_output.attachment.type == 'mit'">
                <span class="txType">{{'TX.TYPE.MIT.' + input.previous_output.attachment.status | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </ion-item>
            <ion-item class="right" lines="none" *ngIf="input.previous_output.attachment.cert">
                <span class="txType">{{'TX.TYPE.CERT.' + input.previous_output.attachment.cert | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </ion-item>
            <ion-item class="right" lines="none" *ngIf="input.previous_output.attachment.type != 'did-register' && input.previous_output.attachment.type != 'did-transfer' && input.previous_output.attachment.type != 'mit' && !input.previous_output.attachment.cert">
                <span>
                    {{input.previous_output.attachment.quantity | format : decimalsMst[input.previous_output.attachment.symbol]}}
                    {{input.previous_output.attachment.symbol}}
                </span>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi'" [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
        <ion-col>
            <ion-item lines="none" class="script">
                <span>{{'TX.INPUT_HASH'|translate}}: {{input.previous_output.hash}}</span>   
            </ion-item>
            <ion-item lines="none" class="script align-small-button" *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                <span>{{'TX.INPUT_INDEX'|translate}}: {{input.previous_output.index}}</span>
                <ion-button fill="clear" color="primary" (click)="checkInput()">
                    <ion-icon slot="icon-only" name="open"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
        <ion-col>
            <ion-item class="script" lines="none">
                <span>{{input.previous_output.script}}</span>
            </ion-item>
        </ion-col>
    </ion-row>
</div>
<br>