input-item {

    .personal ion-item {
        font-weight: bold;
    }

    .script {
        color: #b6bcc3;
        overflow-wrap: break-word;
        font-weight: 400;
    }

    ion-col {
        text-overflow: initial;
        white-space: initial;
    }

    .align-small-button-container ion-label {
        margin: 0px;
    }

    .align-small-button-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .align-small-button {
        padding-top: 5px;
    }

    .align-small-button .button {
        top: -5px;
        margin-top: 0;
        margin-bottom: 0;
    }

}
