<div *ngIf="input.previous_output.value != 0 || input.previous_output.address == ''">
    <ion-row [ngClass]="{'personal': input.personal}">
        <!--Left column-->
        <ion-col
            [ngClass]="{'align-small-button-container': input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
            <div lines="none" *ngIf="input.previous_output.address !== ''">
                <span>{{input.previous_output.address}}</span>
            </div>
            <div lines="none"
                *ngIf="input.previous_output.hash === '0000000000000000000000000000000000000000000000000000000000000000'">
                <span translate="TX.INPUT_COINBASE"></span>
            </div>
            <div lines="none"
                *ngIf="input.previous_output.address === undefined && input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'"
                class="align-small-button">
                <span translate="TX.FOREIGN_INPUT"></span>
                <ion-button fill="clear" color="primary" (click)="loadForeignInput()"
                    (click)="$event.preventDefault();$event.stopPropagation()">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                </ion-button>
            </div>
        </ion-col>
        <!--Right column-->
        <ion-col>
            <div class="right" lines="none" *ngIf="input.previous_output.value">
                <span>{{input.previous_output.value | format : 8}} ETP</span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi'"
        [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
        <ion-col>
            <div lines="none" class="script">
                <span>{{'TX.INPUT_HASH'|translate}}: {{input.previous_output.hash}}</span>
            </div>
            <div lines="none" class="script align-small-button"
                *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                <span>{{'TX.INPUT_INDEX'|translate}}: {{input.previous_output.index}}</span>
                <a (click)="$event.stopPropagation()" target="_blank"
                    [href]="explorerURLWithIndex(input.previous_output.hash, input.previous_output.index)">
                    <ion-button fill="clear" color="primary">
                        <ion-icon slot="icon-only" name="open"></ion-icon>
                    </ion-button>
                </a>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
        <ion-col>
            <div class="script" lines="none">
                <span>{{input.previous_output.script}}</span>
            </div>
        </ion-col>
    </ion-row>
</div>

<div
    *ngIf="input.previous_output.attachment && input.previous_output.attachment.symbol && input.previous_output.attachment.symbol != 'ETP'">
    <ion-row [ngClass]="{'personal': input.personal}">
        <!--Left column-->
        <ion-col>
            <div lines="none">
                <span>{{input.previous_output.address}}</span>
            </div>
        </ion-col>
        <!--Right column-->
        <ion-col>
            <div class="right" lines="none"
                *ngIf="input.previous_output.attachment.type == 'did-register' || input.previous_output.attachment.type == 'did-transfer'">
                <span
                    class="txType">{{'TX.TYPE.' + input.previous_output.attachment.type | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </div>
            <div class="right" lines="none" *ngIf="input.previous_output.attachment.type == 'mit'">
                <span
                    class="txType">{{'TX.TYPE.MIT.' + input.previous_output.attachment.status | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </div>
            <div class="right" lines="none" *ngIf="input.previous_output.attachment.cert">
                <span
                    class="txType">{{'TX.TYPE.CERT.' + input.previous_output.attachment.cert | translate}}:</span>{{input.previous_output.attachment.symbol}}
            </div>
            <div class="right" lines="none"
                *ngIf="input.previous_output.attachment.type != 'did-register' && input.previous_output.attachment.type != 'did-transfer' && input.previous_output.attachment.type != 'mit' && !input.previous_output.attachment.cert">
                <span>
                    {{input.previous_output.attachment.quantity | format : decimalsMst[input.previous_output.attachment.symbol]}}
                    {{input.previous_output.attachment.symbol}}
                </span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi'"
        [ngClass]="{'align-small-button-container': input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'}">
        <ion-col>
            <div lines="none" class="script">
                <span>{{'TX.INPUT_HASH'|translate}}: {{input.previous_output.hash}}</span>
            </div>
            <div lines="none" class="script align-small-button"
                *ngIf="input.previous_output.hash !== '0000000000000000000000000000000000000000000000000000000000000000'">
                <span>{{'TX.INPUT_INDEX'|translate}}: {{input.previous_output.index}}</span>
                <a (click)="$event.stopPropagation()" target="_blank"
                    [href]="explorerURLWithIndex(input.previous_output.hash, input.previous_output.index)">
                    <ion-button fill="clear" color="primary">
                        <ion-icon slot="icon-only" name="open"></ion-icon>
                    </ion-button>
                </a>
            </div>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="mode == 'satoshi' && input.previous_output.script">
        <ion-col>
            <div class="script" lines="none">
                <span>{{input.previous_output.script}}</span>
            </div>
        </ion-col>
    </ion-row>
</div>
<br>