<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/advanced"></ion-back-button>
    </ion-buttons>
    <ion-title translate="DECODE.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #decodeTxForm="ngForm" (ngSubmit)="decode(input)">
    <ion-row>
      <h1 translate="DECODE.TX_TO_SIGN"></h1>
    </ion-row>
    <ion-row>
      <p translate="DECODE.DESCRIPTION"></p>
    </ion-row>
    <ion-row>
      <ion-item class="textareaCard" [ngClass]="{'error-border': !input, 'valid-border': input}">
        <ion-textarea fz-elastic rows="3" type="text" class="textbox" [(ngModel)]="input"
          (ngModelChange)="onInputChange()" name="input"></ion-textarea>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="full" fill="outline" shape="round" (click)="cancel()">
          <ion-icon slot="start" name="close"></ion-icon>
          <span translate="SEND_SINGLE.BUTTON.CANCEL"></span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="full" color="primary" fill="outline" shape="round" [disabled]="!input">
          <ion-icon slot="start" disabled="checked" name="cog"></ion-icon>
          <span translate="SEND_SINGLE.BUTTON.NEXT"></span>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>