<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/identities"></ion-back-button>
    </ion-buttons>
    <ion-title translate="GENERATE_ADDRESS.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <p translate="GENERATE_ADDRESS.EXPLANATION"></p>
    </ion-col>
  </ion-row>

  <form *ngIf="!loading else loadingSpinner" #sendForm="ngForm" (ngSubmit)="setIndex()">
    <ion-list>
      <ion-item [ngClass]="{'error-border':!validIndex(index), 'valid-border':validIndex(index)}">
        <ion-label color="primary" position="floating" translate="GENERATE_ADDRESS.TOTAL_NUMBER_OF_ADDRESSES"></ion-label>
        <ion-input name="symbol" type="number" [(ngModel)]="index" required></ion-input>
      </ion-item>
      <div lines="none" class="advice" translate="GENERATE_ADDRESS.HELP.NUMBER" [translateParams]="{max_addresses: appService.max_addresses}"></div>
      <ion-item *ngIf="index > appService.max_addresses" lines="none" class="wrong-input" translate="GENERATE_ADDRESS.ERROR.TOO_MANY_ADDRESSES"
          [translateParams]="{max_addresses: appService.max_addresses}"></ion-item>
      <ion-item *ngIf="!walletFromXpub" [ngClass]="{'error-border': !validPassword(passphrase)}">
        <ion-label color="primary" position="floating" translate="GLOBAL.PASSWORD"></ion-label>
        <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
      </ion-item>
      <br>
    </ion-list>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-button color="danger" expand="full" (click)="cancel()">
          <ion-icon slot="start" name="close"></ion-icon>
          <span translate="GENERATE_ADDRESS.BUTTON.CANCEL"></span>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-button expand="full" type="submit"
          [disabled]="!sendForm.form.valid||!validIndex(index)||(!walletFromXpub && !validPassword(passphrase))"
          color="secondary">
          <ion-icon slot="start" name="send"></ion-icon>
          <span translate="GENERATE_ADDRESS.BUTTON.CHANGE_ADDRESS_NUMBER"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ng-template #loadingSpinner>
    <ion-spinner></ion-spinner>
  </ng-template>

</ion-content>