page-information {

    * {
        text-align: center;
    }

    .toolbar-title {
        text-align: left;
    }

    .banner {
        margin: 10px auto;
        background:url(../assets/logo.png) no-repeat;
        width: 100%;
        max-width: 434px;
        height: 100px;
        outline: 0;
        background-size: 100%;
    }
}
