page-login-account {

    .top-padding {
        padding-top: 10%;
    }

    ion-item {
        max-width: 800px;
    }

    .button {
        max-width: 500px;
        margin: auto;
    }

    .more-bottom-padding {
        padding-bottom: 80px;
    }

    .center-psw {
        margin: auto;
    }

    .center-info {
        margin: auto;
        text-align: center;
    }

}
