<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{"ACCOUNT.TITLE"|translate}}</ion-title>
        <ion-buttons end>
            <ion-spinner *ngIf="syncingSmall"></ion-spinner>
            <ion-icon *ngIf="offline&&!syncingSmall" name="flash" class="offlineIcon"></ion-icon>
        </ion-buttons>
        <ion-buttons end>
            <button *ngIf="!syncingSmall&&!platform.is('mobile')" ion-button (click)="sync()" icon-left>
        <ion-icon name="refresh"></ion-icon>
        <span>{{"RESYNC" |translate}}</span>
      </button>
            <button *ngIf="!platform.is('mobile')" ion-button icon-left (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <span>{{"LOGOUT" |translate}}</span>
      </button>
            <button ion-button icon-left>
          <span *ngIf="platform.is('mobile')&&platform.is('ios')&&!syncingSmall" class="block-iPhone">{{height}} <ion-icon name="cube"></ion-icon></span>
          <span *ngIf="!(platform.is('mobile')&&platform.is('ios'))">{{"HEIGHT" |translate}}: {{height}}</span>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="center spread-out">
    <ion-refresher *ngIf="platform.is('mobile')&&!syncingSmall" (ionRefresh)="sync($event)">
        <ion-refresher-content class="mini-loader mini-loader-mobile"></ion-refresher-content>
    </ion-refresher>
    <div class="mini-loader" *ngIf="syncing&&balances==undefined"></div>
    <ion-list no-lines *ngIf="!syncing||balances!=undefined">
        <ion-grid>
            <ion-row>
                <ng-container class="asset-container">
                    <ion-col class="asset-container">
                <etp-card *ngIf="balances!=undefined" [balance]="balances.ETP"></etp-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <h2>{{"HEADLINE_MST"|translate}}</h2>
            <ion-row *ngIf="balances!=undefined">
                <ng-container *ngFor="let asset of balancesKeys" class="asset-container">
                    <ion-col *ngIf="balances.MST[asset]!==undefined" class="asset-container">
                        <mst-card [balance]="balances.MST[asset]" [symbol]="asset"></mst-card>
                    </ion-col>
                </ng-container>
            </ion-row>
            <br>
            <h2>{{"HEADLINE_MIT"|translate}}</h2>
            <div *ngIf="balances!=undefined&&balances.MIT.length==0">{{"NO_MIT_TEXT" | translate}}</div>
            <ion-row *ngIf="balances!=undefined">
                <ng-container *ngFor="let mit of balances.MIT" class="asset-container">
                    <ion-col class="asset-container">
                        <mit-card [avatar]="mit.owner" [symbol]="mit.symbol"></mit-card>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
