page-account {

    .asset-container {
       max-width: 100%;
    }

    @media (min-width: 825px) {
        .asset-container {
            max-width: 50%;
        }
     }

    @media (min-width: 1310px) {
        .asset-container {
            max-width: 33.33%;
        }
    }

    @media (min-width: 1700px) {
        .asset-container {
            max-width: 25%;
        }
    }

    ion-list-header ion-reorder{
        display: none !important;
    }

    ion-label.label-md{
        margin: 0px;
    }
    .item-md{
        padding-left: 0px;
    }

    ion-item ion-row{
        position: relative;
    }

    ion-item.item-ios{
        padding-left: 0px;
    }
    .item-ios.item-block .item-inner{
        padding-right: 0px;
    }
    .label-ios{
        margin: 0px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 400px;
    }
    ion-list-header.item-md{
        padding-left: 10px;
    }
    ion-col button.button-full{
        padding: 0px;
    }

    .spread-out {
        .scroll-content {
            max-width: 100% !important;
            border-color: transparent;
        }
    }

    //specificity mobile refresh
    .mini-loader-mobile {
      margin-top: -4px !important;
    }

    //specificity mobile refresh
    .mini-loader-mobile-offline {
      margin-top: 0px !important;
      margin-bottom: 30px !important;
    }

    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    .deposit-button {
      top: -7px;
    }

    .row-buttons {
      position: absolute;
      bottom: 0px;
      left: -1px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .asset-container {
      height: 210px;
    }

    .offlineIcon {
      color: red;
      padding-right: 10px;
    }


    .block-iPhone {
      line-height: 8;
      font-size: 14px;
    }

    .csdLogoDefault {
      //filter: invert(100%);
      filter: brightness(0.50);
    }

    .card-block {
      height: 100%;
    }

    .coinlogo {
      margin-left: 20px;
    }
}
