page-eth-swap {

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

    .right-buttons {
        float: right;
        height: 34px;
        margin-top: 20px;
    }

    .list-md .item-input:last-child {
        border-bottom: 0;
        -webkit-box-shadow: inset 0 0 0 0 !important;
        box-shadow: inset 0 0 0 0 !important;
    }

    .inline {
        display: inline;
    }

    .recipient-title {
        margin-bottom: 0;
        padding-left: 16px;
        padding-top: 10px;
    }

    .recipient-title .label-md {
        margin: 0;
    }

    .card-block {
        padding: 10px;
    }

    .remove-button {
        float: right;
        margin: 0;

    }

    .card-block .col {
       padding: 0;
    }

}
