.hash {
    margin-top: 10px;
    --min-height: 16px;
}

.hash h2 {
    margin-bottom: 10px;
}

.timestamp {
    margin: 0;
    --min-height: 16px;
}

.summaryTxType {
    font-size: 20px;
}

.summaryAmount {
    color: var(--ion-color-primary);
    font-size: 20px;
    float: right;
    --min-height: 20px;
}

.sendAmount {
    color: var(--ion-color-danger) !important;
}

.receiveAmount {
    color: #32db64 !important;
}

.hash {
    // font-size: 20px;
    overflow: hidden;
    // white-space: nowrap;
    word-break:break-all;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.fee {
    font-size: 16px !important;
    color: var(--ion-color-dark) !important;
}

.unsigned {
    color: var(--ion-color-primary);
}

textarea{
    width:100%;
    border: 0px !important;
    resize: none;
    font-size: 1.8rem;
    margin: 20px;
}

.hash .col {
    padding-bottom: 0px;
}

.hash ion-label {
    margin: 0px;
}

.hash h1 {
    padding-top: 10px;
}

.hash h1 .button {
    top: -10px;
}

.tx-hash {
    width: calc(100% - 45px);
    display: inline-block;
}

.card {
    margin-left: 10px;
    width: calc(100% - 20px);
}

.show-more-btn {
    margin-left: 20px;
}

input-item, output-item {
    width: 100%;
}

.tx-link-button{
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}


.personal {
    font-weight: bold;
}