page-loading {

    .logo-row {
        min-height: 120px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .logo {
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner {
        margin: 10px auto;
        background:url(../assets/logo.png) no-repeat;
        width: 100%;
        max-width: 240px;
        height: 100px;
        outline: 0;
        background-size: 100%;
    }

    .progress-inner {
        min-width: 30px !important;
    }

    .top-message {
        margin-top: 20px;
    }
}
