<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title translate="OPEN_FILE.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 translate="DISCLAIMER.HEADLINE"></h2>
  <p translate="DISCLAIMER.INTRODUCTION"></p>
  <p translate="DISCLAIMER.LIST_INTRODUCTION"></p>
  <ol>
    <li translate="DISCLAIMER.LIST_ITEM_1"></li>
    <li translate="DISCLAIMER.LIST_ITEM_2"></li>
    <li translate="DISCLAIMER.LIST_ITEM_3"></li>
    <li translate="DISCLAIMER.LIST_ITEM_4"></li>
  </ol>

  <ion-item>
    <ion-label id="disclaimer-agree-label">{{"DISCLAIMER.READ_AND_AGREE"|translate}}</ion-label>
    <ion-checkbox [(ngModel)]="disclaimer_agreed" id="disclaimer-agree"></ion-checkbox>
  </ion-item>

  <form *ngIf="disclaimer_agreed" [formGroup]="form" (ngSubmit)="decrypt()" class="buttons-container">
    
    <ion-item>
      <h3>{{"OPEN_FILE.IMPORT_FILE"|translate}}</h3>
    </ion-item>
    <ion-row *ngIf="!fileLoaded">
      <input type="file" name="file" id="file" class="inputfile" accept=".json" (change)="open($event)" />
      <label for="file">
        <ion-icon name="download"></ion-icon> {{"OPEN_FILE.CHOOSE_A_FILE"|translate}}
      </label>
    </ion-row>

    <ion-item>
      <ion-label *ngIf="!form.controls.passphrase.errors" position="floating">Password</ion-label>
      <!--ion-label *ngIf="form.controls.passphrase.errors" position="floating" color="danger">
        {{"ERROR.PASSWORD." + (form.controls.passphrase | firstError) |translate}}
      </ion-label-->
      
      <ion-input formControlName="passphrase" type="password" clearOnEdit="true"></ion-input>
    </ion-item>

    <br>
    <ion-button type="submit" icon-left expand="full" color="primary" [disabled]="form.controls.passphrase.errors||!fileData||!fileData.mnemonic">
      <ion-icon name="open"></ion-icon> {{"OPEN_FILE.IMPORT_BUTTON"|translate}}
    </ion-button>
  </form>

  <ion-row *ngIf="!disclaimer_agreed" class="buttons-container"></ion-row>

</ion-content>