page-vote {

    progress-bar .progress-outer {
        border: 0 !important;
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important;
        width: 100% !important;
    }

    progress-bar .progress-inner {
        height: 20px;
        padding: 0 !important;
        min-width: 20px !important;
        border-radius: 0 !important;
    }

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

    .right-buttons {
        float: right;
        height: 34px;
    }

    .list-md .item-input:last-child {
        border-bottom: 0;
        -webkit-box-shadow: inset 0 0 0 0 !important;
        box-shadow: inset 0 0 0 0 !important;
    }

    .available {
        padding-left: 10px;
    }

    .no-candidates {
        text-align: center;
        font-size: 2rem;
    }

    .election-progress .item-inner, .election-progress .label {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .election-progress .col {
        padding-right: 0;
        padding-left: 0;
    }

    .mini-loader {
        margin: 40px auto;
    }

    a {
        cursor: pointer;
    }

    .warning {
        color: orange !important;
    }

    .revote-card {
        margin-left: 10px;
        width: calc(100% - 20px);
    }

    .noPadding, .noPadding .item-inner, .noPadding .item-inner .label {
        padding: 0;
        padding-right: 0 !important;
        margin-right: 0;
    }

    h2 {
        margin-top: 0 !important;
    }

}
