<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "VOTE.TITLE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">

    <ion-item no-lines>
        <ion-segment [(ngModel)]="display_segment" color="primary" (ngModelChange)="changeTab($event)">
            <ion-segment-button value="vote">
                {{ "VOTE.SEGMENT_VOTE" | translate}}
            </ion-segment-button>
            <ion-segment-button value="history">
                {{ "VOTE.SEGMENT_HISTORY" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-item>

    <ion-row>
        <ion-col>
            <p align="center">
                {{"VOTE.INFORMATION" | translate}}
                <a (click)="checkElection()">{{electionURL()}}</a>
            </p>
        </ion-col>
    </ion-row>

    <div *ngIf="display_segment == 'vote'">

        <div *ngIf="loadingElectionInfo" class="mini-loader"></div>

        <div *ngIf="!loadingElectionInfo && updateRequired">
            <ion-col>
                <p class="no-candidates" [translate]="'VOTE.UPDATE_REQUIRED'" [translateParams]="{requiredVersion: requiredVersion}"></p>
            </ion-col>
        </div>

        <ion-row *ngIf="!loadingElectionInfo && !updateRequired && (!earlybirdInfo || !earlybirdInfo.candidates || earlybirdInfo.candidates.length == 0 || (!earlybirdInfo.voteEnabled && !earlybirdInfo.revoteEnabled))">
            <ion-col>
                <p class="no-candidates">{{"VOTE.NO_ELECTION" | translate}}</p>
            </ion-col>
        </ion-row>

        <div *ngIf="!loadingElectionInfo && !updateRequired && earlybirdInfo && earlybirdInfo.candidates && earlybirdInfo.candidates.length > 0 && earlybirdInfo.revoteEnabled">
            <h1 class="center">
                <span *ngIf="earlybirdInfo && earlybirdInfo.currentPeriod" [translate]="'VOTE.ELECTION_AND_ROUND'" [translateParams]="{election: earlybirdInfo.currentPeriod, round: 'A'}"></span> 
            </h1>
            <ion-item class="election-progress noPadding">
                <ion-row>
                    <ion-col>
                        <p>{{"VOTE.START" | translate}}: <br *ngIf="platform.is('mobile')">
                            {{currentRevoteTimestamp*1000 | date : 'medium'}}</p>
                    </ion-col>
                    <ion-col>
                        <p class="right">{{"VOTE.END"|translate}}:<br *ngIf="platform.is('mobile')">
                            ~{{earlybirdInfo.revoteEndTime*1000 | date : 'medium'}}</p>
                    </ion-col>
                </ion-row>
                <progress-bar [progress]="electionProgressRevote || 0"></progress-bar>
            </ion-item>
            <br>
            <h2 class="center" *ngIf="revote_outputs && revote_outputs.length == 0 && revote_already_used_outputs && revote_already_used_outputs.length == 0">{{'VOTE.NO_REVOTE'|translate}}</h2>
            <ion-item no-lines class="noPadding">
                <h2 class="center" *ngIf="revote_outputs && revote_outputs.length > 0">{{'VOTE.VOTES_TO_USE_AGAIN'|translate}}</h2>
                <ion-card *ngFor="let output of revote_outputs" class="manual-copy display-overflow revote-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-row>
                                    <ion-col col-md-8>
                                        <ion-item class="summaryTxType">
                                            <ion-row>
                                                <ion-col col-12 col-sm-12 col-md-6>{{'VOTE.VOTE_FOR_DELEGATE' |
                                                    translate}}:</ion-col>
                                                <ion-col col-12 col-sm-12 col-md-6>
                                                    {{output.voteAvatar}}
                                                    <div>{{output.attenuation_model_param.lock_quantity | format :
                                                        output.attachment.decimals}} DNA</div>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col>
                                                    <div *ngIf="rewards[output.hash]" class="default-color fee">{{'VOTE.REWARD'
                                                        | translate}}: {{rewards[output.hash]}} DNA</div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-md-4 class="right">
                                        <button class="ion-item" ion-button icon-left (click)="output.show = !output.show">
                                            <ion-icon name="ribbon"></ion-icon>
                                            {{'VOTE.ELECT_AGAIN_BUTTON'|translate}}
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <div [@expandCollapse]="output.show" *ngIf="output.show">
                            <ion-row>
                                <ion-col>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item>
                                                <ion-label>{{"VOTE.SELECT_PERIOD"|translate}}</ion-label>
                                                <ion-select [(ngModel)]="locked_until" name="locked_until" multiple="false"
                                                    (ngModelChange)="durationChange($event)" okText="{{'OK'|translate}}"
                                                    cancelText="{{'CANCEL'|translate}}">
                                                    <ion-option *ngFor="let period of unlockPeriods; let i = index;"
                                                        value="{{unlockPeriods[i]}}">
                                                        <span *ngIf="i === 0" [translate]="'VOTE.SELECT_PERIOD_OPTION_SINGULAR'"></span>
                                                        <span *ngIf="i !== 0" [translate]="'VOTE.SELECT_PERIOD_OPTION_PLURAL'"
                                                            [translateParams]="{election: i+1}"></span>
                                                    </ion-option>
                                                </ion-select>
                                            </ion-item>
                                            <ion-item class="info-input" no-lines>
                                                <span [translate]="'VOTE.DURATION_ESTIMATION'" [translateParams]="{blocktime: blocktime, duration_days: duration_days, duration_hours: duration_hours, unlock_time: unlock_time | date : 'medium'}"></span>
                                            </ion-item>
                                            <ion-item [ngClass]="{'error-border':!validRevoteQuantity(output), 'valid-border':validRevoteQuantity(output)}">
                                                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                                                <ion-input name="quantity" type="number" min="0" [(ngModel)]="output.newVoteAmount"
                                                    required></ion-input>
                                            </ion-item>
                                            <ion-item no-lines *ngIf="output.newVoteAmountWarningNotMax" class="warning">{{'VOTE.REVOTE_NOT_MAX_POSSIBLE'
                                                | translate}}</ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row class="padding-bottom">
                                        <ion-col></ion-col>
                                        <ion-col>
                                            <button type="submit" ion-button full icon-left [disabled]="!validRevoteQuantity(output)"
                                                (click)="sendVoteAgain(output)" color="secondary">
                                                <ion-icon disabled="checked" name="cog"></ion-icon>
                                                {{'BUTTON.NEXT'|translate}}
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-grid>
                </ion-card>
                <br>
                <h2 class="center" *ngIf="revote_already_used_outputs && revote_already_used_outputs.length > 0">{{'VOTE.VOTES_ALREADY_USED_AGAIN'|translate}}</h2>
                <ion-card *ngFor="let output of revote_already_used_outputs" class="manual-copy display-overflow revote-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-row>
                                    <ion-col col-md-8>
                                        <ion-item class="summaryTxType">
                                            <ion-row>
                                                <ion-col col-12 col-sm-12 col-md-6>{{'VOTE.VOTE_FOR_DELEGATE' |
                                                    translate}}:</ion-col>
                                                <ion-col col-12 col-sm-12 col-md-6>
                                                    {{output.voteAvatar}}
                                                    <div>{{output.attenuation_model_param.lock_quantity | format :
                                                        output.attachment.decimals}} DNA</div>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col>
                                                    <div *ngIf="rewards[output.hash]" class="default-color fee">{{'VOTE.REWARD'
                                                        | translate}}: {{rewards[output.hash]}} DNA</div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-item>
        </div>

        <div *ngIf="!loadingElectionInfo && !updateRequired && earlybirdInfo && earlybirdInfo.candidates && earlybirdInfo.candidates.length > 0 && earlybirdInfo.voteEnabled">
            <p align="center" *ngIf="etpBalance<fee/100000000" class="wrong-input">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
            <h1 class="center">
                <span *ngIf="earlybirdInfo && earlybirdInfo.currentPeriod" [translate]="'VOTE.ELECTION_AND_ROUND'" [translateParams]="{election: earlybirdInfo.currentPeriod, round: 'B'}"></span> 
            </h1>
            <ion-row>
                <ion-col>
                    <p class="available">{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{showBalance
                        | format : decimals}} {{selectedAsset}}</p>
                </ion-col>
                <ion-col>
                    <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{fee | format : 8}} ETP</p>
                </ion-col>
            </ion-row>

            <form #sendForm="ngForm" style="padding-bottom: 0;">
                <ion-list style="padding-bottom: 0;">
                    <ion-item class="election-progress">
                        <ion-row>
                            <ion-col>
                                <p>{{"VOTE.START" | translate}}: <br *ngIf="platform.is('mobile')">
                                    {{currentVoteTimestamp*1000 | date : 'medium'}}</p>
                            </ion-col>
                            <ion-col>
                                <p class="right">{{"VOTE.END"|translate}}:<br *ngIf="platform.is('mobile')">
                                    ~{{earlybirdInfo.voteEndTime*1000 | date : 'medium'}}</p>
                            </ion-col>
                        </ion-row>
                        <progress-bar [progress]="electionProgressVote || 0"></progress-bar>
                    </ion-item>
                    <br>
                    <ion-item [ngClass]="{'error-border':!candidate}">
                        <ion-label>{{"VOTE.SELECT_DELEGATE"|translate}}</ion-label>
                        <ion-select [(ngModel)]="candidate" name="candidate" multiple="false" okText="{{'OK'|translate}}"
                            cancelText="{{'CANCEL'|translate}}">
                            <ng-container *ngFor="let candidate of earlybirdInfo.candidates">
                                <ion-option value="{{candidate}}">{{candidate}}</ion-option>
                            </ng-container>
                        </ion-select>
                    </ion-item>

                    <br>
                    <ion-item>
                        <ion-label>{{"VOTE.SELECT_PERIOD"|translate}}</ion-label>
                        <ion-select [(ngModel)]="locked_until" name="locked_until" multiple="false" (ngModelChange)="durationChange($event)"
                            okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                            <ion-option *ngFor="let period of unlockPeriods; let i = index;" value="{{unlockPeriods[i]}}">
                                <span *ngIf="i === 0" [translate]="'VOTE.SELECT_PERIOD_OPTION_SINGULAR'"></span>
                                <span *ngIf="i !== 0" [translate]="'VOTE.SELECT_PERIOD_OPTION_PLURAL'"
                                    [translateParams]="{election: i+1}"></span>
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="info-input" no-lines>
                        <span [translate]="'VOTE.DURATION_ESTIMATION'" [translateParams]="{blocktime: blocktime, duration_days: duration_days, duration_hours: duration_hours, unlock_time: unlock_time | date : 'medium'}"></span>
                    </ion-item>

                    <ion-item [ngClass]="{'error-border':!validQuantity(quantity)}">
                        <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                        <ion-input #quantityInput name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
                        <button type="button" *ngIf="etpBalance>10000" id="sendAll" ion-button item-right (click)="sendAll()">
                            {{"LOCK_ALL_BUTTON"|translate}}
                        </button>
                    </ion-item>
                    <ion-item *ngIf="countDecimals(quantity) > 0" no-lines class="wrong-input">{{"SEND.TOO_MANY_DECIMALS"
                        |
                        translate}}</ion-item>
                    <br>
                    <ion-item [ngClass]="{'error-border':!validFromAddress(sendFrom)}">
                        <ion-label>{{"SELECT_FROM_ADDRESS"|translate}}</ion-label>
                        <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" (ngModelChange)="onFromAddressChange($event)"
                            okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                            <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                            <ng-container *ngFor="let addressbalance of addressbalances">
                                <ion-option *ngIf="addressbalance.balance>0" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                                    - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                            </ng-container>
                        </ion-select>
                    </ion-item>
                    <ion-item *ngIf="!validFromAddress(sendFrom)" no-lines class="wrong-input">{{"TRANSFER.FROM_ADDRESS_NO_ETP"
                        | translate}}</ion-item>
                    <br>
                    <ion-item class="toggle-input">
                        <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                        <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
                    </ion-item>
                    <div *ngIf="showAdvanced">
                        <ion-item no-lines>
                            <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                            <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                        </ion-item>
                        <ion-item>
                            <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee"
                                (ionChange)="updateRange()">
                                <ion-label range-left>{{10000 | format : 8}}</ion-label>
                                <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                            </ion-range>
                        </ion-item>
                        <ion-item [ngClass]="{'error-border':!validMessageLength(message), 'valid-border': message.length > 0 && validMessageLength(message)}">
                            <ion-label floating>{{"MESSAGE" | translate}}</ion-label>
                            <ion-input name="message" [(ngModel)]="message"></ion-input>
                        </ion-item>
                        <div no-lines class="advice">{{"HELP.MESSAGE" | translate}}</div>
                        <ion-item *ngIf="!validMessageLength(message)" no-lines class="wrong-input">{{"MESSAGE_TOO_LONG"
                            | translate}}</ion-item>
                        <br>
                        <ion-item>
                            <ion-label>{{"SELECT_CHANGE_ADDRESS"|translate}}</ion-label>
                            <ion-select [(ngModel)]="changeAddress" name="changeaddress" okText="{{'OK'|translate}}"
                                cancelText="{{'CANCEL'|translate}}">
                                <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                                <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                                    - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <br>
                    </div>
                </ion-list>
                <ion-row class="padding-bottom">
                    <ion-col>
                        <button type="submit" ion-button full icon-left [disabled]="!sendForm.form.valid||!candidate||!validQuantity(quantity)||!validMessageLength(message)||!validFromAddress(sendFrom)"
                            (click)="send()" color="secondary">
                            <ion-icon disabled="checked" name="cog"></ion-icon>
                            {{'BUTTON.NEXT'|translate}}
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                            <ion-icon name="close"></ion-icon>
                            {{'CANCEL'|translate}}
                        </button>
                    </ion-col>
                </ion-row>
            </form>
        </div>

    </div>

    <div *ngIf="display_segment == 'history'">
        <h2 class="center" *ngIf="frozen_outputs_locked && frozen_outputs_locked.length > 0">{{"VOTE.HISTORY_LOCKED" |
            translate}}</h2>
        <vote-item *ngFor="let output of frozen_outputs_locked" [output]="output" [height]="height" [blocktime]="blocktime"
            [reward]="rewards[output.hash]" [icon]="'assets/icon/DNA.png'"></vote-item>

        <ion-row [hidden]="!frozen_outputs_locked.length">
            <ion-col>
                <p align="center">{{"HISTORY.UNLOCK_APPROXIMATION_INFORMATION" | translate}}</p>
            </ion-col>
        </ion-row>

        <h2 class="center" *ngIf="frozen_outputs_unlocked && frozen_outputs_unlocked.length > 0">{{"VOTE.HISTORY_UNLOCKED"|translate}}</h2>
        <vote-item *ngFor="let output of frozen_outputs_unlocked" [output]="output" [height]="height" [blocktime]="blocktime"
            [reward]="rewards[output.hash]" [icon]="'assets/icon/DNA.png'"></vote-item>
    </div>

</ion-content>