<ion-header>
    <ion-navbar>
        <ion-title>{{"IMPORT_WALLET"|translate}} Mobile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2 class="pageHeadline">{{"DISCLAIMER.HEADLINE"|translate}}</h2>
    <p>{{"DISCLAIMER.INTRODUCTION"|translate}}</p>
    <p>{{"DISCLAIMER.LIST_INTRODUCTION"|translate}}</p>
    <ol>
        <li>{{"DISCLAIMER.LIST_ITEM_1"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_2"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_3"|translate}}</li>
        <li>{{"DISCLAIMER.LIST_ITEM_4"|translate}}</li>
    </ol>
    <ion-item>
        <ion-label text-wrap>{{"DISCLAIMER.READ_AND_AGREE"|translate}}</ion-label>
        <ion-checkbox [(ngModel)]="disclaimer_agreed"></ion-checkbox>
    </ion-item>
    <br>
    <form *ngIf="disclaimer_agreed" #importForm="ngForm" no-lines class="buttons-container">
        <div *ngIf="!qrCodeLoaded">
            <ion-item class="center-text" no-lines>
                <h3>{{"IMPORT.SCAN_QRCODE_TEXT"|translate}}</h3>
            </ion-item>
            <ion-row>
                <button ion-button full icon-left class="large-btn" id="open-wallet-button" color="secondary"
                    (click)="scan()">
                    <ion-icon name="qr-scanner"></ion-icon>
                    {{"IMPORT.SCAN_QRCODE_BUTTON"|translate}}
                </button>
            </ion-row>
            <br>
            <ion-row class="browser-button">
                <button ion-button full icon-left class="large-btn" id="open-howto-mobile-button" color="primary"
                    (click)="howToMobile()">
                    <ion-icon name="information-circle"></ion-icon>
                    {{"HOW_TO_IMPORT_WALLET_MOBILE"|translate}}
                </button>
            </ion-row>
        </div>
        <div *ngIf="qrCodeLoaded">
            <ion-row>
                <ion-icon name="md-checkmark-circle" class="verifiedQRCode"></ion-icon>
            </ion-row>
            <ion-row>
                <ion-item class="center-psw">
                    <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                    <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
                </ion-item>
            </ion-row>
            <br>
            <ion-row>
                <button ion-button full [disabled]="!passwordValid(password)" (click)="decrypt(password,seed)"
                    color="primary">
                    {{"IMPORT_WALLET" | translate}}
                </button>
            </ion-row>
        </div>
    </form>
    <ion-row *ngIf="!disclaimer_agreed" class="buttons-container">
    </ion-row>
    <br>
    <br>
</ion-content>