page-import-wallet-mobile {

    .button {
        margin: auto;
    }

    .center-text {
        text-align: center;
    }

    .my-button-class {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    }

    .buttons-container {
        height: 170px;
    }

    .verifiedQRCode {
        color: color($colors, secondary);
        font-size: 50px;
        margin-left: calc(50% - 25px);
    }

}
