page-mit-details {
    h3{
        margin-top: 0 !important;
    }

    .asset-container {
       max-width: 100%;
    }

    @media (min-width: 1310px) {
        .asset-container {
            max-width: 50%;
        }
     }


    .card-block {
      height: 120px;
    }

    h1 {
        min-width: 400px;
    }

    h2 {
        margin-left: 20px;
    }

    .check-explorer {
        float: right;
    }

    .mit-content {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}
