page-import-mnemonic {
    .item-md.item-input.error-border .item-inner, .item-md.item-select.error-border .item-inner{
        border-bottom-color: red !important;
        -webkit-box-shadow: inset 0 -1px 0 0 red !important;
        box-shadow: red !important;
    }

    .item-md.item-input.valid-border .item-inner{
        border-bottom-color: #32db64 !important;
        -webkit-box-shadow: inset 0 -1px 0 0 #32db64 !important;
        box-shadow: inset 0 -1px 0 0 #32db64 !important;
    }

    .button {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .center-text {
        text-align: center;
        margin: auto;
    }

    .wallet-create {
        margin-bottom: 50px;
    }

    .info {
        margin-top: 20px !important;
    }

    .textbox {
        font-size: 1.3em;
    }

    .clear {
        transition: all;
        cursor: pointer;
    }

    .clear:active {
        color: black;
    }

    .inputWords {
        padding: 0 10px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .valid {
        color: #32db64;
    }

    .invalid {
        color: red;
    }

}
