page-import-mnemonic {

    .button {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .center-text {
        text-align: center;
        margin: auto;
    }

    .wallet-create {
        margin-bottom: 50px;
    }

    .info {
        margin-top: 20px !important;
    }

    .textareaCard {
        font-size: 1.3em;
    }

    .clear {
        transition: all;
        cursor: pointer;
    }

    .clear:active {
        color: black;
    }

}
