<ion-header>
    <ion-navbar>
        <ion-title>{{"PLUGIN_DETAILS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form>
        <h4>{{"PLUGIN_DETAILS.NAME" | translate}}:</h4>
        <ion-item>
            <ion-label class="display-overflow">
                {{plugin.name}}
            </ion-label>
        </ion-item>

        <h4>{{"PLUGIN_DETAILS.DESCRIPTION" | translate}}:</h4>
        <ion-item>
            <ion-label class="display-overflow">
                {{plugin.description}}
            </ion-label>
        </ion-item>

        <h4>{{"PLUGIN_DETAILS.AUTHOR" | translate}}:</h4>
        <ion-item>
            <ion-label class="display-overflow">
                {{plugin.author}}
            </ion-label>
        </ion-item>

        <h4>{{"PLUGIN_DETAILS.PERMISSIONS" | translate}}:</h4>
        <ion-item *ngFor="let permission of plugin.config.permissions">
            -
            <ion-label class="display-overflow" *ngIf="permission == 'create-mit'">{{"PLUGIN.PERMISSION_CREATE_MIT" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'network'">{{"PLUGIN.PERMISSION_NETWORK" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'avatars'">{{"PLUGIN.PERMISSION_AVATARS" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'sign'">{{"PLUGIN.PERMISSION_SIGN" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'verify'">{{"PLUGIN.PERMISSION_VERIFY" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'unlock'">{{"PLUGIN.PERMISSION_UNLOCK" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'addresses'">{{"PLUGIN.PERMISSION_ADDRESSES" | translate}}</ion-label>
            <ion-label class="display-overflow" *ngIf="permission == 'broadcast'">{{"PLUGIN.PERMISSION_BROADCAST" | translate}}</ion-label>
        </ion-item>

        <ion-list>

            <ion-item *ngIf="!installed" class="permissions-checkbox">
                <ion-label id="permissions-agree-label" text-wrap>{{"PLUGIN.GIVE_PERMISSION"|translate}}</ion-label>
                <ion-checkbox [(ngModel)]="permissions_agreed" name="permissions-agree" id="permissions-agree"></ion-checkbox>
            </ion-item>

            <ion-row *ngIf="!installed" class="buttons-row">
                <ion-col>
                    <button type="submit" ion-button full icon-left (click)="addPlugin()" [disabled]="!permissions_agreed" color="secondary">
                        <ion-icon name="add"></ion-icon>
                        {{"ADD" | translate}}
                    </button>
                </ion-col>
                <br>
                <ion-col>
                    <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                        <ion-icon name="close"></ion-icon>
                        {{'CANCEL'|translate}}
                    </button>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="installed" class="buttons-row">
                <ion-col col-6>
                    <button ion-button color="danger" full item-right icon-left (click)="removePlugin(plugin.name)">
                        <ion-icon name="close"></ion-icon>
                        {{'PLUGIN.REMOVE'|translate}}
                    </button>
                </ion-col>
            </ion-row>

        </ion-list>

    </form>
</ion-content>
