page-plugin-details {
    .pageHeadline {
          padding-top: 30px;
          padding-bottom: 20px;
    }

    h4 {
        font-size: 1.8rem;
        padding-top: 30px;
    }

    .buttons-row {
        margin-top: 30px;
    }

    .permissions-checkbox {
        margin-top: 40px;
    }
}
