page-asset-transfer {
    .item-md.item-input.error-border .item-inner{
      border-bottom-color: red !important;
      -webkit-box-shadow: inset 0 -1px 0 0 red !important;
      box-shadow: red !important;
    }

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

}
