page-asset-transfer {
    .error-border,
    ion-item.error-border .item-inner{
        border-bottom-color: red !important;
    }

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

}
