page-asset-transfer {

    .right {
        text-align: right;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #scanButton {
        height: 34px;
        width: 34px;
        margin-top: 20px;
    }

    #sendAll {
        height: 34px;
        margin-top: 20px;
    }

    .right-buttons {
        float: right;
        height: 34px;
    }

    .list-md .item-input:last-child {
        border-bottom: 0;
        -webkit-box-shadow: inset 0 0 0 0 !important;
        box-shadow: inset 0 0 0 0 !important;
    }

    .inline {
        display: inline;
    }

    .recipient-title {
        margin-bottom: 0;
        padding-left: 16px;
        padding-top: 10px;
    }

    .recipient-title .label-md {
        margin: 0;
    }

    .card-block {
        padding: 10px;
    }

    .remove-button {
        float: right;
        margin: 0;
    }

    .card-block .col {
        padding: 0;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        font-weight: 500;
        color: white;
        background-color: color($colors, secondary);
        margin: auto;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 2.5px;
        display: block;
        color: #fff;
        font-size: 1em;
        transition: all .4s;
        cursor: pointer;
        text-transform: uppercase;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: #4af47d;
    }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

    .available {
        padding-left: 10px;
    }

    .fiat {
        color: grey;
        height: 28px;
        min-height: 28px;
    }

}
