<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{selectedAsset}} {{ "TRANSFER" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">
    <p align="center" *ngIf="etpBalance<10000">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
    <ion-row>
        <ion-col>
            <p>{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{format(showBalance,decimals)}} {{selectedAsset}}</p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{10000/100000000}} ETP</p>
        </ion-col>
    </ion-row>
    <form #sendForm="ngForm" style="padding-bottom: 0;">
        <ion-list style="padding-bottom: 0;">
            <ion-item [ngClass]="{'error-border':!validrecipient(recipient_address)}">
                <ion-label color="primary" floating>{{"RECIPIENT_ADDRESS"|translate}}</ion-label>
                <ion-input name="recipient_address" [(ngModel)]="recipient_address" (ngModelChange)="recipientChanged($event)" required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validQuantity(quantity)}">
                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                <ion-input name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border': false}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br><br>
            <ion-item>
                <ion-label>{{"SELECT_FROM_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="sendFrom" name="sendfrom" multiple="false" (ngModelChange)="onFromAddressChange($event)" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                    <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                    <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.address}} - {{format(addressbalance.balance, decimals)}} {{selectedAsset}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>
        </ion-list>
        <br>
        <div *ngIf="showAdvanced">
            <ion-list>
                <ion-item>
                    <ion-label>{{"SELECT_CHANGE_ADDRESS"|translate}}</ion-label>
                    <ion-select [(ngModel)]="changeAddress" name="changeaddress" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                        <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                        <ion-option *ngFor="let address of addresses" value="{{address}}">{{address}}</ion-option>
                    </ion-select>
                </ion-item>
                <button ion-button full [disabled]="!sendForm.form.valid||!validQuantity(quantity)||!validrecipient(recipient_address)" (click)="preview()" color="primary">
                    {{"PREVIEW" | translate}}
        </button>
                <div *ngIf="rawtx">
                    <br><br>
                    <h2>{{"TRANSACTION_PREVIEW_TEXT"|translate}}</h2>
                    <p>{{rawtx}}</p>
                    <br><br>
                </div>
            </ion-list>
        </div>
        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full icon-left [disabled]="!sendForm.form.valid||!validQuantity(quantity)||!validrecipient(recipient_address)" (click)="send()" color="secondary">
                    <ion-icon disabled="checked" name="send"></ion-icon>
                    {{"SEND" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                <ion-icon name="cancel"></ion-icon>
                {{'CANCEL'|translate}}
            </button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
