<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "MULTISIGNATURE_TRANSFER" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="padding-bottom: 0;">

    <ion-item no-lines>
        <ion-segment [(ngModel)]="type" color="primary">
            <ion-segment-button value="create">
                {{ "MULTISIGNATURE_TRANSFER.CREATE" | translate}}
            </ion-segment-button>
            <ion-segment-button value="sign">
                {{ "MULTISIGNATURE_TRANSFER.SIGN" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-item>

    <p align="center" *ngIf="etpBalance<fee/100000000 && type == 'create'">{{"NOTICE_TRANSACTION_FEE_UNCOVERED"|translate}}</p>
    <ion-row *ngIf="type == 'create'">
        <ion-col>
            <p>{{"AVAILABLE_BALANCE" | translate}}: <br *ngIf="platform.is('mobile')">{{showBalance | format :
                decimals}} {{selectedAsset}}</p>
        </ion-col>
        <ion-col>
            <p class="right">{{"FEE"|translate}}:<br *ngIf="platform.is('mobile')"> {{fee | format : 8}} ETP</p>
        </ion-col>
    </ion-row>

    <form *ngIf="type == 'create'" #sendForm="ngForm" class="padding-bottom">
        <ion-list style="padding-bottom: 0;">

            <ion-item class="toggle-input">
                <ion-label>{{"SEND_TO_AVATAR"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="sendToAvatar" name="sendToAvatar" checked="false"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="sendToAvatar" [ngClass]="{'error-border':!validAvatar(recipient_avatar)}">
                <ion-label color="primary" floating>{{"RECIPIENT_AVATAR"|translate}}</ion-label>
                <ion-input #recipientAvatarInput name="recipient_avatar" [(ngModel)]="recipient_avatar" (ngModelChange)="recipientAvatarChanged($event)"
                    required></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validrecipient(recipient_address), 'valid-border':validrecipient(recipient_address)}">
                <ion-label color="primary" floating>{{"RECIPIENT_ADDRESS"|translate}}</ion-label>
                <ion-input #recipientAddressInput name="recipient_address" [(ngModel)]="recipient_address"
                    (ngModelChange)="recipientChanged($event)" [disabled]="sendToAvatar" required></ion-input>
                <button id="scanButton" *ngIf="isApp" ion-button item-right (click)="scan()">
                    <ion-icon name="qr-scanner"></ion-icon>
                </button>
            </ion-item>
            <ion-item [ngClass]="{'error-border':!validQuantity(quantity)}">
                <ion-label color="primary" floating>{{"AMOUNT" | translate}}</ion-label>
                <ion-input #quantityInput name="quantity" type="number" min="0" [(ngModel)]="quantity" required></ion-input>
                <button type="button" *ngIf="etpBalance>10000" id="sendAll" ion-button item-right (click)="sendAll()">
                    {{"SEND_ALL_BUTTON"|translate}}
                </button>
            </ion-item>
            <ion-item *ngIf="countDecimals(quantity) > decimals" no-lines class="wrong-input">{{"SEND.TOO_MANY_DECIMALS" | translate}}</ion-item>
            <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
                <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
                <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>{{"MULTISIG_TRANSFER.FROM_ADDRESS"|translate}}</ion-label>
                <ion-select [(ngModel)]="sendFrom" name="sendfrom" disabled>
                    <ion-option *ngFor="let addressbalance of addressbalances" value="{{addressbalance.address}}">{{addressbalance.identifier}}
                        - {{addressbalance.balance | format : decimals}} {{selectedAsset}}</ion-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item class="toggle-input">
                <ion-label>{{"SHOW_ADVANCED"|translate}}</ion-label>
                <ion-toggle [(ngModel)]="showAdvanced" name="showAdvanced" checked="false"></ion-toggle>
            </ion-item>
            <div *ngIf="showAdvanced">
                <ion-item no-lines>
                    <ion-label color="primary">{{"FEE" | translate}}</ion-label>
                    <ion-badge item-end color="primary">{{fee | format : 8}} ETP</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-range min="10000" max="10000000" step="10000" color="primary" [(ngModel)]="fee" name="fee" (ionChange)="updateRange()">
                        <ion-label range-left>{{10000 | format : 8}}</ion-label>
                        <ion-label range-right>{{10000000 | format : 8}}</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item [ngClass]="{'error-border':!validMessageLength(message), 'valid-border': message.length > 0 && validMessageLength(message)}">
                    <ion-label floating>{{"MESSAGE" | translate}}</ion-label>
                    <ion-input name="message" [(ngModel)]="message"></ion-input>
                </ion-item>
                <div no-lines class="advice">{{"HELP.MESSAGE" | translate}}</div>
                <ion-item *ngIf="!validMessageLength(message)" no-lines class="wrong-input">{{"MESSAGE_TOO_LONG" |
                    translate}}</ion-item>
                <br>
                <ion-item>
                    <ion-label>{{"SELECT_CHANGE_ADDRESS"|translate}}</ion-label>
                    <ion-select [(ngModel)]="changeAddress" name="changeaddress" okText="{{'OK'|translate}}" cancelText="{{'CANCEL'|translate}}">
                        <ion-option selected="true" value="auto">{{"AUTO"| translate}}</ion-option>
                        <ion-option *ngFor="let address of addresses" value="{{address}}">{{address}}</ion-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-list>
        <ion-row class="padding-bottom">
            <ion-col col-12 col-sm-6>
                <button type="submit" ion-button full icon-left [disabled]="!sendForm.form.valid||!validrecipient(recipient_address)||!validQuantity(quantity)||!validPassword(passphrase)||!validMessageLength(message)"
                    (click)="preview()" color="secondary">
                    <ion-icon disabled="checked" name="settings"></ion-icon>
                    {{"MULTISIGNATURE.GENERATE" | translate}}
                </button>
            </ion-col>
            <ion-col col-12 col-sm-6>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

        <ion-card-content *ngIf="rawtx">
            <h4>{{"MULTISIGNATURE_TRANSFER.CREATED_TX"|translate}}:</h4>
            <div no-lines class="advice">{{"MULTISIGNATURE_TRANSFER.CREATED_TX_DESCRIPTION"|translate}}</div>
            <textarea fz-elastic ion-input full type="text" #copyCreatedTx value="{{rawtx}}" readonly>{{rawtx}}</textarea>
            <button col-sm-12 col-md-6 col-lg-3 ion-button full item-right icon-left [ngxClipboard]="copyCreatedTx">
                <ion-icon name="copy"></ion-icon>
                {{'COPY'|translate}}
            </button>
        </ion-card-content>
    </form>


    <form *ngIf="type == 'sign'" #sendForm="ngForm" class="padding-bottom">

        <ion-list>
            <ion-card-content>
                <h4>{{"MULTISIGNATURE_TRANSFER.TX_TO_SIGN"|translate}}:</h4>
                <!--textarea fz-elastic ion-input full type="text" value="{{input}}" name="input" style="">{{input}}</textarea-->
                <ion-textarea fz-elastic [(ngModel)]="input" name="input"></ion-textarea>
            </ion-card-content>
        </ion-list>
        <ion-row>
            <ion-col>
                <button type="submit" ion-button full icon-left (click)="decode(input)" [disabled]="!input" color="secondary">
                    <ion-icon disabled="checked" name="cog"></ion-icon>
                    {{"MULTISIGNATURE_TRANSFER.DECODE" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>