<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "MULTISIGNATURE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row>
        <h3>{{"MESSAGE.WARNING_MULTISIG_TITLE" | translate}}</h3>
        <p>{{"MESSAGE.WARNING_MULTISIG_MESSAGE" | translate}}</p>

        <p>{{"MULTISIGNATURE.INFORMATION" | translate}}</p>
        <p>{{"MULTISIGNATURE.INFORMATION2" | translate}}</p>
    </ion-row>

    <ion-card class="avatar-card" *ngFor="let multisig of multisigs">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-row>
                            <ion-col>
                                <h1 class="address display-overflow">
                                    <span class="address-text">{{multisig.a}}</span>
                                    <button type="button" class="qrcode-btn" id="qrcode" ion-button item-right (click)="show(multisig.a)">
                                        <img [src]="'assets/images/qrcode.png'">
                                    </button>
                                </h1>
                            </ion-col>

                        </ion-row>
                        <ion-row class="asset-balance">
                            <ion-col>
                                <div class="asset-balance-text">{{"ACCOUNT.AVAILABLE" | translate}}:
                                    <span *ngIf="addressBalancesObject[multisig.a] && addressBalancesObject[multisig.a].ETP">{{addressBalancesObject[multisig.a].ETP.available
                                        | format : addressBalancesObject[multisig.a].ETP.decimals}} ETP</span>
                                    <span *ngIf="!addressBalancesObject[multisig.a] || !addressBalancesObject[multisig.a].ETP">0
                                        ETP</span>
                                </div>
                            </ion-col>
                            <ion-col>
                                <button class="right-buttons" ion-button clear icon-left color="danger" icon-left
                                    (click)="gotoMultisigTransfer('ETP', multisig.a)">
                                    <ion-icon name="send"></ion-icon>
                                    {{"SEND_MULTISIG" | translate}}
                                </button>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="addressbalances[multisig.a]">
                            <ion-row class="asset-balance" *ngFor="let mst of addressbalances[multisig.a]">
                                <ion-col>
                                    <div class="asset-balance-text">{{mst.available | format : mst.decimals}}
                                        {{mst.name}}</div>
                                </ion-col>
                                <ion-col>
                                    <button class="right-buttons" ion-button clear icon-left color="danger" icon-left
                                        (click)="gotoMultisigTransfer(mst.name, multisig.a)">
                                        <ion-icon name="send"></ion-icon>
                                        {{"SEND" | translate}} {{mst.name}}
                                    </button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-item>
                    <h2 class="certificates-title">
                        <ion-icon name="paper"></ion-icon> {{"MULTISIGNATURE.DETAILS" | translate}}:
                    </h2>
                    <ion-row>
                        <ion-col>{{"MULTISIGNATURE.NBR_PERSON" | translate}}</ion-col>
                        <ion-col>{{multisig.n}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{"MULTISIGNATURE.SIGN_REQ" | translate}}</ion-col>
                        <ion-col>{{multisig.m}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{"MULTISIGNATURE.PUBLIC_KEYS" | translate}}</ion-col>
                        <ion-col>
                            <div *ngFor="let publicKey of multisig.k" class="public-key manual-copy display-overflow"
                                [ngClass]="{'self-publickey': publicKey == multisig.s}">{{publicKey}}</div>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-row>
        </ion-grid>
    </ion-card>
    <button ion-button icon-left color="primary" icon-left (click)="addAddress()" class="add-multisig-btn">
        <ion-icon name="add"></ion-icon>
        {{"MULTISIGNATURE.ADD_ADDRESS" | translate}}
    </button>
</ion-content>