page-multisignature {

    h3 {
        margin-top: 20px !important;
    }

    .no-address {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .right-buttons {
        float: right;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .multisig-logo {
        margin-top: 6px;
    }

    textarea{
        width:100%;
        border: 0px !important;
        resize: none;
        font-size: 1.8rem;
    }

    .address {
        font-size: 2.4rem !important;
        word-break: break-all;
        display: inline-block;
    }

    @media (max-width: 1310px) {
        .address {
            font-size: 2rem !important;
        }
    }

    @media (max-width: 600px) {
        .address {
            font-size: 1.6rem !important;
        }
    }

    .self-publickey {
        font-weight: bold;
    }

    .asset-balance-text {
        padding-top: 12px;
    }

    .asset-balance button {
        margin: 0;
    }

    .public-key {
        margin-bottom: 8px;
    }

    .add-multisig-btn {
        margin-bottom: 20px;
    }

    .address-text {
        margin-right: 10px;
    }

    .qrcode-btn {
        padding: 0px;
        height: auto;
        display: inline-block;
        top: -8px;
    }

    .qrcode-btn img {
        height: 28px;
        width: 28px;
    }

    .qrcode-btn .button-inner {
        height: auto;
    }

}
