<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title translate="ACCOUNT.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <etp-card *ngIf="balances" [tickers]="tickers && tickers.ETP" [balance]="balances.ETP" [base]="base"></etp-card>
  <h2>MST</h2>
  <mst-card *ngFor="let symbol of MSTSymbols" [symbol]="symbol" [balance]="balances.MST[symbol]"></mst-card>
  <!-- <ion-card *ngFor="let balance of Object.values({foo: 'bar'})">{{balance | json}}</ion-card> -->

  <a routerLink="/account/history">History</a>

</ion-content>
