<ion-header>
  <ion-toolbar>
    <ion-title>Developer Mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      WARNING! USE WITH CARE.
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item (click)="clearAccounts()">
      <ion-label>
        <span translate="DEVELOPER.REMOVE_ACCOUNTS"></span>
      </ion-label>
    </ion-item>

    <ion-item (click)="clearTransactions()">
      <ion-label>
        <span translate="DEVELOPER.REMOVE_TRANSACTIONS"></span>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
