<ion-header>
    <ion-navbar>
        <ion-title>{{"D2FA_SCAN"|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <form #connectForm="ngForm" *ngIf="!verifiedMessage" no-lines>

        <ion-item *ngIf="!isApp" [ngClass]="{'error-border':!validD2faMessage(message), 'valid-border': message.length > 0 && validD2faMessage(message)}">
            <ion-label floating>{{"D2FA_SCAN.INPUT_LABEL" | translate}}</ion-label>
            <ion-input name="message" [(ngModel)]="message"></ion-input>
        </ion-item>

        <div *ngIf="isApp">
            <div *ngIf="!qrCodeLoaded">
                <ion-item class="center-text" no-lines>
                    <h3>{{"IMPORT.SCAN_QRCODE_TEXT"|translate}}</h3>
                </ion-item>
                <ion-row>
                    <button ion-button full icon-left class="large-btn" id="open-wallet-button" color="secondary"
                        (click)="scan()">
                        <ion-icon name="qr-scanner"></ion-icon>
                        {{"IMPORT.SCAN_QRCODE_BUTTON"|translate}}
                    </button>
                </ion-row>
            </div>
        </div>

        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full [disabled]="!connectForm.form.valid||!validD2faMessage(message)" (click)="check(message)"
                    icon-left color="secondary">
                    <ion-icon disabled="!validD2faMessage(message)" name="cog"></ion-icon>
                    {{'CHECK'|translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>

    <form #signForm="ngForm" *ngIf="verifiedMessage" no-lines>

        <h2>{{"D2FA_SCAN.VERIFY_TITLE" | translate}}</h2>

        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm-12 col-md-6>
                        <ion-item>
                            <ion-row>
                                <ion-col>{{"D2FA_SCAN.VERIFY_SOURCE" | translate}}</ion-col>
                                <ion-col class="right">{{verifiedMessage.source}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"D2FA_SCAN.VERIFY_AVATAR" | translate}}</ion-col>
                                <ion-col class="right">{{verifiedMessage.target}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"D2FA_SCAN.VERIFY_HOST" | translate}}</ion-col>
                                <ion-col class="right">{{verifiedMessage.hostname}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{"D2FA_SCAN.VERIFY_REMAINING_TIME" | translate}}</ion-col>
                                <ion-col class="right"><countdown [config]="{leftTime: leftTime}">$!m!:$!s!</countdown></ion-col>
                            </ion-row>
                            <div *ngIf="showDetails">
                                <ion-row>
                                    <ion-col>{{"D2FA_SCAN.VERIFY_CALLBACK" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedMessage.callback}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>{{"D2FA_SCAN.VERIFY_TIME_OF_REQUEST" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedMessage.time*1000|date : 'medium'}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>{{"D2FA_SCAN.VERIFY_REQUEST_DURATION" | translate}}</ion-col>
                                    <ion-col class="right">{{verifiedMessage.timeout}}{{"SECONDS" | translate}}</ion-col>
                                </ion-row>
                            </div>
                            <ion-row>
                                <ion-col>
                                    <button ion-button item-right icon-left class="right-buttons" (click)="showDetails = !showDetails">
                                        <ion-icon *ngIf="!showDetails" name="arrow-down"></ion-icon>
                                        <ion-icon *ngIf="showDetails" name="arrow-up"></ion-icon>
                                        <span *ngIf="!showDetails">{{'SHOW_DETAILS'|translate}}</span>
                                        <span *ngIf="showDetails">{{'HIDE_DETAILS'|translate}}</span>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm-12 col-md-6></ion-col>
                </ion-row>

            </ion-grid>
        </ion-card>

        <ion-item [ngClass]="{'error-border': !validPassword(passphrase)}">
            <ion-label color="primary" floating>{{"PASSWORD" | translate}}</ion-label>
            <ion-input name="passphrase" type="password" [(ngModel)]="passphrase" required></ion-input>
        </ion-item>
        <br>

        <ion-row class="padding-bottom">
            <ion-col>
                <button ion-button full [disabled]="!signForm.form.valid||!validPassword(passphrase)" (click)="signAndSend(passphrase)"
                    icon-left color="secondary">
                    <ion-icon disabled="!validD2faMessage(message)" name="cog"></ion-icon>
                    {{'CHECK'|translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full item-right icon-left (click)="cancel($event)">
                    <ion-icon name="close"></ion-icon>
                    {{'CANCEL'|translate}}
                </button>
            </ion-col>
        </ion-row>

    </form>

</ion-content>