<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title translate="SETTINGS.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item routerLink="language">
      <ion-label>
        <span translate="SETTINGS.LANGUAGE"></span>
      </ion-label>
    </ion-item>

    <ion-item (click)="logout()" class="ion-activatable ion-activated pointer">
      <ion-label>
        <span translate="SETTINGS.LOGOUT"></span>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>